/*=======================V_Account.css===========================*/
div.code_title {
	margin-left: 20px;
}
div.code_titleItem {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 15px;
	float: left;
	border-color: #D5D0DF;
	border-width: 1px;
	line-height: 1.5;
}
div.no_chosen_style {
}
div.chosen_style {
	border-width: 2px;
	border-color: #D5D0DF;
	border-bottom: 0px;
	border-style: solid;
}
.code_content {
	width: 780px;
	height: 300px;
	border-color: #D5D0DF;
	border-width: 1px;
	padding: 10px 0 0 50px;
}
.code_content td {
	padding: 10px;
}
.code_content .h3 {
	padding: 0 10px 20px;
	font-weight: bold;
}
.clear_float {
	float: none;
}
.code_content table {
	width: 100%;
}
.code_content td {
	vertical-align: top;
}
.code_content .left {
	width: 400px;
}
span.privilege_message p {
	padding: 0px;
	margin: 0px;
	float: right;
}
.v_container .price {
	font-size: 20px;
	font-variant: normal;
	font-weight: 200;
	color: Red;
}
.list_thead {
	background-color: #EFEFEF;
}
.list_td td {
	border-bottom: 2px solid #f8f8f8;
	width: 260px;
}
.alert_box_content {
	font-style: normal;
	font-weight: 100;
	width: 410px;
	height: auto;
	text-align: center;
	padding: 30px 0;
}
.alert_display {
	position: absolute;
	display: block;
}
.alert_mod {
	height: 24px;
	line-height: 24px;
	margin: 10px 0;
}
.td100 {
	width: 100px;
}
.alert_tit {
	color: #000;
	font-size: 14px;
}
.alert_tips {
	color: #EB5E00;
	background: #FFF6E1;
	display: inline;
}
.vinput {
	display: inline-block;
	padding: 2px 0 0 5px;
}
.View_Record {
	height: 30px;
	line-height: 30px;
	text-align: right;
	padding-right: 30px;
}
.v_container .v_mod {
	display: inline-block;
	padding: 0 10px;
}
.verifi {
	display: none;
	float: none;
}
#msg a, #msg a:hover {
	color: #D74600;
}
.lineOnTitle .hd {
	padding: 20px 0 10px;
}
.lineOnTitle .bd {
	padding: 0 0 10px;
	text-align: right;
}
.lineOnTitle h3 {
	font-size: 14px;
	line-height: 0;
	border-bottom: 1px solid #cccccc;
}
.lineOnTitle h3 span {
	display: inline;
	padding: 5px;
	background: #fff;
	margin-left: 20px;
	font-weight: bold;
}
.level_module_1 .bd {
	padding: 10px;
	line-height: 26px;
}
.f20 {
	font-size: 20px;
}
.validate {
	width: 80px;
}
#uplink_notice {
	margin: 10px 0 0 0;
}