/*=======================style.css===========================*/
body {
	margin: 0px auto;
	padding: 0px;
	width: 1024px;
	font-family: Arial, Helvetica, sans-serif, Microsoft YaHei !important;
	font-size: 12px;
	color: #444444;
	text-align: center;
}
.meMain {
	margin: 0px;
	padding: 0px;
}
.meMainLeft {
	float: left;
	margin: 0px;
	padding: 0px;
}
.meMainRight {
	float: left;
	margin: 0px 0px 0px 8px;
	padding: 4px 0px 8px 10px;
	width: 840px;
	border: 1px solid #c9e3a3;
	text-align: left;
}
.meMainRight p {
	font-size: 22px;
	font-weight: bold;
	font-family: 'arial';
	padding: 0px 0px 8px 0px;
	color: #000;
}
.meMainList {
	margin: 0px 0px 8px 0px;
	padding: 0px;
	width: 150px;
	border: 1px solid #c9e3a3;
	text-align: left;
}
.meMainList ul {
	margin: 0px;
	padding: 0px;
}
.meMainList li {
	margin: 0px;
	padding: 6px 0px 6px 24px;
	list-style-type: none;
}
.meMainList p {
	background: #ebf8d8;
	font-weight: bold;
	border-bottom: 1px solid #c9e3a3;
	padding: 3px 0px 3px 8px;
	color: #709838;
	overflow: hidden;
}
.meMainList img {
	border: 0px;
	vertical-align: middle;
}
.meRightTitle {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	width: 850px;
}
.smeTitle {
	color: #ff8400;
	font-size: 12px;
	font-weight: normal;
}
.meListLeft {
	float: left;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	width: 90px;
	text-align: center;
}
.meListLeft ul {
	margin: 0px;
	padding: 0px;
}
.meListLeft li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.meListLeft img {
	border: 1px solid #ddd;
	padding: 4px;
}
.meListRight {
	float: left;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	width: 720px;
	text-align: left;
}
.meListRight ul {
	margin: 0px;
	padding: 0px;
}
.meListRight li {
	margin: 0px;
	padding: 0px 0px 2px 0px;
	list-style-type: none;
}
.meListRights {
	float: left;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	width: 720px;
	text-align: left;
}
.meListRights ul {
	margin: 0px;
	padding: 0px;
}
.meListRights li {
	margin: 0px;
	padding: 0px 0px 2px 0px;
	list-style-type: none;
}
a.mBtn {
	color: #999;
	text-decoration: none;
}
a.mBtn:hover {
	color: #709838;
	text-decoration: underline;
}
a.msBtn {
	color: #709838;
	text-decoration: none;
}
a.msBtn:hover {
	color: #709838;
	text-decoration: none;
}
a.lmsBtn {
	color: #6b9f1f;
	text-decoration: underline;
}
a.lmsBtn:hover {
	color: #6b9f1f;
	text-decoration: none;
}
a.lmssBtn {
	color: #ccc;
	text-decoration: underline;
}
a.lmssBtn:hover {
	color: #6b9f1f;
	text-decoration: none;
}
a.fmesBtn {
	background: #6b9f1f;
	border: 1px solid #72ab20;
	color: #fff;
	font-size: 14px;
	border: 1px solid #456813;
	padding: 5px;
	text-decoration: none;
	display: block;
}
a.fmesBtn:hover {
	background: #ff8400;
	border: 1px solid #ea7b04;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}
.meList {
	float: left;
	margin: 0px;
	padding: 6px 0px 10px 0px;
}
.meList table {
	float: left;
	width: 831px;
	border-collapse: collapse;
}
.meList table td {
	padding: 2px;
	line-height: 20px;
	border-top: 1px solid #dfdfdf;
	vertical-align: top;
}
.meRightMain {
	float: left;
	margin: 6px 0px 0px 0px;
	padding: 15px 0px 15px 0px;
	width: 832px;
	border-top: 1px solid #dfdfdf;
}
.meRightMain ul {
	margin: 0px;
	padding: 0px;
}
.meRightMain li {
	margin: 0px;
	padding: 4px 0px 4px 10px;
	list-style-type: none;
}
.notiMain {
	float: left;
	margin: 6px 0px 0px 0px;
	padding: 8px 0px 8px 0px;
	width: 829px;
	border: 1px solid #dfdfdf;
	background: #efefef;
	overflow: hidden;
}
.notiMain ul {
	margin: 0px;
	padding: 0px;
}
.notiMain li {
	margin: 0px;
	padding: 4px 0px 4px 10px;
	list-style-type: none;
}
.notiMain img {
	border: 1px solid #ddd;
	padding: 4px;
	background: #fff;
}
.notiMains {
	float: left;
	margin: 6px 0px 8px 0px;
	padding: 8px 0px 8px 0px;
	width: 829px;
	border: 1px solid #dfdfdf;
	background: #efefef;
	overflow: hidden;
}
.notiMains ul {
	margin: 0px;
	padding: 0px;
}
.notiMains li {
	margin: 0px;
	padding: 4px 0px 4px 10px;
	list-style-type: none;
}
.notiTitle p {
	float: left;
	margin: 0px;
	padding: 6px;
	width: 819px;
	background: #6b9f1f;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
}
.xhList {
	float: left;
	margin: 6px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 500px;
	border: 1px solid #c9e3a3;
	background: #ebf8d8;
	overflow: hidden;
}
.xhList ul {
	margin: 0px;
	padding: 0px;
}
.xhList li {
	margin: 0px;
	padding: 4px 0px 8px 10px;
	list-style-type: none;
	vertical-align: middle;
}
.xhList img {
	vertical-align: middle;
	line-height: 24px;
}
.xhsList {
	float: left;
	margin: 6px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 550px;
	border: 1px solid #eaeabf;
	background: #fdfde5;
	overflow: hidden;
}
.xhsList ul {
	margin: 0px;
	padding: 0px;
}
.xhsList li {
	margin: 0px;
	padding: 4px 0px 8px 10px;
	border-bottom: 1px solid #eaeabf;
	list-style-type: none;
	vertical-align: middle;
}
.xhsList img {
	width: 70px;
	height: 70px;
	border: 1px solid #eaeabf;
	background: #fff;
	padding: 4px;
	vertical-align: middle;
	overflow: hidden;
	line-height: 24px;
}
.topicMain {
	margin: 0px;
	padding: 0px 8px 8px 8px;
	background: #f8f8f8;
	border: 1px solid #d3d3d3;
	width: 1000px;
	overflow: hidden;
}
.topicList {
	float: left;
	margin: 0px;
	padding: 0px 0px 8px 0px;
	text-align: left;
	font-size: 14px;
}
.topicList ul {
	margin: 0px;
	padding: 0px;
}
.topicList li {
	margin: 0px;
	padding: 8px;
	list-style-type: none;
}
.topicMains {
	float: left;
	width: 980px;
	margin: 0px;
	padding: 0px 0px 8px 0px;
	text-align: left;
	font-size: 12px;
	border: 1px solid #eaeabf;
	background: #fdfde5;
	overflow: hidden;
}
.topicMains ul {
	margin: 0px;
	padding: 0px;
}
.topicMains li {
	margin: 0px;
	padding: 8px;
	list-style-type: none;
}
.topicMains img {
	width: 70px;
	height: 70px;
	border: 2px solid #ddd;
	background: #fff;
	padding: 4px;
	vertical-align: middle;
	overflow: hidden;
	line-height: 24px;
}
.topicMainsList {
	float: left;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	border-bottom: 1px solid #eaeabf;
	width: 940px;
}
.topicMainsList ul {
	margin: 0px;
	padding: 0px;
}
.topicMainsList li {
	float: left;
	margin: 0px;
	padding: 0px 8px 0px 0px;
	list-style-type: none;
	line-height: 30px;
}
.xdList {
	float: left;
	margin: 0px;
	padding: 8px 8px 8px 8px;
	background: #fff;
	border: 1px solid #adcb81;
	width: 250px;
}
.xdList ul {
	margin: 0px;
	padding: 0px;
}
.xdList li {
	margin: 0px;
	padding: 8px;
	list-style-type: none;
}
.xdMain {
	float: left;
	width: 980px;
	margin: 0px 0px 8px 0px;
	padding: 8px 0px 8px 0px;
	text-align: left;
	font-size: 12px;
	border: 1px solid #eaeabf;
	background: #fdfde5;
	overflow: hidden;
}
.xdMain ul {
	margin: 0px;
	padding: 0px;
}
.xdMain li {
	margin: 0px;
	padding: 8px;
	list-style-type: none;
}
.xdMain img {
	width: 70px;
	height: 70px;
	border: 1px solid #d3d366;
	background: #fff;
	padding: 4px;
	vertical-align: middle;
	overflow: hidden;
	line-height: 24px;
}
.xdMains {
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 14px;
	width: 855px;
}
.xdMains ul {
	margin: 0px;
	padding: 0px;
}
.xdMains li {
	margin: 0px;
	padding: 2px 8px 2px 0px;
	list-style-type: none;
}
.xdMains img {
	border: 0px;
	width: 18px;
	height: 20px;
}
.xhBleft {
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 14px;
}
.xhBleft ul {
	margin: 0px;
	padding: 0px;
}
.xhBleft li {
	margin: 0px;
	padding: 2px 8px 6px 0px;
	list-style-type: none;
}
a.fsBtn {
	background: url(../img/bgBtn.gif);
	width: 100px;
	text-align: center;
	padding: 4px;
	color: #fff;
	border: 1px solid #538312;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	display: block;
}
a.fsBtn:hover {
	background: url(../img/bgBtn.gif);
	padding: 4px;
	color: #fff;
	border: 1px solid #3e620d;
	text-decoration: none;
}
a.xdBtn {
	background: url(../img/bgBtn.gif);
	width: 90px;
	text-align: center;
	padding: 4px;
	color: #fff;
	border: 1px solid #538312;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	display: block;
}
a.xdBtn:hover {
	background: #ff8400;
	border: 1px solid #ea7b04;
	padding: 4px;
	color: #fff;
	text-decoration: none;
}
a {
	color: #6b9f1f;
	text-decoration: none;
}
a:hover {
	color: #6b9f1f;
	text-decoration: underline;
}
* {
	margin: 0;
	padding: 0;
}
* html {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0px;
	padding: 0px;
}
img {
	border: 0px;
}
.hsTex {
	color: #999;
}
.redTex {
	color: #ff0000;
}
.xhTitle {
	font-size: 14px;
}
.xhsTitle {
	float: right;
	padding-right: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #ff3300;
}
.topicListTitle {
	width: 980px;
	font-size: 24px;
	color: #000;
	border-bottom: 1px solid #d3d3d3;
	font-weight: bold;
}
input {
	vertical-align: middle;
}
.fy {
	float: right;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	border-top: 3px solid #dfdfdf;
	width: 830px;
	text-align: left;
}
.fyList {
	float: left;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	text-align: left;
}
.fyList ul {
	margin: 0px;
	padding: 0px;
}
.fyList li {
	float: left;
	margin: 0px;
	padding: 0px 0px 4px 8px;
	list-style-type: none;
}
a.fyBtn {
	background: #fff;
	border: 1px solid #456813;
	color: #456813;
	padding: 4px;
	text-decoration: none;
	display: block;
}
a.fyBtn:hover {
	background: #6b9f1f;
	border: 1px solid #456813;
	color: #fff;
	padding: 4px;
	text-decoration: none;
}
a.fysBtn {
	background: #6b9f1f;
	border: 1px solid #456813;
	color: #fff;
	padding: 4px;
	text-decoration: none;
	display: block;
}
a.fysBtn:hover {
	background: #6b9f1f;
	border: 1px solid #456813;
	color: #fff;
	padding: 4px;
	text-decoration: none;
}
a.fyhBtn {
	background: #fff;
	border: 1px solid #dddddd;
	color: #999999;
	padding: 4px;
	text-decoration: none;
	display: block;
}
a.fyhBtn:hover {
	background: #fff;
	border: 1px solid #dddddd;
	color: #999999;
	padding: 4px;
	text-decoration: none;
}