<section id="login" class="login">
    <form>
        <div class="field"><label class="vm">用户名</label><input class="vm" type="text"  id="userName" /></div>
        <div class="field"><label class="vm">密&nbsp;&nbsp;&nbsp;&nbsp;码</label><input class="vm" type="password" id="userPassword"  /></div>
        <div class="bt"><a href="" class="btn-a" id="tologin">登录</a></div>
    </form>
    <article class="other">
        <header>使用合作网站登录</header>
        <ul>
            <li class="item"><i class="icon-32wb vm"></i><a class="vm title"  href="http://www.ymatou.com/Sina/SinaLogin">新浪微博账户</a></li>
            <li class="item"><i class="icon-32zfb vm"></i><a class="vm title"   href="http://www.ymatou.com/AlipayFastPayment/FastPayment">支付宝账户</a></li>
        </ul>
    </article>
</section>