/*=======================Shared.css===========================*/
#divAddCharging div label {
  display: inline-block;
  width: 200px;
  min-width: 200px;
}
#divAddCharging div input[type="text"] {
  width: 200px;
}
#divEditCharging div label {
  display: inline-block;
  width: 200px;
  min-width: 200px;
}
#divEditCharging div input[type="text"] {
  width: 200px;
}

/* fallback for browsers that don't support css3 */
.ViewListCharging div.button {
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.21799999475479126s;
  -webkit-transition-property: border-color;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-user-select: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f5f5f5), to(#f1f1f1));
  background-origin: padding-box;
  border-bottom-color: rgba(0, 0, 0, 0.098);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.098);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.098);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.098);
  border-top-left-radius: 0px;
  border-top-right-radius: 2px;
  border-top-style: solid;
  border-top-width: 1px;
  color: #666;
  cursor: default;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 15px;
  line-height: normal;
  margin-bottom: 2px;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 0px;
  outline-color: #666;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  position: relative;
  text-align: center;
  text-shadow: white 0px 1px 0px;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  border-radius: 2px;
}
div.toolbar {
  margin-bottom: 10px;
}
div.toolbar div.button {
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.21799999475479126s;
  -webkit-transition-property: border-color;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-user-select: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f5f5f5), to(#f1f1f1));
  background-origin: padding-box;
  border-bottom-color: rgba(0, 0, 0, 0.098);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.098);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.098);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.098);
  border-top-left-radius: 0px;
  border-top-right-radius: 2px;
  border-top-style: solid;
  border-top-width: 1px;
  color: #666;
  cursor: default;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 15px;
  line-height: normal;
  margin-bottom: 2px;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 0px;
  outline-color: #666;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  position: relative;
  text-align: center;
  text-shadow: white 0px 1px 0px;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  border-radius: 2px;
}
div.searchbar div.button {
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.21799999475479126s;
  -webkit-transition-property: border-color;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-user-select: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4d90fe), to(#4787ed));
  background-origin: padding-box;
  border-bottom-color: rgba(35, 67, 131, 0.281);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: rgba(35, 67, 131, 0.281);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(35, 67, 131, 0.281);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(35, 67, 131, 0.281);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-style: solid;
  border-top-width: 1px;
  color: white;
  cursor: default;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 15px;
  line-height: normal;
  margin-bottom: 5px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 0px;
  outline-color: white;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: 141px;
  display: inline-block;
}
div.searchbar div.textboxKeyword {
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
  border-bottom-color: black;
  border-collapse: collapse;
  border-left-color: black;
  border-right-color: black;
  border-top-color: black;
  display: inline-block;
  font-family: arial, sans-serif;
  height: 32px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  width: auto;
}
div.searchbar div.textboxKeyword input {
  -webkit-appearance: none;
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-rtl-ordering: logical;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0s;
  -webkit-transition-property: none;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-user-select: text;
  background-color: white;
  border-bottom-color: rgba(0, 0, 0, 0.148);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: rgba(0, 0, 0, 0.148);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.148);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.246);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: #333;
  cursor: auto;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 0px;
  padding-top: 3px;
  text-align: -webkit-auto;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  width: 300px;
  word-spacing: 0px;
}