<%=include commons/header.html%>
	<div class="banner">
		<p class="share-top">
			<span class="title"></span>
		</p>
		<div class="bannerCont" style="margin-bottom: 30px">
			<a href="#">
				<img src="<%=staticfileurl('/images/activitys/bargainGroups/product-info-banner.jpg')%>" alt="商品信息">
			</a>
		</div>
		<div class="bannerCont bannerKoling share-area">
			<img src="<%=staticfileurl('/images/activitys/bargainGroups/product-info.jpg')%>" alt="商品信息">
		</div>
	</div>
	<!-- 中间区域 -->
	<div class="k1_center ">
		<div class="kolingCont">
			<p class="code-title"><em class="img img-baby"></em>记下口令 即可参团</p>
			<p><span class="kolingInput"><%=code%></span></p>
			<p class="code-desc">如何使用口令？</p>
		</div>
		<ul class="code-user-step">
			<li>
				<span>
					<em class="img img-logo"></em>
				</span>
				<small>1.下载app</small>
			</li>
			<li>
				<i class="img img-arrow"></i>
				<span> <em  class="img img-lama"></em></span>
				<small>2.首页找到本活动</small>
			</li>
			<li>
				<i class="img img-arrow"></i>
				<span><em  class="img img-input"></em></span>
				<small>3.输入口令</small>
			</li>			
		</ul>
	</div>

	<div class="maShangCanJia share-join">
		<div class="maShangCont">			
			<p class="huodong_0">点击按钮开始下载洋码头海外商城APP</p>
			<p class="huodong_1"><a class="publicBtn" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.ymatou.app&g_f=991653">马上参加活动</a></p>
			<p class="huodong_2">仅限 iOS 及 Android</p>
			<p class="huodong_2"><em class="img img-logo-gray"></em></p>	
		</div>
	</div>
<%=include commons/footer.html%>