/*=======================Login.css===========================*/
.ruiliLogin .alert_box_inner {
    width: 330px;
    padding: 20px 30px;
}
.ruiliLogin .hd {
    font-size: 14px;
    color: #000;
}
.ruiliLogin .text {
    width: 190px;
}
.ruiliLogin .item {
    display: inline-block;
    width: 100%;
}
.ruiliLogin .alert_box_dec {
    line-height: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}
.ruiliLogin .verifi {

    /*padding: 0 10px;*/
    margin: 0;
    display: none;
}
.ruiliLogin .fill .btn {
    padding-top: 10px;
    clear: both;
}