<div temp-data="d">
    <ul>
        <li class="item">
            <label>卖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家：</label>
            <span class="sellername">${d.Name}</span>
        </li>
        <li class="item"><label>卖家信用：</label><img src="${d.CreditPicUrl}" />
        </li>
        <li class="item"><label>最近上线：</label><span class="onlinetime">${d.LastLoginTime}</span></li>
        <li class="item"><label>所&nbsp;&nbsp;在&nbsp;&nbsp;地：</label><span class="selleraddress">${d.StateChineseName}</span></li>
    </ul>
</div>