<div temp-data="data">
    <dl class="clearfix" id="specification_0">
        <dt class="dt">尺码分类：</dt>
        <dd class="dd">
            <span class="item">12</span>
            <span class="item">52</span>
            <span class="item">1</span>
            <span class="item">9</span>
        </dd>
    </dl>
    <dl class="clearfix" id="specification_1">
        <dt class="dt">颜色分类：</dt>
        <dd class="dd">
            <span class="item">蓝色格子</span>
            <span class="item">粉色格子</span>
            <span class="item">绿色格子</span>
            <span class="item">绿色格子</span>
        </dd>
    </dl>
</div>