<section class="mod-search">
    <div class="panel">
        <i class="icon-search"></i><input type="text" class="search" id="searchInput" placeholder="请输入搜索关键字"  /><a id="btn-search" class="btn-search" href="javascript:void 0">搜索</a>
    </div>
</section>
<div class="nofound">
    <header class="clearfix">
        <span class="fl icon-font-ymt">&#xf0004;</span><div class="fr"><h3>没有找到与“<strong class="blue" id="noFoundString"></strong>”有关的商品！</h3>建议您按照以下提示调整关键字：</div>
    </header>
    <div class="area">
        <p>1、	您输入的关键字是否有错别字，或者减少关键字试试；</p>
        <p>2、	如果您使用自然语言进行搜索，请提炼出关键字再搜索试试！</p>
    </div>
</div>