<article class="clearfix mod-sideslide slideright out" id="SortProduct">
    <div class="fr main">
        <ul class="mod-collapsible">
            <li class="item">
                <div class="clearfix hd">
                    <div class="fr"><label for="Checkbox0" class="title">商家</label></div><input type="checkbox" class="fl" id="Checkbox0" />
                </div>
            </li>
            <li class="item">
                <div class="clearfix hd">
                    <div class="fr"><label for="Checkbox1" class="title">美国直邮</label></div><input type="checkbox" class="fl" id="Checkbox1" />
                </div>
            </li>
            <li class="item">
                <div class="clearfix hd">
                    <div class="fr"><label for="Checkbox2" class="title">现货商品</label></div><input type="checkbox" class="fl" id="Checkbox2" />
                </div>
            </li>
        </ul>
    </div>
    <div class="fl trigger"><span>>></span><i></i></div>
</article>