<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="scriptversionmap">
          <match url="(^\S*)(.[0-9]{10,10}.js$)" />
          <action type="Rewrite" url="{R:1}.js" />
        </rule>
        <rule name="cssversionmap">
          <match url="(^\S*)(.[0-9]{10,10}.css$)" />
          <action type="Rewrite" url="{R:1}.css" />
        </rule>
        <rule name="minscriptversionmap">
          <match url="(^\S*)(.[0-9]{10,10}.min.js$)" />
          <action type="Rewrite" url="{R:1}.min.js" />
        </rule>
        <rule name="mincssversionmap">
          <match url="(^\S*)(.[0-9]{10,10}.min.css$)" />
          <action type="Rewrite" url="{R:1}.min.css" />
        </rule>
                <rule name="double slash">
                    <match url="//(\S*)" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="IMGMAP">
                    <match url="(^\S*)(.[0-9]{10,10}.(png|jpg|gif|svg|bmp)$)" />
                    <action type="Rewrite" url="{R:1}.{R:3}" />
                </rule>
                <rule name="FONTMAP">
                    <match url="(^\S*)(.[0-9]{10,10}.(woff|tff|svg|eot)$)" />
                    <action type="Rewrite" url="{R:1}.{R:3}" />
                </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="max-age=31536000" />
        <add name="Expires" value="Mon, 31 Dec 2012 23:59:59 GMT" />
	<add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
         <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
     </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
