/* line 2, ../../source/assets/sass/reset.scss */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../../source/assets/sass/reset.scss */
html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

/* line 14, ../../source/assets/sass/reset.scss */
ul,
ol,
li {
  list-style: none;
}

/* line 20, ../../source/assets/sass/reset.scss */
em,
i {
  font-style: normal;
}

/* line 25, ../../source/assets/sass/reset.scss */
input[type="text"],
input[type="password"],
input[type="tel"],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*floatbox event*/
@keyframes modelSlide {
  from {
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    transform: translate(0, -200%);
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes modelSlide {
  from {
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    transform: translate(0, -200%);
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes modelSlide {
  from {
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    transform: translate(0, -200%);
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes modelSlide {
  from {
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    transform: translate(0, -200%);
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/* line 5, ../../source/css/activity/_errormask.scss */
.floatbox {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 17, ../../source/css/activity/_errormask.scss */
.floatbox .floatbox-content {
  position: relative;
  z-index: 100;
  display: inline-block;
  box-sizing: border-box;
  color: #999;
  font-style: normal;
  line-height: 1.0625rem;
  vertical-align: middle;
  padding: 0.625rem 0.75rem;
  min-width: 4rem;
  max-width: 100%;
  -webkit-border-radius: .02rem;
  animation: modelSlide .8s;
  -moz-animation: modelSlide .8s;
  -webkit-animation: modelSlide .8s;
  -o-animation: modelSlide .8s;
}
/* line 34, ../../source/css/activity/_errormask.scss */
.floatbox .floatbox-content .ui-msg, .floatbox .floatbox-content .ui-msg-err {
  display: inline-block;
  color: #fff;
  font-style: normal;
  font-size: 0.875rem;
  vertical-align: middle;
  padding: 0.625rem 0.75rem;
  min-width: 4rem;
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 49, ../../source/css/activity/_errormask.scss */
.floatbox.show {
  display: block;
}
/* line 52, ../../source/css/activity/_errormask.scss */
.floatbox:after {
  content: '\20';
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

/* line 11, ../../source/css/activity/fenzhong.scss */
.register-body {
  min-height: 38.75rem;
  position: relative;
  background-color: #7a0100;
  background-image: url(http://staticontent.ymatou.com/images/activity/fenzhong/banner_02.jpg?v=2015052511);
  background-position: center 2.8125rem;
  background-repeat: no-repeat;
  background-size: 20rem 16.5625rem;
}

/* line 22, ../../source/css/activity/fenzhong.scss */
.productlist-body {
  background-color: #cc3333;
}

/* line 26, ../../source/css/activity/fenzhong.scss */
.top-logo {
  height: 2.8125rem;
  background-color: #cc3333;
  background-image: url(http://staticontent.ymatou.com/images/activity/fenzhong/logo_03b.png?v=2015052511);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 4rem 2.5rem;
}

/* line 35, ../../source/css/activity/fenzhong.scss */
.err-tips {
  color: #cc3333;
}

/* line 39, ../../source/css/activity/fenzhong.scss */
.operation-box {
  width: 18.34375rem;
  margin: 0 auto;
  margin-top: 12.75rem;
}
/* line 43, ../../source/css/activity/fenzhong.scss */
.operation-box .coupon-box {
  -moz-box-shadow: 0 -0.625rem 0.625rem rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 -0.625rem 0.625rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 -0.625rem 0.625rem rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  position: relative;
  width: 18.34375rem;
  height: 6.15625rem;
}
/* line 51, ../../source/css/activity/fenzhong.scss */
.operation-box .coupon-box img {
  width: 18.34375rem;
}
/* line 54, ../../source/css/activity/fenzhong.scss */
.operation-box .coupon-box .shears {
  position: absolute;
  bottom: -0.5625rem;
  right: -0.78125rem;
  width: 1.4375rem;
  height: 1.21875rem;
  background-image: url(http://staticontent.ymatou.com/images/activity/fenzhong/shears_03.png?v=2015052511);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 66, ../../source/css/activity/fenzhong.scss */
.operation-box .btn-get {
  height: 6.125rem;
  background-image: url(http://staticontent.ymatou.com/images/activity/fenzhong/getbtn_03.png?v=2015052511);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 73, ../../source/css/activity/fenzhong.scss */
.operation-box .btn-confirm {
  height: 4.4375rem;
  background-image: url(http://staticontent.ymatou.com/images/activity/fenzhong/confirmbtn_03.png?v=2015052511);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 0.5625rem;
  border-bottom-right-radius: 0.5625rem;
  overflow: hidden;
}
/* line 83, ../../source/css/activity/fenzhong.scss */
.operation-box .register-box {
  display: none;
  position: relative;
  z-index: 999;
}
/* line 87, ../../source/css/activity/fenzhong.scss */
.operation-box .register-box.show {
  display: block;
}
/* line 91, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from {
  background-color: #fff;
}
/* line 93, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .operate-item {
  height: 3.21875rem;
  border-bottom: 1px solid #ececec;
}
/* line 96, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .operate-item .icon-item {
  width: 2.25rem;
  height: 3.21875rem;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 102, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .operate-item .icon-item.icon-mobile {
  background-image: url(http://staticontent.ymatou.com/images/activity/fenzhong/operateIcon_03.png?v=2015052511);
  background-size: 0.9375rem 1.71875rem;
}
/* line 106, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .operate-item .icon-item.icon-message {
  background-image: url(http://staticontent.ymatou.com/images/activity/fenzhong/operateIcon_07.png?v=2015052511);
  background-size: 1.34375rem 1.125rem;
}
/* line 110, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .operate-item .icon-item.icon-password {
  background-image: url(http://staticontent.ymatou.com/images/activity/fenzhong/operateIcon_11.png?v=2015052511);
  background-size: 1.125rem 1.3125rem;
}
/* line 114, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .operate-item .icon-item.icon-auth {
  background-image: url(http://staticontent.ymatou.com/images/activity/fenzhong/authIcon.png?v=2015052511);
  background-size: 1.3125rem 0.6875rem;
}
/* line 119, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .operate-item .input-item {
  width: 16.09375rem;
  height: 1.71875rem;
  line-height: 1.71875rem;
  margin: 0.75rem 0;
  vertical-align: middle;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
}
/* line 129, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .operate-item .input-item.change {
  font-size: 1.125rem;
}
/* line 134, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .mobile-box {
  position: relative;
}
/* line 136, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .mobile-box .btn-send {
  width: 6.875rem;
  height: 2.71875rem;
  border: none;
  background-color: #cc3333;
  text-align: center;
  line-height: 2.71875rem;
  color: #fff;
  font-size: 0.9375rem;
  position: absolute;
  right: 0;
  top: 0.25rem;
}
/* line 148, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .mobile-box .btn-send.disable {
  background-color: #ccc;
}
/* line 153, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .auth-box {
  position: relative;
}
/* line 155, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .auth-box .auth-code {
  width: 4.8125rem;
  height: 3.21875rem;
  border: none;
  text-align: center;
  position: absolute;
  right: 1.375rem;
  top: 0;
}
/* line 163, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .auth-box .auth-code .auth-tips {
  font-size: 0.5625rem;
  color: #cc3333;
  height: 1.1875rem;
  line-height: 1.1875rem;
  display: inline-block;
}
/* line 170, ../../source/css/activity/fenzhong.scss */
.operation-box .register-from .auth-box .auth-code img {
  height: 2.1875rem;
}
/* line 176, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user {
  display: block;
  margin-top: 1.875rem;
}
/* line 179, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .coupon-box {
  box-shadow: none;
  height: 11.3125rem;
}
/* line 182, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .coupon-box img {
  height: 11.3125rem;
}
/* line 186, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .operate-tips {
  height: 2.84375rem;
  line-height: 2.84375rem;
  font-size: 0.75rem;
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/textbg_03.png?v=2015052001) center #fff;
  text-align: center;
  border-bottom: 1px solid #b2b2b2;
  color: #000;
}
/* line 195, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .register-box {
  display: block;
}
/* line 197, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .register-box .input-password {
  border: none;
}
/* line 200, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .register-box .btn-resiveCoupon {
  height: 3.40625rem;
  background-color: #cc3333;
  line-height: 3.40625rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
/* line 211, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .register-box .btn-resiveCoupon.disable {
  background-color: #ccc;
  color: #999;
}
/* line 218, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .register-from .auth-box {
  height: 4rem;
}
/* line 220, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .register-from .auth-box .input-auth {
  height: 3.375rem;
  margin: 0.3125rem 0;
}
/* line 224, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .register-from .auth-box .auth-code {
  top: 0.3125rem;
}
/* line 227, ../../source/css/activity/fenzhong.scss */
.operation-box.old-user .register-from .auth-box .icon-auth {
  height: 4rem;
}

/* line 235, ../../source/css/activity/fenzhong.scss */
.flow-box {
  width: 100%;
  height: 3.25rem;
  position: absolute;
  bottom: 4.25rem;
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/flowbg_05c.png?v=2015052511) center no-repeat;
  background-size: 14.34375rem 3.15625rem;
  z-index: 99;
}

/* line 245, ../../source/css/activity/fenzhong.scss */
.bottom-bg {
  width: 100%;
  height: 9.6875rem;
  position: absolute;
  bottom: 0rem;
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/bottombg_03a.png?v=2015052511) center bottom no-repeat;
  background-size: cover;
  z-index: 99;
}

/* line 256, ../../source/css/activity/fenzhong.scss */
.look-rules {
  text-align: center;
  height: 3.0625rem;
  line-height: 3.0625rem;
  width: 100%;
  z-index: 999;
  background-color: #000000;
}
/* line 263, ../../source/css/activity/fenzhong.scss */
.look-rules a {
  color: #fff;
  text-decoration: underline;
}
/* line 267, ../../source/css/activity/fenzhong.scss */
.look-rules.absolute {
  position: absolute;
  bottom: 0rem;
  background: none;
}

/* line 274, ../../source/css/activity/fenzhong.scss */
.rules-dialog {
  width: 18.40625rem;
  background-color: #333;
  position: relative;
  color: #fff;
  border-radius: 0.75rem;
  padding-bottom: 1.25rem;
}
/* line 284, ../../source/css/activity/fenzhong.scss */
.rules-dialog .rules-title {
  font-size: 1.8125rem;
  height: 3.4375rem;
  line-height: 3.4375rem;
  text-align: center;
  margin-top: 0.375rem;
}
/* line 291, ../../source/css/activity/fenzhong.scss */
.rules-dialog p {
  line-height: 1.125rem;
  font-size: 0.75rem;
  padding: 0 1.25rem;
  text-align: left;
}
/* line 297, ../../source/css/activity/fenzhong.scss */
.rules-dialog .bottom-tips {
  font-size: 0.5rem;
  text-align: center;
  margin-top: 2rem;
}

/* line 304, ../../source/css/activity/fenzhong.scss */
.close {
  width: 3.3125rem;
  height: 3.3125rem;
  position: absolute;
  right: -0.4375rem;
  top: -0.4375rem;
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/close_03.png?v=2015052511) center no-repeat;
  background-size: cover;
  border-radius: 100%;
}

/* line 315, ../../source/css/activity/fenzhong.scss */
.main-box {
  width: 20rem;
  margin: 0 auto;
}

/* line 320, ../../source/css/activity/fenzhong.scss */
.receive-success, .product-item {
  text-align: center;
  position: relative;
}
/* line 5, ../../source/assets/sass/_mixin.scss */
.receive-success:before, .receive-success:after, .product-item:before, .product-item:after {
  content: "";
  display: table;
}
/* line 10, ../../source/assets/sass/_mixin.scss */
.receive-success:after, .product-item:after {
  clear: both;
}
/* line 324, ../../source/css/activity/fenzhong.scss */
.receive-success img, .product-item img {
  width: 20rem;
  float: left;
}
/* line 328, ../../source/css/activity/fenzhong.scss */
.receive-success .btn-buy, .product-item .btn-buy {
  width: 6.0625rem;
  height: 1.53125rem;
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/buyBtn_05.png?v=2015052511) center no-repeat;
  background-size: contain;
  position: absolute;
  left: 10.4375rem;
  bottom: 1.375rem;
  border: none;
}

/* line 341, ../../source/css/activity/fenzhong.scss */
.product-item.down-box {
  width: 20rem;
  height: 12.0625rem;
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/bottomdownbg_02.png?v=2015052511) center no-repeat;
  background-size: contain;
  position: relative;
}
/* line 348, ../../source/css/activity/fenzhong.scss */
.product-item .btn-down {
  display: inline-block;
  width: 5.34375rem;
  height: 7.78125rem;
  position: absolute;
  top: 3.625rem;
}
/* line 354, ../../source/css/activity/fenzhong.scss */
.product-item .btn-down.ctc-down {
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/downpic_05a.png?v=2015052511) center no-repeat;
  background-size: contain;
  left: 7.375rem;
}
/* line 359, ../../source/css/activity/fenzhong.scss */
.product-item .btn-down.mtc-down {
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/downpic_03a.png?v=2015052511) center no-repeat;
  background-size: contain;
  right: 1.1875rem;
}

/* line 367, ../../source/css/activity/fenzhong.scss */
.over-banner {
  text-align: center;
}
/* line 369, ../../source/css/activity/fenzhong.scss */
.over-banner img {
  width: 20rem;
}

/* line 374, ../../source/css/activity/fenzhong.scss */
.over-body {
  background-color: #262626;
}
/* line 377, ../../source/css/activity/fenzhong.scss */
.over-body .down-box {
  padding-top: 3.0625rem;
}
/* line 379, ../../source/css/activity/fenzhong.scss */
.over-body .down-box .down-tip {
  text-align: center;
}
/* line 381, ../../source/css/activity/fenzhong.scss */
.over-body .down-box .down-tip img {
  width: 18.0625rem;
}
/* line 385, ../../source/css/activity/fenzhong.scss */
.over-body .down-box .btn-box {
  position: relative;
  width: 1px;
  margin: 0 auto;
  padding-top: 1.25rem;
}
/* line 390, ../../source/css/activity/fenzhong.scss */
.over-body .down-box .btn-box .btn-mtc {
  position: absolute;
  left: -7.875rem;
  width: 7.375rem;
  height: 11.0625rem;
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/acoverdown_03.png?v=2015052511) center no-repeat;
  background-size: contain;
}
/* line 398, ../../source/css/activity/fenzhong.scss */
.over-body .down-box .btn-box .btn-ctc {
  position: absolute;
  right: -7.875rem;
  width: 7.375rem;
  height: 11.0625rem;
  background: url(http://staticontent.ymatou.com/images/activity/fenzhong/acoverdown_05.png?v=2015052511) center no-repeat;
  background-size: contain;
}

/* line 410, ../../source/css/activity/fenzhong.scss */
.down-page {
  background-color: #991108;
}
/* line 412, ../../source/css/activity/fenzhong.scss */
.down-page .main-box {
  width: 20rem;
  margin: 0 auto;
}
/* line 5, ../../source/assets/sass/_mixin.scss */
.down-page .main-box .img-item:before, .down-page .main-box .img-item:after {
  content: "";
  display: table;
}
/* line 10, ../../source/assets/sass/_mixin.scss */
.down-page .main-box .img-item:after {
  clear: both;
}
/* line 417, ../../source/css/activity/fenzhong.scss */
.down-page .main-box .img-item img {
  width: 20rem;
  float: left;
}
