/*=======================community.css===========================*/

/* CSS Document */
#community {
    width: 1000px;
    text-align: left;
    margin: 10px auto 0;
    vertical-align: top;
    font-family: 宋体;
    overflow: hidden;
}

#community .mainbar, #community .sidebar {
    font-size: 12px;
    vertical-align: top;
}

#community .sidebar {
    width: 246px;
    float: left;
}

#community .mainbar {
    width: 744px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

#community .mat {
    margin-top: 10px;
}

#community .mat15 {
    margin-top: 15px;
}

#community .yel {
    color: #F04D00;
}

#community .subtitle {
    color: #666666;
}

#community .black {
    color: #000;
}

#community .blue {
    color: #3369FF;
}

#community .marr {
    margin-right: 10px;
}

#community .delnbsp {
    font-size: 0;
    letter-spacing: -4px;
}

#community .setfont {
    font-size: 12px;
    letter-spacing: 0.08em;
}

#community .commod {
    display: inline-block;
    letter-spacing: 0.03em;
    vertical-align: top;
}

#community a.yel:hover {
    color: #3369FF;
}

#community .detail {
    color: #F04D00;
}

#community a.gray {
    color: #3f3f3f;
}

#community .pad {
    padding-left: 0;
}

.commod a:link, .commod a:visited, .commod a:active {
    color: #000;
    text-decoration: none;
}

.commod a:hover {
    color: #3369FF;
}

.commod .prolist {
    display: inline-block;
    width: 100%;
}

.commod .prolist .proimg, .commod .prolist .proimg .img {
    position: absolute;
}

.commod .prolist .procon {
    display: inline-block;
}

.commod .prolist .h3 {
    font-size: 1.2em;
}

.commod .prolist .dec {
    line-height: 2em;
}

.commod .hd {
    line-height: 24px;
    height: 24px;
    background: url(/content/img/sprites/bg.png) 0 -58px repeat-x;
}

.commod .hd .right {
    float: right;
}

.commod .hd .left {
    display: inline-block;
}

.commod .hd .left strong {
    font-size: 14px;
    padding-right: 5px;
}

.commod .hd .left i {
    color: #CCC;
}

.commod .hd .left strong em {
    color: #F04D00;
}

.placard .hd .left, .buyer .hd .left {
    _margin-top: 6px;
}

.speTitle .hd .left, .slide .imgtriggers i, .sidebar .commod .icon, .search .box, .placard .posts, .buyer .hd .arrow_right, .buyer .hd .arrow_left, .arrowBox .arrow {
    background: url(/content/img/sprites/community.png) no-repeat;
}

.speTitle .hd .left {
    width: 83px;
    height: 29px;
    line-height: 30px;
    background-position: -167px 0;
    text-align: center;
    margin-top: -5px;
}

.slide .imgtriggers i {
    background: url(/content/img/sprites/community.png) no-repeat;
}

.mainbar .slide {
    width: 398px;
    padding: 6px 6px 0;
    border: 1px solid #e2e2e2;
    background: #EFEFEF;
}

.mainbar .news {
    width: 320px;
    margin-left: 10px;
}

.mainbar .discount, .mainbar .imgScroll, .mainbar .ask, .mainbar .hot, .mainbar .knowledge, .mainbar .Share, .sidebar .buyer, .sidebar .member, .activeMembers {
    width: 100%;
}

.mainbar .nav {
    background: url(/content/img/sprites/bg.png) 0 -83px repeat-x;
    border: 1px solid #FEBE8F;
    box-shadow: 1px 2px 2px 0 #ccc;
    font-weight: bold;
    height: 30px;
    font-size: 0;
    line-height: 30px;
}

.nav .item {
    font-size: 14px;
    padding: 0 10px;
    border-left: 1px solid #FEBE8F;
    color: #F04C00;
    font-family: "微软雅黑", "宋体", sans-serif;
    position: relative;
}

.nav .type {
    height: 30px;
    line-height: 30px;
}

.nav .type a {
    display: inline-block;
    vertical-align: middle;
}

.nav .over {
    background-color: #FFF7E6;
    border: 1px solid #FEBE8F;
    border-bottom: 0;
    position: relative;
    z-index: 101;
    margin: -1px -1px 0 0;
}

.nav .list {
    display: none;
    font: normal 12px/24px "宋体";
    color: #333;
    background: #FFF7E6;
    border: 1px solid #FEBE8F;
    overflow: hidden;
    margin-top: -1px;
    position: absolute;
    z-index: 100;
    right: -1px;
    width: 110px;
    text-align: left;
}

.nav .list li {
    border-bottom: 1px dashed #FEBE8F;
    padding: 0 10px;
    margin-bottom: -1px;
    height: 24px;
}

.mainbar .ask {
    width: 366px;
    border-top: 3px solid #F04D00;
    padding-top: 5px;
}

.sidebar .commod .hd {
    padding: 0 10px;
}

.sidebar .commod .icon {
    display: inline-block;
    width: 17px;
    height: 20px;
    margin: 0 8px 0 0;
    vertical-align: middle;
}

.sidebar .infolist .item {
    line-height: 26px;
    border-bottom: 1px dashed #E2E2E2;
    display: block;
}

.sidebar .infolist .time {
    padding: 0 5px;
    color: #999;
}

.sidebar .placard {
    border: 1px solid #FEBE8F;
    width: 242px;
    overflow: hidden;
}

.sidebar .placard .hd {
    background: url(/content/img/sprites/bg.png) 0 -26px repeat-x;
    height: 31px;
    line-height: 28px;
}

.sidebar .placard .infolist .item {
    border-bottom: 0;
    line-height: 28px;
    font-size: 12px;
    width: 226px;
    _width: 216px;
    overflow: hidden;
    height: 28px;
}

.sidebar .placard .icon {
    width: 19px;
    background-position: -33px 0;
}

.sidebar .buyer {
    width: 244px;
    overflow: hidden;
}

.sidebar .buyer .icon {
    width: 18px;
    height: 17px;
    background-position: -14px 0;
}

.sidebar .buyer .hd {
    background: url(/content/img/sprites/bg.png) repeat-x 0 -83px;
    height: 30px;
    border: 1px solid #FEBE8F;
    line-height: 28px;
}

.search .box {
    background-position: 0 -115px;
    height: 23px;
    padding-left: 20px;
    padding-top: 3px;
}

.search .search_input {
    height: 18px;
    width: 150px;
    border: 0;
    color: #999999;
    line-height: 20px;
    vertical-align: top;
}

.search .btn {
    width: 50px;
    height: 20px;
    display: inline-block;
    text-indent: -999em;
    background: url(about:blank);
}

.slide .imgbox, .slide .imgbox .box {
    width: 398px;
    height: 268px;
    overflow: hidden;
}

.slide .imgbox .img {
    width: 400px;
    height: 268px;
}

.slide .imgtriggers {
    height: 52px;
    padding-top: 8px;
    margin: 0 -6px;
    width: 412px;
}

.slide .imgtriggers .item {
    width: 82px;
    height: 47px;
    float: left;
    padding-top: 5px;
    text-align: center;
    position: relative;
}

.slide .imgtriggers a {
    display: inline-block;
}

.slide .imgtriggers i {
    display: none;
    position: absolute;
    background-position: 0 0;
    width: 13px;
    height: 6px;
    left: 33px;
    top: -6px;
    font-size: 0;
}

.slide .imgtriggers .current {
    background: #F04E00;
}

.slide .imgtriggers .current i {
    display: block;
}

.slide .imgtriggers .img {
    width: 68px;
    height: 40px;
    border: 1px solid #FEBE8F;
    display: block;
    margin: 0 auto;
}

.news .infolist .item {
    line-height: 30px;
    border-bottom: 1px dashed #CCC;
    height: 30px;
    width: 100%;
}

.news .infolist .tit {
    height: 52px;
    padding-top: 5px;
}

.news .infolist h3 {
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    overflow: hidden;
}

.news .infolist p {
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}

.news .infolist p a {
    color: #666;
}

.news .infolist .con {
    display: inline-block;
    width: 290px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
}

#community .nav a.item:hover {
    text-decoration: underline;
}

.nav .tit, .nav .tit:hover {
    color: #000;
    text-decoration: none;
}

.nav .first {
    border-left: 0;
}

.nav .last, .nav .last:hover {
    border-left: 0;
    float: right;
    padding: 0;
    text-align: center;
    width: 90px;
}

.discountTab {
    border: 1px solid #E2E2E2;
    border-top: 0;
    box-shadow: 1px 1px 3px 0 #CCCCCC;
}

.discountTab .item {
    width: 150px;
    padding: 10px;
    border-right: 1px dashed #E2E2E2;
    vertical-align: top;
}

.discountTab .item .img {
    width: 150px;
    height: 150px;
}

.discountTab .item .h4 {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
}

.discountTab .last {
    padding: 5px 10px;
    vertical-align: top;
}

.speTitle .discountTab .prolist {
    padding: 4px 0;
    border-bottom: 1px solid #E2E2E2;
    vertical-align: top;
    margin: 1px 0 -1px;
}

.discount_process .banner {
    white-space: nowrap;
    width: 1000px;
    height: 75px;
}

.Share .discountTab .prolist .dec {
    line-height: 1.4em;
}

.Share .discountTab .last {
    width: 400px;
    padding: 5px 0;
}

.Share .discountTab .prolist {
    width: 180px;
    height: 72px;
    overflow: hidden;
    border-right: 1px dashed #E2E2E2;
    padding: 10px 2px 0 10px;
}

.Share .discountTab .proimg {
    _margin-top: 5px;
}

.Share .discountTab .last .procon {
    padding-left: 70px;
}

.Share .discountTab .last .img {
    width: 60px;
    height: 60px;
}

.hot .hotbox {
    height: 160px;
    padding-top: 10px;
}

.hot .prolist {
    height: 160px;
    padding: 0;
    margin: 0;
    width: 50%;
    vertical-align: top;
}

.hot .prolist .proimg, .hot .prolist .proimg .img {
    position: absolute;
    width: 120px;
    height: 160px;
}

.hot .prolist .procon {
    display: inline-block;
    padding-left: 130px;
    padding-right: 10px;
    width: 230px;
}

.hot .prolist .pad {
    padding-left: 0;
}

.hot .prolist .h3 {
    font-size: 1.2em;
}

.hot .prolist .dec {
    line-height: 18px;
}

.hot .prolist .mod {
    padding: 10px 0;
}

.ask .bd {
    height: 300px;
    padding-top: 10px;
}

.ask .prolist {
    height: 100px;
    width: 360px;
    vertical-align: top;
}

.ask .prolist .proimg, .ask .prolist .proimg .img {
    width: 100px;
    height: 100px;
}

.ask .prolist .procon {
    padding-left: 110px;
    padding-right: 10px;
}

.ask .prolist .pad {
    padding-left: 0;
}

.ask .prolist .h3 {
    font-size: 1.2em;
}

.ask .prolist .dec {
    line-height: 1.6em;
    padding-top: 5px;
}

.ask .prolist .mod {
    padding: 10px 0;
}

.ask .infolist {
    padding-top: 10px;
}

.ask .infolist .item {
    line-height: 2.4em;
    border-bottom: 1px dashed #CCC;
}

.ask .infolist .item a.cutr:hover {
    color: #0099FF;
}

.ask .infolist .tit {
    line-height: 1.8em;
    font-size: 1.2em;
    font-weight: bold;
}

.placard .infolist {
    padding: 5px 10px;
}

.placard .posts {
    height: 43px;
    background-position: 0 -61px;
    width: 242px;
}

.placard .posts .fatie, .placard .posts .shaihuo {
    display: inline-block;
    background: url(about:blank);
    width: 70px;
    height: 28px;
    line-height: 28px;
    margin: 10px 0 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
}

.placard .posts .fatie {
    margin-left: 44px;
}

.placard .posts .shaihuo {
    margin-left: 40px;
}

.placard .search {
    padding: 10px 0 10px 7px;
    background-color: #FEEDC9;
    position: relative;
}

.buyer .hd .right {
    width: 40px;
}

.buyer .hd .arrow_right {
    float: right;
    margin-top: 8px;
    width: 16px;
    height: 16px;
    background-position: -66px 0;
    cursor: pointer;
    vertical-align: top;
}

.buyer .hd .btn_prev_no, .buyer .hd .btn_next_no {
    filter: gray;
    -moz-opacity: .4;
    opacity: 0.4;
}

.buyer .hd .arrow_left {
    display: inline-block;
    margin-top: 8px;
    width: 16px;
    height: 16px;
    background-position: -83px 0;
    cursor: pointer;
    vertical-align: top;
}

.buyer .bd {
    padding: 10px;
    border: 1px solid #FEBE8F;
    border-top: 0;
    white-space: nowrap;
    height: 165px;
    overflow: hidden;
}

.buyer .prolist {
    margin: 0 20px 10px 0;
    width: 224px;
}

.buyer .prolist .proimg, .buyer .prolist .proimg .img {
    width: 100px;
    height: 100px;
    position: static;
    display: inline-block;
    vertical-align: top;
}

.buyer .prolist .procon {
    padding-left: 10px;
    width: 106px;
    overflow: hidden;
}

.buyer .prolist .procon .h3 {
    width: 106px;
    height: 22px;
    overflow: hidden;
}

.buyer .prolist .procon .dec {
    line-height: 20px;
    padding: 2px 0;
}

.buyer .prolist .mod {
    padding-top: 5px;
    line-height: 22px;
    white-space: normal;
}

.buyer .bt {
    line-height: 30px;
    padding: 0 10px;
    text-align: right;
    border: 1px solid #FEBE8F;
    border-top: 0;
    background: #FFF2D8;
}

.buyer .bt a {
    color: #F04D00;
}

.arrowBox .arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-position: -53px 0;
    margin-left: 5px;
}

.member .bd, .newPost .bd, .activeMembers .bd {
    border: 1px solid #E2E2E2;
    border-top: 0;
}

.activeMembers .bd {
    padding-bottom: 10px;
}

.activeMembers .prolist .proimg, .activeMembers .prolist .proimg .img {
    width: 40px;
    height: 40px;
}

.activeMembers .prolist {
    padding: 10px 10px 0;
    width: 226px;
    _width: 216px;
}

.activeMembers .prolist .procon {
    padding-left: 50px;
}

.discount .prolist {
    height: 70px;
}

.discount .prolist .proimg, .discount .prolist .img {
    width: 70px;
    height: 70px;
}

.discount .prolist .procon {
    padding-left: 80px;
}

.discount .procon .h3 {
    height: 22px;
}

.discount .procon .h3
.discount .procon .dec {
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

.discount .procon .dec span {
    margin-right: 2px;
}

.discount .last a:link, .discount .last a:visited, .discount .last a:active {
    color: #3F3F3F;
}

.discount .h3 a:hover {
    color: #3369FF;
}

.newPost .item {
    line-height: 24px;
    height: 38px;
    width: 224px;
}

.newPost .tabTitbox {
    cursor: pointer;
}

.newPost .tabConbox {
    display: none;
    overflow: hidden;
}

.newPost .curr {
    display: block;
}

.sidebar .newPost .infolist .item {
    padding: 5px 10px 10px;
    line-height: 22px;
}

.deleborder {
    margin-bottom: -6px;
    overflow: hidden;
}

.activeMembers .tabTitbox {
    cursor: pointer;
}

.activeMembers .tabConbox {
    display: none;
    margin-bottom: -5px;
}

.activeMembers .curr {
    display: block;
}

.sidebar .buyerList {
    background: #FFF2D8;
    color: #000;
}