/*=======================deliver.css===========================*/
.f04 {
	color: #F04E00;
}
.page {
	padding: 20px 0;
}
.content .item {
	margin: 20px 0;
}
.content .hd {
	font: bold 14px/1.5 "\5b8b\4f53";
	margin-top: 30px;
}
.content .node .w {
	width: 125px;
	text-align: right;
}
.m1 {
	margin-right: 10px;
}
.m4 {
	margin-right: 40px;
}
.content label {
	cursor: pointer;
}
.content .btn {
	width: 60px;
}
.content .question {
	text-indent: -999em;
	font-size: 0;
}

/*.result{padding:0 50px;}*/
.result .hd, .result .bt {
	text-align: right;
}
.result .bd {
	margin: 10px 0;
}
.result .lineOnTitle .hd {
	text-align: center;
	margin: 30px -50px;
}
.result .table-1 {
	margin-bottom: 10px;
}
.result .table-1 .r {
	float: none;
}
.result .thd {
	padding: 10px 0 5px;
}
.result .subtab {
	width: 790px;
}
.result .pad {
	padding: 10px 50px;
}
.result .pad .thd {
	padding: 10px 0 5px;
	margin: 0;
}
.result .pad th {
	padding: 5px 10px;
}
.result .parent {
	margin-bottom: -1px;
}
.result .tooltip-3 {
	margin: 10px 0 30px;
}
.result .c {
	text-align: center;
}
.result .tab .l {
	border: 1px solid #E2E2E2;
	border-bottom: 0;
	height: 30px;
	text-align: center;
	font: bold 14px/30px "Arial";
	color: #000;
	display: inline-block;
	padding: 0 15px;
	background-color: #f2f2f2;
	margin-bottom: -1px;
}
.table-1 .img {
	width: 60px;
	height: 60px;
}
.table-1 th {
	font-weight: normal;
}
.table-1 .i-1 {
	width: 8%;
}
.table-1.result .i-2 {
	width: 55%;
}
.table-1 .i-3 {
	width: 15%;
}
.table-1 .i-4 {
	width: 20%;
}
.table-1 td .node {
	margin: 10px 0;
}
.table-1 .w {
	width: 262px;
}
.table-1 .w1 {
	width: 170px;
}
.table-1 .last {
	float: right;
}
.seleteitem {
	width: 550px;
	margin: 10px 0 10px 5px;
	display: none;
}
.seleteitem .arrow {
	left: 170px;
}
.seleteitem-1 .arrow {
	left: 300px;
}
.wid230 {
	width: 230px;
}
.split {
	margin: 0 10px;
}
.mab {
	margin-bottom: 0px;
}
.line {
	padding: 20px 0;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 20px;
}
.billId {
	border-color: #FF8000;
}
.pagecls {
	display: inline-block;
	border: 1px solid #ddd;
	padding: 10px;
	background-color: #efefef;
	margin: 20px 0;
}
.pagecls span {
	padding: 0 2px;
	color: #666;
}
.pagecls .yel {
	color: #F04D00;
	font-weight: bold;
}