@import "basic215";
.h-icon {
    @include background-img("icon.#{$version}.png");
    background-repeat: no-repeat;
    @include inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
.hi-live {
    background-position: 0 -25px;
}

.hi-site {
    background-position: -29px -25px;
    width: 20px;
}

.hi-timeout {
    background-position: -48px -24px;
}

.hi-topic {
    background-position: -120px -24px;
}

.hi-order {
    background-position: -144px -24px;
    margin-right: 3px;
}

.hi-comment {
    background-position: -72px -25px;
}

.hi-like {
    background-position: -96px -24px;
}

.hi-time {
    background-position: -174px -24px;
    width: 16px;
}

.hi-weibo {
    background-position: -192px 0;
    &:hover {
        background-position: -240px 0;
    }
}

.hi-weixin {
    background-position: -192px -24px;
    &:hover {
        background-position: -240px -24px;
    }
}