@charset "utf-8";
.icon-flag-lg{
	display:inline-block;height:33px;width:49px;background-image:url(/images/sprites/icon-flag-lg.png);background-repeat:no-repeat;
	
}
.icon-flag-meiguo{
	background-position:0 -1px;
}
.icon-flag-taiwan{
	background-position:-59px -1px;
}
.icon-flag-yingguo{
	background-position:-118px -1px;
}
.icon-flag-ruidian{
	background-position:-177px -1px;
}
.icon-flag-faguo{
	background-position:-236px -1px;
}
.icon-flag-aodili{
	background-position:-295px -1px;
}
.icon-flag-bilishi{
	background-position:-354px -1px;
}
.icon-flag-danmai{
	background-position:-413px -1px;
}
.icon-flag-putaoya{
	background-position:-472px -1px;
}
.icon-flag-fenlan{
	background-position:-531px -1px;
}
.icon-flag-eluosi{
	background-position:-591px -1px;
}
.icon-flag-ruishi{
	background-position:-650px -1px;
}
.icon-flag-xila{
	background-position:-709px -1px;
}
.icon-flag-xinjiapo{
	background-position:-768px -1px;
}
.icon-flag-xibanya{
	background-position:-827px -1px;
}
.icon-flag-alabolh{
	background-position:-919px -1px;
}
.icon-flag-bolan{
	background-position:-1015px -1px;
}
.icon-flag-deguo{
	background-position:-0 -73px;
}
.icon-flag-aodaliya{
	background-position:-59px -73px;
}
.icon-flag-riben{
	background-position:-118px -73px;
}
.icon-flag-xinxilan{
	background-position:-178px -73px;
}
.icon-flag-jianada{
	background-position:-236px -73px;
}
.icon-flag-jieke{
	background-position:-295px -73px;
}
.icon-flag-helan{
	background-position:-354px -73px;
}
.icon-flag-yidali{
	background-position:-413px -73px;
}
.icon-flag-hanguo{
	background-position:-473px -73px;
}