<fieldset class="modifyAddress" id="modifyAddress" temp-data="d">
    <legend class="area bar-a">
        <a class="title" href="Description">收货信息</a>
    </legend>
    <form>
        <div id="chinaArea">
            <div class="field"><label class="name">收货地址：</label><select></select></div>
            <div class="field"><label class="name"></label><select></select></div>
            <div class="field"><label class="name"></label><select></select></div>
            <div class="field"><label class="name"></label><input placeholder="详细地址" id="sAddress2" type="text" /></div>
        </div>
        <div class="field"><label class="name">联系人：</label><input placeholder="请输入真实姓名" id="sRecipient" type="text" /></div>
        <div class="field"><label class="name">电话：</label><input placeholder="0000-00000000" id="sTelphone"  type="tel" /></div>
        <div class="field"><label class="name">手机：</label><input placeholder="请输入11位手机号码"  id='sCellPhone' type="tel" /></div>
        <div class="field"><label class="name">邮编：</label><input placeholder="000000" id="sPostCode" type="text" /></div>
    </form>
    <footer class="field"><a id="submitAddress" class="btn-a" href="javascript:void 0">确定</a></footer>
</fieldset>