@charset "UTF-8";

/*floatbox event*/
@keyframes modelSlide {
    from {
        -webkit-transform: translate(0, -200%);
        -ms-transform: translate(0, -200%);
        transform: translate(0, -200%);
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}


@-moz-keyframes modelSlide {
    from {
        -webkit-transform: translate(0, -200%);
        -ms-transform: translate(0, -200%);
        transform: translate(0, -200%);
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}


@-webkit-keyframes modelSlide {
    from {
        -webkit-transform: translate(0, -200%);
        -ms-transform: translate(0, -200%);
        transform: translate(0, -200%);
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}


@-o-keyframes modelSlide {
    from {
        -webkit-transform: translate(0, -200%);
        -ms-transform: translate(0, -200%);
        transform: translate(0, -200%);
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}