/*=======================kc.css===========================*/
@charset "utf-8";

/* CSS Document */
body {
    margin: 0;
    padding: 0;
    background-image: url(images/line.png);
    background-repeat: repeat-x;
    background-color: #4c4c4c;
    text-align: center;
}
.img_body {
    width: 1000px;
    height: 1550px;
    margin-left: auto;
    margin-right: auto;
}