<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>洋码头 - 最让人放心的海外购物社区</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link href="http://static.dev.ymatou.com/content/public.css" rel="stylesheet" type="text/css" />
        <link href="http://static.dev.ymatou.com/content/module/layout.css" rel="stylesheet" type="text/css" />
        <link href="http://static.dev.ymatou.com/content/empty.css" rel="stylesheet" type="text/css" />
        <link href="http://static.dev.ymatou.com/content/assets/wharf.css" rel="stylesheet" type="text/css" />
        <link href="http://static.dev.ymatou.com/content/global818.css" rel="stylesheet" type="text/css" />
        <script src="http://static.dev.ymatou.com/scripts/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
        <script src="http://static.dev.ymatou.com/scripts/ymt.js" type="text/javascript"></script>
        <script src="http://static.dev.ymatou.com/scripts/ymatou-jquery.js" type="text/javascript"></script>
        <script src="http://static.dev.ymatou.com/scripts/lib/jqlib.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="wrapper order-comments">
            <div class="title-bar">订单评价</div>
            <div class="order-box">
                <div class="order-title">
                    <div class="seller-box fl">
                        <p class="order-info">
                            <span class="seller-name">卖家：贵贵</span>
                            <span class="order-detail">订单详情：编号103051730</span>
                        </p>
                        <div class="seller-service">
                            <div class="opration-stars">
                                <span class="opration-lable"><font class="err-font">*</font>卖家服务态度：</span>
                                <span class="operation-stars">
                                    <span class="star-item star-active"></span>
                                    <span class="star-item star-active"></span>
                                    <span class="star-item star-active"></span>
                                    <span class="star-item star-active"></span>
                                    <span class="star-item star-active"></span>
                                </span>
                            </div>
                            <span class ="comment-error">请对卖家服务态度评分</span>
                        </div>
                    </div>
                    <div class="privilege-box fl">
                        <span class="privilege-card">&yen;20元免运卡</span>
                        <p class="privilege-tip">完整评价得免运卡，下次购物抵扣<font class="darkred">20元</font>运费<br/><a class="link-blue" href="javascript:;">查看免运卡细则</a></p>
                    </div>
                </div>
                <ul class="order-content">
                    <li class="product-comment" productid="aaa" productname="bbb">
                        <div class="product-img"><img src="" alt="" width="98" /></div>
                        <div class="product-info">
                            <h3 class="product-title">MK迈克尔科尔斯小号鳄鱼纹手提斜挎包 拉链封口耳朵包杀手包</h3>
                            <div class="comment-box">
                                <div class="opration-stars">
                                    <span class="opration-lable"><font class="err-font">*</font>商品与描述相符：</span>
                                    <span class="operation-stars">
                                        <span class="star-item star-active"></span>
                                        <span class="star-item star-active"></span>
                                        <span class="star-item star-active"></span>
                                        <span class="star-item star-active"></span>
                                        <span class="star-item star-active"></span>
                                    </span>
                                </div>
                                <span class ="comment-error">请对卖家服务态度评分</span>
                            </div>
                            <div class="comment-desc smart-input">
                                <label for="comment_textarea" class="smart-label">请输入您对该商品的使用心得。最多输入255个字</label>
                                <textarea class="comment_textarea" ></textarea>
                            </div>
                            <div class="comment-error">您输入的内容有敏感词，请核对后提交</div>
                        </div>
                    </li>
                </ul>
                <p class="submit-box">
                    <a href="javascript:;" class="submit-button">提交评价</a>
                </p>
            </div>

            
            
        </div>
        <script type="text/javascript"> $m.load('ordercomments/ordercomments');</script>
    </body>
</html>