<%=include commons/header.html%>

<section class="container">
	<div class="upload-mod">
		<h5 class="upload-mod-title">身份证信息</h5>
		<p class='input-group'>
		<input type="text" value="" name="idCard" ng-model='address.Details' placeholder="请填写收件人身份证号"/></p>
		<p>你提供的信息均加密，安全可靠。<a href="/forymatouapp/uploadIdCard/provision/2">查看详情</a></p>
		<button id="addIdCard" class="btn btn-primary btn-full-w btn-next">下一步</button>
		<p class="back">&lt;返回</p>
	</div>
</section>

<%=include commons/footer.html%>
