<%=include commons/header.html%>

<section class="container">
    <article class="upload-provision">
        <% if(type==1){%>
        根据中国海关规定，为防止变相走私，证明包裹物品确实为个人自用，个人包裹办理海关入境清关手续需要提交收件人身份证明。海关相关规定情参考《中华人民共和国海关对进出境快件监管办法》第二十二条，或致电海关咨询：12360
        <% }else if(type==2){ %>
        <h3>郑重承诺</h3>
        <p>1.身份证图片自动添加合成用途说明水印，提交给海关用以查验入境包裹，无法用作其他途径。</p>
        <p>2.所有信息加密传输和存储，严格保护用户隐私安全。</p>
        <% }else if(type==3){ %>
        <p>本人承诺所需办理报关报检的快件系个人合理自用，对快件内物品的质量,性能,安全,卫生及其他可能产生的风险清楚知道并自愿承担上述风险。本人现委托贵公司办理申报，辅助查验，代缴税款等通关事宜。</p>
        <p>本人保证遵守《海关法》和国家相关法规，保证所提供的情况真实，完整，单货相符，无侵犯他人知识产权的行为。以上委托系如实填写，本人愿意接受海关，检查检疫机构及其他监督部门的监管并承担相应法律责任。</p>
        <%}%>
    </article>
    <button class="btn btn-primary btn-full-w btn-next back">返回</button>
</section>
<%=include commons/footer.html%>
