<%=include commons/header.html%>

<section class="container">
	<div class="upload-mod mod-example">
		<figure class="">			
            <figcaption>
            	
            </figcaption>
            <p>请务必保证身份证清晰可见<br/><a href="javascript:;" id="example-show">查看范例>></a></p>
        </figure>
        <div class="upload-booth">
        	<div>
        		<span>
        			<input type="file" name="upload">
        			<img src="" alt="">
        		</span>
        		<button class="btn">正面</button>
    		</div>
        	<div>
        		<span>
        			<input type="file" name="upload">
        			<img src="" alt="">
        		</span>
        		<button class="btn">反面</button>
    		</div>
        </div>
        <p>点击下一步表示阅读并同意 <a href="/forymatouapp/uploadIdCard/provision/3">重要条款</a></p>
        <button id="upload" class="btn btn-primary btn-full-w btn-next">下一步</button>
        <p class="back">&lt;返回</p>
	</div>
</section>
<div class="example-show"></div>
<%=include commons/footer.html%>
