/*=======================footer.css===========================*/

/* CSS Document */

.service {
    MARGIN-TOP: 0px;
    WIDTH: 968px;
    FLOAT: none;
    HEIGHT: 95px;
    MARGIN-LEFT: auto;
    CLEAR: both;
    MARGIN-RIGHT: auto;
    margin-bottom: 10px;
}
#footer {
    BACKGROUND-IMAGE: url(../images/footer_bg.jpg);
    MARGIN-TOP: 0px;
    WIDTH: auto;
    FLOAT: none;
    HEIGHT: 150px;
    MARGIN-LEFT: auto;
    CLEAR: both;
    MARGIN-RIGHT: auto;
    line-height: 22px;
}
#footer UL {
    BORDER-BOTTOM: #ff0000 0px solid;
    BORDER-LEFT: #ff0000 0px solid;
    MARGIN-TOP: 10px;
    WIDTH: 130px;
    FLOAT: left;
    COLOR: #c9c9c9;
    MARGIN-LEFT: 100px;
    BORDER-TOP: #ff0000 0px solid;
    MARGIN-RIGHT: 20px;
    BORDER-RIGHT: #ff0000 0px solid;
}
#footer .footer968 {
    PADDING-LEFT: 68px;
    WIDTH: 900px;
    MARGIN-LEFT: auto;
    CLEAR: both;
    MARGIN-RIGHT: auto;
}
#footer .footer968 A {
    COLOR: #c9c9c9;
    TEXT-DECORATION: none;
}
#footer .footer968 A:hover {
    COLOR: #ff6600;
    TEXT-DECORATION: underline;
}
#footer .footer9682 {
    TEXT-ALIGN: center;
    WIDTH: 968px;
    COLOR: #f2f2f2;
    MARGIN-LEFT: auto;
    CLEAR: both;
    MARGIN-RIGHT: auto;
}