<div class="success_txt">
		<h2>您已付款成功</h2>
		<div class="important-msg">
			<em class="note">!</em><em>重要提醒：</em>任何自称是洋码头客服，并告诉您海关卡单、缺货，发给您假冒链接，要求您取消订单、办理退款、重新支付的<strong>都是骗子！</strong>
		</div>
		<a class="is_upload" ng-click="toUploadCardId()" ng-if="!isAndroid && isUpload">
			<p class="txt">提前上传身份证可以加快到手速度</p>
			<p><span class="btn btn-primary">上传身份证</span></p>
		</a>
	</div>
	<div class="deal_step">
		<h4 class="ds_title">
			<strong>洋码头海外购物快捷流程</strong>
		</h4>
		<ul class="setp_ul">
			<li>
				<span class="number"><i>1</i></span>
				<span class="stepicon"><i class="icon icon-flow01"></i></span>
				<span class="txt">购买商品</span>
				<span class="float_icon sp1">
					<i class="icon icon-flow11"></i>
				</span>
			</li>
			<li>
				<span class="number"><i>2</i></span>
				<span class="stepicon"><i class="icon icon-flow02"></i></span>
				<span class="txt">海外发货</span>
				<span class="float_icon sp2">
					<i class="icon icon-flow11"></i>
				</span>
			</li>
			<li>
				<span class="number"><i>3</i></span>
				<span class="stepicon"><i class="icon icon-flow03"></i></span>
				<span class="txt">国际转运</span>
				<span class="float_icon sp3">
					<i class="icon icon-flow08"></i>
				</span>

			</li>
			<li>
				<span class="number"><i>6</i></span>
				<span class="stepicon"><i class="icon icon-flow06"></i></span>
				<span class="txt">国内配送</span>
				<span class="float_icon sp4">
					<i class="icon icon-flow10"></i>
				</span>
			</li>
			<li>
				<span class="number"><i>5</i></span>
				<span class="stepicon"><i class="icon icon-flow04"></i></span>
				<span class="txt">海关清关</span>
				<span class="float_icon sp5">
					<i class="icon icon-flow10"></i>
				</span>
			</li>
			<li>
				<span class="number"><i>4</i></span>
				<span class="stepicon"><i class="icon icon-flow05"></i></span>
				<span class="txt">上传身份证</span>
				<span class="float_icon sp6">
					<i class="icon icon-flow09"></i>
				</span>
			</li>
		</ul>
		<div class="successful_all">
			<span class="icon icon-flow07"></span>
			<p>欢天喜地到你手</p>
		</div>
	</div>