@charset "UTF-8";

body {background-color: #eee;text-align: center; }
a{color:#999;}
.box{width: 1200px;  margin: 0 auto;}

.top{
  font-size:12px;height:32px;width:100%;background:#333;
  position:fixed;z-index:99;top:0;left:0;box-shadow:0 1px 3px rgba(51,51,51,0.8);
  color:#eee;
}
.top a{
	color:#eee;
	line-height: 17px;
	text-decoration: none;
	height: 17px;
}
.top dt,.top dd{
	height:32px;
	line-height:32px;
}
.top dt span{
  float: left;
  margin: 0 1px;
  padding: 0 12px;
}
.top .user-settings{
    width: 200px;
    height: 92px;
    position: absolute;
    top: 32px;
    left: -1px;
    background-color: #fff;
    border-bottom: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #444; 
}
.top .user-settings .photo {
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 1px solid #eee; 
}
.top .user-settings dd a{
  color: #000;
  float: left;
  margin: 2px 2px;
}
.top .lang a:hover{
	background: #666;
}
/*头部导航*/
.header{
	width: 1200px;  
	margin: 0 auto;
	 background:#eee;
	 height:60px;
	 line-height:60px;
	 color:#666;
	 font-size:14px;
 }

.header .logo{
  float: left;
  width: 158px;
  height: 39px;
  background: url("../img/logo.png");
    
}
.header a{
text-decoration:none;    
}

.c-navBar{
  margin: 39px 0 0 10px;
}
.c-navBar .c-navBar-nav li{
  float: left;
  height:39px;
  line-height:39px;
}
.c-navBar .c-navBar-nav a{
	margin:0 30px;
}

/** main Start **/
.main{width: 1200px; padding:10px; margin: 0 auto 60px;}

.detal_box{
	margin-bottom:10px;
	background:#fff;
	padding: 10px;
}
.detal_box .box_title{
	text-align: left;
	color: #666;
	font-size: 18px;
	margin: 5px;
}
/*买家信息*/
.buyers .buyers-photo{
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
}
.buyers{
	height:170px;
}
.buyers .info{
	text-align:left;
	color:#666;
	margin-left:10px;
}
.buyers tr{
	height:25px;
 	line-height:25px;
}
.buyers a{
	color:#227dd8;
}

/*订单列表*/
.order-search{
	width: 100%;
	height:100px;
	margin:10px 10px;
}
.order-search .order-title{
	width:960px;
	height: 98px;
	border-right:1px dashed #f4f4f4;
	display: inline-block;
    float: left;
}
.order-desc{
	height:50px;
	line-height:50px;
}
.order-desc .title{
	width:80px;
	float:left
}
.order-desc span{
	margin: 2px 10px;
	float:left;
	color:#999;
}
.order-form {
	float:left;
}

/*新增商品*/
.add-commodity{
	float:right;
	width:220px;
	height:100px;
}
.add-commodity button{
	margin-top: 20px;
	width:135px;
	height:32px;
	font-size:14px;
	color:#fff;
	background:url(../img/bnt.png);
	border-radius: 5px;
}

.order-list{
	background:#fff url("../img/bg1.png") no-repeat;
	padding-top:39px;
}
.order-list-info{
	height:40px;
	line-height:40px;
}
.order-list-info span{
	font-size:16px;
}
.order-list-info i,.order-list-info a{
	color:#bababa;
}
.order-list-info .order-list-limit{
	font-size:12px;
}
.order-list-info .order-list-limit a{
	margin:0px 5px;
}
.order-list-table dd{
	border-top:1px solid #ddd;
}
/*列表工具栏*/
.list-tools{
	height: 50px;
    line-height: 50px;
}
.list-tools > span{
	margin: 0 12px;
}
.list-tools .c-pagination{
	margin: 0 140px;
}
.comm-img {
	display: inline;
	float: left;
	margin-right: 12px;
	border: 1px solid #e9e9e9;
}
.comm-info {
	text-align:left;	
	overflow: hidden;
	word-wrap: break-word;
	display: table-cell;
	padding-bottom: 10px;
}
.comm-info .title{
	margin-bottom: 5px;
}
.comm-info .title a{
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	width: 200px;
	max-width: 200px;
	white-space: nowrap;
	display: inline-block;
}
.comm-info .tag{
	height:25px;
}
.comm-info .tag .remarks{
	word-break:break-all; 
　　word-wrap:break-word;
}

.comm-briefly .comm-img img{
	width:80px;
	max-width:80px;
    height: 80px;
	vertical-align: middle;
}

.comm-briefly .comm-info .new-tag{
	border:1px dashed #eee;
	color:#bbb;
	margin-left:5px;
	margin-bottom:5px;
	padding:3px;
	cursor:pointer;
	display: inline-block;
}

.comm-briefly .comm-info .new-tag i{
	font-size:8px;
	padding: 3px;
}

.comm-briefly .comm-info .added{
	border:1px solid #f9e0bb;
	background:#fffcec;
}

.list-table .operate a,
.list-table .title a{
	color:#227dd8;
}
.operate p{
    margin:2px;
}
.order-btn{
    display:inline-block;
    color:#666;
	border: 1px solid #ddd;
	padding: 5px;
	background: linear-gradient(to bottom, #fff,#efefef,#e2e2e2);
}
/*护航直邮*/
.img-escort {
	background: url("../img/img.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	vertical-align: middle;
	background-position: -17px -57px;
	height: 16px;
	margin: 0 -3px 4px 0;
	width: 16px;
}
/**/
.img-overseas {
	background: url("../img/img.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	vertical-align: middle;
	background-position: 0px -57px;
	height: 16px;
	margin: 0 -3px 4px 0;
	width: 16px;
}

/**订单详情**/
.order-detail .status{
	font-size:18px;
	color:#999;
}
.order-detail .status i{
	color:#f04c00;
}
/*物流信息*/
.logistics .c-table thead{
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
}

.logistics .c-table tbody tr{
	height:30px;
}
.logistics .title{
	text-align: left;
	font-size: 14px;
	margin: 5px;
	color: #666;
}
/*买家留言*/
.leaveMsg .msg{
	text-align: left;
	margin-left: 5px;
	color: #666;
}

.status .c-table thead{
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
}

.status .c-table tbody tr{
	height:30px;
}

.order-status{color: #f04c00;}

/*弹出表单*/
.edit-form > div{
	text-align: left;
	margin: 10px 0;
}
.edit-form > div > label{
	width: 90px;
	display: inline-block;
	text-align: right;
}
.edit-form input[type=radio]{
	margin: 5px
}
.edit-form .edit-total{
	text-align: right;
	margin-right: 5px;
	display: block;
}
.rise-price{
	color: #ff0000;
} 
.cut-price{
	color: #59b200
}
.edit-form .division{
	border-bottom: 1px dashed #ddd;
	padding-bottom: 10px;
	width: 100%;
	display: block;
}
/**/
.edit-form .explain{
	margin-top: auto;
	margin-bottom:10px;
    padding-left:10px;
}
.edit-form .explain label{
	margin-bottom: 5px;
}
.wndEvaluate {
    color:#999;
}
.wndEvaluate .buyerName {
    color:#f60;
}
.edit-form .error-msg{
	margin :5px 0;
}
/*修改分类*/
.edit-form .label{
	margin: 5px 10px;
}
/** main End **/
.footer{
  width:100%;
  font-style: 14px;
  clear: both;
  color: #666;
  margin-top: 32px;
  padding-top: 8px;
  height: 98px;
  border-top: 2px solid #f60;
  background: #333;
  overflow: hidden;
}
.footer div{
  margin: 25px 0;
}
