@charset "UTF-8";

//color:gray
$G3: #333;
$G6: #666;
$G9: #999;
$Gb: #bbb;
$Gc: #ccc;
$Gd: #ddd;
$Ge: #eee;
$Ged: #ededed;
$Gf9: #f9f9f9;
$Gdb: #dbdbdb;
$Gcb: #cbcbcb;
$Ge6: #e6e6e6;
$Gd3: #d3d3d3;
$Ge0: #e0e0e0;

//color:blue
$B1: #142761;
$B2: #1D398D;
$B3: #4D6DB3;
$B4: #7790C5;
$B5: #9EB0D5;
$B6: #E4EAF1;

//color:red
$R1: #882222;
$R2: #CC3333;
$R3: #EF6461;
$R4: #FF8888;
$R5: #F9ACAC;
$R6: #FDE8E8;

//color:linkcolor
$L1: #1F7DD8;

//color:errorColor
$E1: #FF0000;

//白色
$white: #fff;

//黑色
$black: #000;

//淡黄色
$lightyellow: #fffdf4;

//深黄色
$deepyellow: #f8cb94;

//正确，成功的提示色
$okay: #5ab201;