@charset "UTF-8";

@font-face{
	@include fontface(ymtapp,ymtapp)
}

@font-face {
	@include fontface(clockIcon,clockIcon)
}

.icon,
.clockIcon,
[class*=icon-]{
	display: inline-block;
	font-size: 24px;
	line-height: 1;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}
.icon,
[class*=icon-]{
	font-family: ymtapp;
}

.clockIcon {
  font-family:"clockIcon" !important;
}

.icon-12clock:before { content: "\e69f"; }

.icon-10clock:before { content: "\e69d"; }

.icon-9clock:before { content: "\e69c"; }

.icon-8clock:before { content: "\e69b"; }

.icon-7clock:before { content: "\e69a"; }

.icon-6clock:before { content: "\e699"; }

.icon-5clock:before { content: "\e698"; }

.icon-4clock:before { content: "\e697"; }

.icon-3clock:before { content: "\e696"; }

.icon-2clock:before { content: "\e695"; }

.icon-1clock:before { content: "\e694"; }

.icon-11clock:before { content: "\e69e"; }


.icon-back:before{
	content:'\e673';
}
.icon-shoes:before{
	content:'\e670';
}

.icon-home-logo:before{
	content:'\e671';
}
.icon-home-search:before{
	content:'\e672';
}
.icon-search-selected-chac:before{
	content:'\e66f';
}
.icon-search-selected:before{
	content:'\e66d';
}
.icon-search-unselected:before{
	content:'\e66e';
}
.icon-search-filter:before{
	content:'\e66c';
}
.icon-search-close:before{
	content:'\e669';
}
.icon-search-down:before{
	content:'\e66a';
}
.icon-search-up:before{
	content:'\e66b';
}
//报税护航
.icon-pro-bshh:before{
	content:'\e668';
}
.icon-hot-bjp:before{
	content:'\e61f';
}
.icon-arrow-down:before{
	content:'\e631';
}
.icon-select-spec:before{
	content:'\e667';
}

.icon-seller:before{
	content:'\e666';
}
.icon-pro-paran:before{
	content:'\e665';
}

.icon-chat:before{
	content:'\e664';
}
.icon-arrow-right:before{
	content:'\e663';
}

.icon-alipay:before{
	content:'\e662';
}

.icon-coupon:before{
	content:'\e661';
}
.icon-little-arrow:before{
	content:'\e660';
}
.icon-countryAll:before{
	content:'\e601';
}

.icon-sortAll:before{
	content:'\e602';
}

.icon-sortBags:before{
	content:'\e603';
}

.icon-sortBeauty:before{
	content:'\e604';
}

.icon-sortCloth:before{
	content:'\e605';
}

.icon-electronics:before{
	content:'\e606';
}

.icon-sortFood:before{
	content:'\e607';
}

.icon-sortGlass:before{
	content:'\e608';
}
.icon-sortHealth:before{
	content:'\e609';
}
.icon-sortJewel:before{
	content:'\e60a';
}
.icon-sortLife:before{
	content:'\e60b';
}
.icon-sortMami:before{
	content:'\e60c';
}
.icon-sortMan:before{
	content:'\e60d';
}
.icon-sortWatch:before{
	content:'\e60e';
}
.icon-clock1:before{
	content:'\e600';
}
.icon-clock2:before{
	content:'\e60f';
}
.icon-clock3:before{
	content:'\e610';
}
.icon-clock4:before{
	content:'\e611';
}
.icon-clock5:before{
	content:'\e612';
}
.icon-clock6:before{
	content:'\e613';
}
.icon-clock7:before{
	content:'\e614';
}
.icon-clock8:before{
	content:'\e615';
}
.icon-clock9:before{
	content:'\e616';
}
.icon-clock10:before{
	content:'\e617';
}
.icon-clock11:before{
	content:'\e618';
}
.icon-clock12:before{
	content:'\e619';
}
.icon-addressChange:before{
	content:'\e61a';
}
.icon-addressCheck:before{
	content:'\e61b';
}
.icon-addressEdit:before{
	content:'\e61c';
}
.icon-alarmbellH:before{
	content:'\e61d';
}
.icon-alarmbellN:before{
	content:'\e61e';
}
.icon-buyingLogo:before{
	content:'\e620';
}
.icon-chooseN:before{
	content:'\e623';
}
.icon-chooseH01:before{
	content:'\e621';
}
.icon-chooseH02:before{
	content:'\e622';
}

.icon-countdown:before{
	content:'\e624';
}
.icon-location:before{
	content:'\e625';
}
.icon-feedback:before{
	content:'\e626';
}
.icon-help:before{
	content:'\e627';
}
.icon-GAll:before{
	content:'\e628';
}
.icon-GIncming:before{
	content:'\e629';
}
.icon-GPayable:before{
	content:'\e62a';
}
.icon-IBuyer:before{
	content:'\e62b';
}
.icon-IComment:before{
	content:'\e62c';
}
.icon-IParameter:before{
	content:'\e62d';
}
.icon-ITransport:before{
	content:'\e62e';
}
.icon-note:before{
	content:'\e62f';
}
.icon-setting:before{
	content:'\e630';
}
.icon-toTop:before{
	content:'\e632';
}
.icon-YMTLogo:before{
	content:'\e633';
}
.icon-SQuality:before{
	content:'\e635';
}
.icon-SQuickly:before{
	content:'\e636';
}
.icon-SReturn:before{
	content:'\e637';
}
.icon-SFly01:before{
	content:'\e639';
}
.icon-SFly02:before{
	content:'\e63a';
}
.icon-delete:before{
	content:'\e63c';
}
.icon-flow2:before{
	content:'\e62b';
}
.icon-closeBtn:before{
	content:'\e634';
}
.icon-EShoppingBag:before{
	content:'\e63f';
}
.icon-flow01:before{
	content:'\e641';
}
.icon-flow02:before{
	content:'\e642';
}
.icon-flow03:before{
	content:'\e643';
}
.icon-flow04:before{
	content:'\e644';
}
.icon-flow05:before{
	content:'\e645';
}
.icon-flow06:before{
	content:'\e646';
}
.icon-flow07:before{
	content:'\e647';
}
.icon-flow08:before{
	content:'\e648';
}
.icon-flow09:before{
	content:'\e649';
}
.icon-flow10:before{
	content:'\e64a';
}
.icon-flow11:before{
	content:'\e64b';
}
.icon-navMeH:before{
	content:'\e651';
}
.icon-navMeN:before{
	content:'\e652';
}
.icon-navShoppingbag:before{ 
	content:'\e65e';
}
.icon-more:before{ 
	content:'\e654';
}
.icon-label-select:before{ 
	content:'\e621';
}
.icon-shut:before{ 
	content:'\e656';
}
.icon-toTalk:before{
	content:'\e664';
}
.icon-shut-round:before{ 
	content:'\e657';
}
.icon-search:before{ 
	content:'\e655';
}
.icon-pull:before{
	content:'\e658';
}
.icon-home:before{
	content:'\e659';
}
.icon-biaoqing:before{
	content:'\e65a';
}
.icon-arrow:before{
	content:'\e65b';
}
