@charset "UTF-8";

$color_red						:rgb(204,51,51);				//#cc3333
$color_pink						:rgb(255,108,108);				//#ff6c6c
$color_lightPink				:rgba(248,233,233,.94);
$color_lightPinkBg				:rgba(241,226,226,.96);			//
$color_blue						:rgb(97,181,229);				//#61b5e5
	
$color_BTitle					:#646464;				//#383838
$color_BContry					:rgba(0,0,0,.48);				//#868686
$color_BInfo					:rgba(0,0,0,.28);				//#B8B8B8
$color_Bbg						:#f7f7f7;				//#F7F7F7

$homeTabBg						:rgba(237,237,237,.96);
$homeTabBorder					:rgba(231,231,231,.96);

$ImgUrl							:'/images/';
$fontUrl 						:'/fonts/';

$rem 							:1rem/16;