@charset "UTF-8";
/* line 3, ../source/css/register.scss */
html, body {
  height: 100%;
}

/* line 7, ../source/css/register.scss */
body {
  background-color: #f7f7f7;
}

/* line 11, ../source/css/register.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 16, ../source/css/register.scss */
.reg-wrap {
  color: #666;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: 20px;
}

/* line 22, ../source/css/register.scss */
.reg-wrap .reg-tips {
  padding: 30px 15px;
  font-size: 12px;
  position: relative;
}

/* line 28, ../source/css/register.scss */
.reg-tips p {
  margin-left: 57px;
  display: block;
}

/* line 33, ../source/css/register.scss */
.reg-tips p span {
  display: block;
  font-size: 20px;
}

/* line 38, ../source/css/register.scss */
.reg-tips em {
  color: #cc3333;
  font-size: 14px;
  font-weight: 700;
}

/* line 44, ../source/css/register.scss */
.reg-bd h3 {
  font-size: 16px;
  padding: 0 15px;
  font-weight: 400;
}

/* line 50, ../source/css/register.scss */
.reg-bd h3 span {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

/* line 56, ../source/css/register.scss */
.reg-icon {
  background: url("/img/reg-icon.2015042601.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
}

/* line 68, ../source/css/register.scss */
.r-mobile {
  background-position: 0 0;
}

/* line 72, ../source/css/register.scss */
.r-yzm {
  background-position: -22px 0;
}

/* line 76, ../source/css/register.scss */
.r-user {
  background-position: -44px 0;
}

/* line 80, ../source/css/register.scss */
.r-password {
  background-position: -66px 0;
}

/* line 84, ../source/css/register.scss */
.r-gift {
  background-position: 0 -23px;
  width: 47px;
  height: 47px;
  margin-top: -23px;
  float: left;
  left: 15px;
}

/* line 93, ../source/css/register.scss */
.reg-form {
  margin-top: 10px;
  border-top: 1px #cecece solid;
  border-bottom: 1px #cecece solid;
  background-color: #fff;
}

/* line 100, ../source/css/register.scss */
.form-item {
  padding: 5px 0;
  position: relative;
  margin: 0 10px;
  border-bottom: 1px #cecece solid;
}

/* line 107, ../source/css/register.scss */
.form-item:last-child {
  border-bottom: 0;
}

/* line 111, ../source/css/register.scss */
.form-item .ymt-inp {
  border: 0;
  height: 40px;
  font-size: 14px;
  color: #999;
  padding-left: 38px;
  width: 100%;
}

/* line 120, ../source/css/register.scss */
.form-item .inp-mobile {
  width: 50%;
}

/* line 124, ../source/css/register.scss */
.reg-ft {
  padding: 0 10px;
}

/* line 128, ../source/css/register.scss */
.reg-ft .btn-red {
  margin-top: 20px;
}

/* line 132, ../source/css/register.scss */
.reg-ft .tip {
  color: #999;
  font-size: 12px;
  margin-top: 15px;
}

/* line 138, ../source/css/register.scss */
.reg-ft .tip input {
  vertical-align: middle;
  margin-right: 5px;
}

/* line 143, ../source/css/register.scss */
.ymt-btn {
  text-align: center;
  border-radius: 3px;
  border: 0;
}

/* line 149, ../source/css/register.scss */
.btn-red {
  height: 45px;
  line-height: 45px;
  width: 100%;
  font-size: 20px;
  color: #fff;
  background-color: #cc3333;
}

/* line 158, ../source/css/register.scss */
.btn-gray {
  height: 40px;
  background-color: #cecece;
  width: 96px;
  font-size: 14px;
  color: #666;
  float: right;
}

/*娉ㄥ唽鎴愬姛*/
/* line 168, ../source/css/register.scss */
.success {
  overflow: hidden;
  padding: 40px 10px 20px;
}

/* line 173, ../source/css/register.scss */
.success .s-photo {
  width: 40%;
  float: left;
  text-align: center;
}

/* line 179, ../source/css/register.scss */
.success .s-info {
  width: 60%;
  float: left;
}

/* line 184, ../source/css/register.scss */
.s-info .title {
  font-size: 16px;
  font-weight: 700;
  color: #666;
}

/* line 190, ../source/css/register.scss */
.s-info .tip {
  font-size: 12px;
  padding: 10px 0;
}

/* line 195, ../source/css/register.scss */
.s-info .btn-red {
  display: block;
}

/* line 199, ../source/css/register.scss */
.coupon {
  border-top: 1px #cecece solid;
  border-bottom: 1px #cecece solid;
  background-color: #fff;
  padding: 10px 10px 0;
}

/* line 206, ../source/css/register.scss */
.coupon-title {
  padding-left: 15px;
  font-size: 14px;
}

/* line 211, ../source/css/register.scss */
.coupon-list li {
  padding: 15px;
  border-top: 1px #cecece solid;
  font-size: 12px;
}

/* line 217, ../source/css/register.scss */
.coupon-list li:first-child {
  border-top: 0;
}

/* line 221, ../source/css/register.scss */
.coupon-item {
  border-radius: 5px;
  background-color: #ff9673;
  display: table;
  height: 80px;
  width: 195px;
  color: #fff;
  margin-bottom: 10px;
}

/* line 231, ../source/css/register.scss */
.coupon-item .ci-type {
  background-color: #cc3333;
  width: 35px;
  padding: 0 5px;
  height: 100%;
  display: table-cell;
  text-align: center;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px dotted #fff;
  vertical-align: middle;
}

/* line 245, ../source/css/register.scss */
.coupon-item .ci-info {
  display: table-cell;
  width: 120px;
  vertical-align: middle;
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

/* line 254, ../source/css/register.scss */
.coupon-item .ci-info-1 {
  font-size: 48px;
}

/* line 258, ../source/css/register.scss */
.coupon-item .ci-info-1 em {
  font-size: 18px;
}

/* line 262, ../source/css/register.scss */
.red-packet .s-info {
  margin-top: 35px;
}

/* line 266, ../source/css/register.scss */
.red-packet .ci-time {
  color: #cc3333;
  padding-top: 10px;
}

/* line 271, ../source/css/register.scss */
.red-packet .coupon-title, .red-packet .coupon-list li {
  padding-left: 0;
}

/*header 11*/
/* line 276, ../source/css/register.scss */
.ymt_logo {
  display: inline-block;
  width: 252.5px;
  height: 45px;
  line-height: 200em;
  overflow: hidden;
  background: url(/img/hm_sprites.2015042601.png) no-repeat;
  background-size: 253px 122px;
  background-position: 0 -32px;
}
