<%=include commons/header.html%>
<script>
	var ProductId = '<%= ProductId %>';
</script>
<!-- 头部 -->
	<div class="header">
		<div class="headerCont clear">
			<div class="header_img">
				<em></em>
			</div>
			<div class="header_info tuansuccess">
				<p class="header_tomorrow"><strong><%=groupInfo.Group.Creator%></strong>&nbsp;开启的团购</p>
				<p class="header_huore">团购正在火热进行中</p>
				<p class="header_time"><em class="img img-clock"></em>剩余 : <span data-time="<%=groupInfo.Group.LeftTime%>"></span></p>
			</div>
		</div>
	</div>
	<!-- 中间区域 -->
	<div class="k1_center">
		<div class="buyCont clear">
			<img src="<%=staticfileurl('/images/activitys/diaper/product-pic.png')%>" alt="商品信息">
			<div class="buyList fl">
				<div class="danYi">
					<h4>单一型号</h4>
					<ul class="spec-list">
						<li  data-index="0" data-catalog="S82 4包装">
							<strong>S82</strong>
							<small>4包装</small>
							<strong>￥352</strong>
						</li>
						<li  data-index="1" data-catalog="M64 4包装">
							<strong>M64</strong>
							<small>4包装</small>
							<strong>￥352</strong>
						</li>
						<li  data-index="2" data-catalog="L54 4包装">
							<strong>L54</strong>
							<small>4包装</small>
							<strong>￥472</strong>
						</li>
					</ul>
				</div>
				<div class="zuHe">
					<h4>组合套装</h4>
					<ul class="spec-list">
						<li  data-index="3" data-catalog="NB90 2包+S82 2包">
							<strong><span>NB90</span><small>2包</small>+</strong>
							<strong><span>S82</span><small>2包</small></strong>
							<strong>￥312</strong>
						</li>
						<li  data-index="4" data-catalog="S82 2包+M64 2包">
							<strong><span>S82</span><small>2包</small>+</strong>
							<strong><span>M64</span><small>2包</small></strong>
							<strong>￥352</strong>
						</li>
						<li  data-index="5" data-catalog="M64 2包+L54 2包">
							<strong><span>M64</span><small>2包</small>+</strong>
							<strong><span>L54</span><small>2包</small></strong>
							<strong>￥412</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="buy_cont" >
			<p class="huiyuanWord_0" style="display:none;" >本次活动每位会员仅限购一个规格哦</p>
			<p class="huiyuanWord_1">您选择的是：<span id="J-catalog-text"></span></p>
			<p class="totalWord">总计 ：&yen;<i>0</i></p>
			<div class="publicBtn buy-btn J-pay"> <!-- yes_buy -->
				<em class="img img-shoppingcart"></em>
				<span>请选择上述型号或套餐</span><!--请选择上述型号或套餐-->
			</div>
		</div>
	</div>
<%=include commons/bottom.html%>

<%=include commons/footer.html%>