<%=include commons/header.html%>
<!-- 头部 -->
	<div class="banner">
		<div class="bannerCont bannerKoling">
			<img src="<%=staticfileurl('/images/activitys/diaper/product-info.png')%>" alt="商品信息">
		</div>
	</div>
	<!-- 中间区域 -->
	<div class="k1_center">
		<div class="kolingCont">
			<p class="code-title"><em class="img img-baby"></em>输入团购口令</p>
			<p><input class="kolingInput" maxlength="5" id="J-join-code"/></p>
			<p class="code-desc"><a href="/forYmatouApp/activitys/diaper">输入辣妈团口令，没有口令的辣妈请戳这里</a>></p>
		</div>
	</div>
	<div class="join-bottom">
		<img src="<%=staticfileurl('/images/activitys/diaper/join-bottom.png')%>" alt="商品信息" width="320px">
	</div>
<%=include commons/footer.html%>