@charset "UTF-8";
/* line 1, ../../source/sass/assets/wharf/videowall.scss */
.focus-images {
  position: relative;
}

/* line 2, ../../source/sass/assets/wharf/videowall.scss */
.home-banner {
  height: 300px;
  background-repeat: repeat;
  margin-bottom: 10px;
}

/* line 4, ../../source/sass/assets/wharf/videowall.scss */
.home-banner .img {
  height: 300px;
  width: 100%;
}

/* line 5, ../../source/sass/assets/wharf/videowall.scss */
.home-banner .images {
  height: 300px;
  width: 100%;
}

/* line 6, ../../source/sass/assets/wharf/videowall.scss */
.home-banner .images .item {
  display: none;
  width: 100%;
  height: 300px;
  left: 0;
  top: 0;
  position: absolute;
}

/* line 7, ../../source/sass/assets/wharf/videowall.scss */
.home-banner .images .current {
  display: block;
}

/* line 8, ../../source/sass/assets/wharf/videowall.scss */
.home-banner .focus {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: 400px;
  z-index: 3;
}

/* line 9, ../../source/sass/assets/wharf/videowall.scss */
.home-banner .focus .item {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-color: #eee;
}

/* line 10, ../../source/sass/assets/wharf/videowall.scss */
.home-banner .focus .current {
  background-color: #cc3333;
}

/* line 11, ../../source/sass/assets/wharf/videowall.scss */
.focus-images .prevarrow, .focus-images .nextarrow {
  background-image: url(/images/sprites/focusimagearrow.png);
  width: 20px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 0;
  z-index: 4;
  cursor: pointer;
  visibility: hidden;
}

/* line 12, ../../source/sass/assets/wharf/videowall.scss */
.focus-images .prevarrow {
  background-position: 0 0;
  margin-left: -595px;
}

/* line 13, ../../source/sass/assets/wharf/videowall.scss */
.focus-images .nextarrow {
  background-position: -30px 0;
  margin-left: 575px;
}

/* line 14, ../../source/sass/assets/wharf/videowall.scss */
.focus-images:hover .prevarrow, .focus-images:hover .nextarrow {
  visibility: visible;
}

/* line 5, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info {
  text-align: center;
}
/* line 7, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info a {
  text-decoration: none;
}
/* line 10, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .left, .product-info .right {
  float: left;
  width: 293px;
  position: relative;
}
/* line 15, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .left:hover .title, .product-info .right:hover .title {
  color: #333;
}
/* line 23, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .right {
  border-left: 1px solid #ddd;
}
/* line 26, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .imgbox {
  display: block;
  padding: 15px 0 10px;
  height: 120px;
}
/* line 30, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .imgbox .img {
  width: 120px;
  height: 120px;
}
/* line 32, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign {
  position: absolute;
  width: 80px;
  height: 80px;
  background: url(/images/sprites/icon-home.png) no-repeat 0 0;
  color: #fff;
  font-size: 21px;
  text-align: left;
  top: 0;
  left: 0;
}
/* line 42, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign b {
  width: 45px;
  display: block;
  word-wrap: break-word;
  margin: 3px 0 0 5px;
  font-size: 16px;
  line-height: 20px;
}
/* line 50, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign p {
  text-align: center;
  font: normal 14px/1.3 "Microsoft yahei";
}
/* line 55, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-red {
  background-position: -90px 0;
}
/* line 59, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-sun-light, .product-info .sign-sun-gray, .product-info .sign-moon-light, .product-info .sign-moon-gray {
  width: 48px;
  height: 46px;
  left: 10px;
  top: 10px;
  padding-top: 51px;
}
/* line 67, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-sun-light {
  background-position: -178px 0;
}
/* line 69, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-sun-light p {
  color: #FF8787;
}
/* line 74, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-sun-gray {
  background-position: -294px 0;
}
/* line 76, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-sun-gray p {
  color: #c3c3c3;
}
/* line 81, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-moon-light {
  background-position: -236px 0;
}
/* line 83, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-moon-light p {
  color: #9EB0D4;
}
/* line 88, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-moon-gray {
  background-position: -352px 0;
}
/* line 90, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .sign-moon-gray p {
  color: #c3c3c3;
}
/* line 95, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo {
  text-align: left;
}
/* line 97, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo:hover {
  color: #333;
}
/* line 100, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo .fc-red {
  color: #cc3333;
}
/* line 101, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo .info-bd-wrap {
  height: 41px;
  _height: 39px;
  overflow: hidden;
}
/* line 106, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo .info-bd {
  padding: 0 10px 5px;
  font: normal 14px/1.5 "Microsoft yahei";
}
/* line 109, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo .info-bd .zhekou {
  font-weight: bold;
}
/* line 113, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo .bought {
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}
/* line 118, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo .yen {
  font-size: 12px;
}
/* line 121, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo .del-price {
  font-size: 12px;
}
/* line 124, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo .price {
  font: normal 20px/1.2 "Arial";
  margin: 0 10px 0 0;
  font-weight: 700;
}
/* line 129, ../../source/sass/partial/home/_homeproductinfo.scss */
.product-info .productinfo .info-bt {
  padding: 0 10px;
  height: 40px;
  _height: 24px;
  _padding: 8px 10px;
  background-color: #F6F6F6;
  line-height: 40px;
  _line-height: normal;
}

/* line 140, ../../source/sass/partial/home/_homeproductinfo.scss */
.unStrat, .isEnd, .sold-out {
  position: absolute;
  width: 140px;
  line-height: 40px;
  height: 40px;
  left: 50%;
  margin-left: -70px;
  bottom: 7px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
/* line 151, ../../source/sass/partial/home/_homeproductinfo.scss */
.unStrat .cover-inner, .isEnd .cover-inner, .sold-out .cover-inner {
  background: #000;
  filter: Alpha(opacity=70);
  position: static;
  *zoom: 1;
  background: rgba(0, 0, 0, 0.7);
}
/* line 157, ../../source/sass/partial/home/_homeproductinfo.scss */
.unStrat .cover-inner p, .isEnd .cover-inner p, .sold-out .cover-inner p {
  color: #fff;
  position: relative;
}

/* line 3, ../../source/sass/partial/home/_overseas.scss */
.overseas {
  overflow: hidden;
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#eeeeee);
  -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(top, #ffffff, #eeeeee);
}
/* line 6, ../../source/sass/partial/home/_overseas.scss */
.overseas .tb-l {
  width: 567px;
  float: left;
  padding: 10px;
}
/* line 10, ../../source/sass/partial/home/_overseas.scss */
.overseas .tb-l:hover {
  cursor: pointer;
}
/* line 12, ../../source/sass/partial/home/_overseas.scss */
.overseas .tb-l:hover .info-wrap-hd a {
  color: #333;
}
/* line 16, ../../source/sass/partial/home/_overseas.scss */
.overseas .tb-l .imgbox {
  width: 200px;
  height: 240px;
  float: left;
}
/* line 21, ../../source/sass/partial/home/_overseas.scss */
.overseas .tb-l .title, .overseas .tb-l .desc {
  display: block;
  font-size: 18px;
}
/* line 25, ../../source/sass/partial/home/_overseas.scss */
.overseas .tb-l .key {
  color: #cc3333;
  font-size: 14px;
}
/* line 31, ../../source/sass/partial/home/_overseas.scss */
.overseas .info-wrap {
  margin-left: 212px;
}
/* line 33, ../../source/sass/partial/home/_overseas.scss */
.overseas .info-wrap .info-wrap-hd {
  height: 85px;
  margin-top: 10px;
  *margin-top: 20px;
}
/* line 37, ../../source/sass/partial/home/_overseas.scss */
.overseas .info-wrap .info-wrap-hd a:hover {
  color: #333;
  text-decoration: none;
}
/* line 42, ../../source/sass/partial/home/_overseas.scss */
.overseas .info-wrap .info-wrap-bd {
  height: 80px;
  font-size: 14px;
  margin-top: 10px;
}
/* line 46, ../../source/sass/partial/home/_overseas.scss */
.overseas .info-wrap .info-wrap-bd sup {
  font-size: 20px;
  top: -26px;
}
/* line 50, ../../source/sass/partial/home/_overseas.scss */
.overseas .info-wrap .info-wrap-bd .pb-txt {
  color: #cc3333;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 5px;
}
/* line 55, ../../source/sass/partial/home/_overseas.scss */
.overseas .info-wrap .info-wrap-bd .pb-price {
  font-size: 50px;
  font-weight: normal;
  margin-top: 10px;
  margin-right: 5px;
}
/* line 62, ../../source/sass/partial/home/_overseas.scss */
.overseas .info-wrap .info-wrap-ft {
  position: relative;
  bottom: 0;
  _height: 45px;
}
/* line 66, ../../source/sass/partial/home/_overseas.scss */
.overseas .info-wrap .info-wrap-ft .timeout-wrap {
  position: absolute;
  right: -4px;
  bottom: 3px;
}
/* line 73, ../../source/sass/partial/home/_overseas.scss */
.overseas .btn-detail {
  background-color: #a90000;
  width: 150px;
  height: 42px;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 42px;
  color: #fff;
  font-size: 18px;
  border-bottom: 3px #ddd solid;
}
/* line 83, ../../source/sass/partial/home/_overseas.scss */
.overseas .btn-detail:hover {
  color: #fff;
  background-color: #960000;
  text-decoration: none;
}
/* line 89, ../../source/sass/partial/home/_overseas.scss */
.overseas .tb-r {
  width: 162px;
  float: right;
  border-left: 1px #e5e5e5 solid;
  text-align: center;
}
/* line 95, ../../source/sass/partial/home/_overseas.scss */
.overseas .product-tbr {
  padding: 8px 15px;
  position: relative;
  border-top: 1px #e5e5e5 solid;
  margin-top: -1px;
  height: 114px;
  background-color: #fff;
}
/* line 104, ../../source/sass/partial/home/_overseas.scss */
.overseas .product-tbr:hover .title a {
  color: #1F7DD8;
}
/* line 107, ../../source/sass/partial/home/_overseas.scss */
.overseas .product-tbr .imgbox {
  width: 80px;
  height: 74px;
  overflow: hidden;
}
/* line 111, ../../source/sass/partial/home/_overseas.scss */
.overseas .product-tbr .imgbox img {
  width: 80px;
  height: 74px;
}
/* line 116, ../../source/sass/partial/home/_overseas.scss */
.overseas .product-tbr .title {
  margin-top: 4px;
  text-align: left;
}
/* line 120, ../../source/sass/partial/home/_overseas.scss */
.overseas .product-tbr .price {
  position: absolute;
  right: 5px;
  top: 3px;
  color: #cc3333;
  font-size: 16px;
  font-weight: 700;
}
/* line 127, ../../source/sass/partial/home/_overseas.scss */
.overseas .product-tbr .price em {
  font-size: 12px;
  margin-right: 2px;
  vertical-align: 2px;
}

/* line 2, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-lg {
  display: inline-block;
  height: 33px;
  width: 49px;
  background-image: url(/images/sprites/icon-flag-lg.png);
  background-repeat: no-repeat;
}

/* line 6, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-meiguo {
  background-position: 0 -1px;
}

/* line 9, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-taiwan {
  background-position: -59px -1px;
}

/* line 12, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-yingguo {
  background-position: -118px -1px;
}

/* line 15, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-ruidian {
  background-position: -177px -1px;
}

/* line 18, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-faguo {
  background-position: -236px -1px;
}

/* line 21, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-aodili {
  background-position: -295px -1px;
}

/* line 24, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-bilishi {
  background-position: -354px -1px;
}

/* line 27, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-danmai {
  background-position: -413px -1px;
}

/* line 30, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-putaoya {
  background-position: -472px -1px;
}

/* line 33, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-fenlan {
  background-position: -531px -1px;
}

/* line 36, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-eluosi {
  background-position: -591px -1px;
}

/* line 39, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-ruishi {
  background-position: -650px -1px;
}

/* line 42, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-xila {
  background-position: -709px -1px;
}

/* line 45, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-xinjiapo {
  background-position: -768px -1px;
}

/* line 48, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-xibanya {
  background-position: -827px -1px;
}

/* line 51, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-alabolh {
  background-position: -919px -1px;
}

/* line 54, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-bolan {
  background-position: -1015px -1px;
}

/* line 57, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-deguo {
  background-position: -0 -73px;
}

/* line 60, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-aodaliya {
  background-position: -59px -73px;
}

/* line 63, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-riben {
  background-position: -118px -73px;
}

/* line 66, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-xinxilan {
  background-position: -178px -73px;
}

/* line 69, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-jianada {
  background-position: -236px -73px;
}

/* line 72, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-jieke {
  background-position: -295px -73px;
}

/* line 75, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-helan {
  background-position: -354px -73px;
}

/* line 78, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-yidali {
  background-position: -413px -73px;
}

/* line 81, ../../source/sass/partial/home/_iconflag.scss */
.icon-flag-hanguo {
  background-position: -473px -73px;
}

/* line 2, ../../source/sass/partial/home/_timeout.scss */
.timeout-wrap {
  color: #999;
}
/* line 4, ../../source/sass/partial/home/_timeout.scss */
.timeout-wrap span {
  padding: 0 3px;
}
/* line 7, ../../source/sass/partial/home/_timeout.scss */
.timeout-wrap .time-txt {
  padding-right: 10px;
}
/* line 10, ../../source/sass/partial/home/_timeout.scss */
.timeout-wrap em {
  font-size: 14px;
  background-image: url("/images/home/timeout.png");
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-repeat: no-repeat;
  width: 14px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin: 0 1px;
}

/* line 3, ../../source/sass/partial/home/_recomme-product.scss */
.recomme-product {
  overflow: hidden;
  margin: 14px 10px 7px;
}
/* line 6, ../../source/sass/partial/home/_recomme-product.scss */
.recomme-product li {
  float: left;
  padding: 0 13px 10px;
  width: 120px;
  border-left: 1px #eee solid;
  margin-left: -1px;
  text-align: center;
}
/* line 13, ../../source/sass/partial/home/_recomme-product.scss */
.recomme-product li .info-title {
  font: normal 12px/1.5 "Microsoft yahei";
  height: 35px;
  overflow: hidden;
  margin-top: 5px;
  text-align: left;
}
/* line 21, ../../source/sass/partial/home/_recomme-product.scss */
.recomme-product li:hover a {
  color: #1F7DD8;
  text-decoration: none;
}
/* line 27, ../../source/sass/partial/home/_recomme-product.scss */
.recomme-product .imgbox {
  width: 120px;
  height: 120px;
  line-height: 120px;
}
/* line 32, ../../source/sass/partial/home/_recomme-product.scss */
.recomme-product img {
  width: auto;
  height: auto;
  _width: 120px;
  _height: 120px;
  max-width: 120px;
  max-height: 120px;
}
/* line 40, ../../source/sass/partial/home/_recomme-product.scss */
.recomme-product .info-price {
  color: #cc3333;
  text-align: left;
}
/* line 44, ../../source/sass/partial/home/_recomme-product.scss */
.recomme-product .price {
  font-size: 16px;
  margin-left: 2px;
  font-weight: 700;
}

/* line 12, ../../source/sass/partial/home/m2c.scss */
#FocusImages {
  margin-bottom: 20px;
}
/* line 14, ../../source/sass/partial/home/m2c.scss */
#FocusImages .area {
  width: 1010px;
  height: 310px;
  padding-left: 180px;
}
/* line 19, ../../source/sass/partial/home/m2c.scss */
#FocusImages .focus-images .prevarrow {
  margin-left: -419px;
}

/* line 25, ../../source/sass/partial/home/m2c.scss */
.nav-sidebar .nav-item .icon-font, .nav-sidebar .nav-item {
  background-color: #fff;
}
/* line 29, ../../source/sass/partial/home/m2c.scss */
.nav-sidebar .nav-item:hover {
  background: #FEEFEF;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#FEEFEF, endColorstr=#FFFFFF);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#FEEFEF, endColorstr=#FFFFFF);
  background: -webkit-linear-gradient(90deg, #FEEFEF, #FFFFFF);
  background: -moz-linear-gradient(90deg, #FEEFEF, #FFFFFF);
  background: linear-gradient(90deg, #FEEFEF, #FFFFFF);
}

/* line 41, ../../source/sass/partial/home/m2c.scss */
.m2c-navigatorbar .area {
  height: 38px;
}

/* line 46, ../../source/sass/partial/home/m2c.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.1;
}

/* line 51, ../../source/sass/partial/home/m2c.scss */
h1, .h1 {
  font-size: 36px;
}

/* line 55, ../../source/sass/partial/home/m2c.scss */
h2, .h2 {
  font-size: 30px;
}

/* line 59, ../../source/sass/partial/home/m2c.scss */
h3, .h3 {
  font-size: 24px;
}

/* line 63, ../../source/sass/partial/home/m2c.scss */
h4, .h4 {
  font-size: 18px;
}

/* line 67, ../../source/sass/partial/home/m2c.scss */
h5, .h5 {
  font-size: 14px;
}

/* line 71, ../../source/sass/partial/home/m2c.scss */
h6, .h6 {
  font-size: 12px;
}

/* line 75, ../../source/sass/partial/home/m2c.scss */
#HomePageContent {
  padding-bottom: 40px;
}

/* line 79, ../../source/sass/partial/home/m2c.scss */
.dim {
  color: #999;
}

/* line 83, ../../source/sass/partial/home/m2c.scss */
.number {
  font-size: 9px;
}

/* line 87, ../../source/sass/partial/home/m2c.scss */
.fc-black {
  color: #000;
}

/* line 91, ../../source/sass/partial/home/m2c.scss */
.fc-red {
  color: #CC3333;
}

/* line 95, ../../source/sass/partial/home/m2c.scss */
.fc-dim {
  color: #ccc;
}

/* line 99, ../../source/sass/partial/home/m2c.scss */
.fc-blue {
  color: #1D398D;
}

/* line 103, ../../source/sass/partial/home/m2c.scss */
h5 {
  margin: 10px 0;
}

/* line 107, ../../source/sass/partial/home/m2c.scss */
.img-140-285 {
  width: 150px;
  height: 192px;
}

/* line 112, ../../source/sass/partial/home/m2c.scss */
.img-90-90 {
  width: 90px;
  height: 90px;
}

/* line 117, ../../source/sass/partial/home/m2c.scss */
.img-49-33 {
  width: 49px;
  height: 33px;
}

/* line 122, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab {
  float: left;
  color: #999;
  overflow: hidden;
  position: relative;
}
/* line 127, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab .item {
  padding: 0 20px;
  float: left;
  height: 55px;
  width: 150px;
  border-bottom: 3px solid #ddd;
  background: url(/images/sprites/tab-item-bg.jpg) no-repeat left bottom;
  margin-left: -1px;
}
/* line 136, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab .item .sub {
  font: normal 11px/1.2 "Microsoft yahei";
  color: #ccc;
}
/* line 139, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab .item .sub .gray {
  padding-left: 5px;
  color: #ccc;
}
/* line 145, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab .last {
  background: none;
}
/* line 148, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab .current {
  position: relative;
  border-bottom: 3px solid #1D398D;
  cursor: pointer;
}
/* line 153, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab .current .title {
  color: #1D398D;
  font-weight: bold;
}
/* line 157, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab .title {
  font-size: 18px;
  float: left;
  margin-top: 6px;
  margin-right: 15px;
  font-weight: bold;
  color: #666;
  font-weight: normal;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/public/place1px.png,sizingMethod=crop);
  zoom: 1;
}
/* line 167, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab .dec {
  float: left;
  font-family: Arial;
}
/* line 171, ../../source/sass/partial/home/m2c.scss */
.home-mod1-tab .dec em {
  color: #ccc;
}

/* line 176, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .item .sub {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 20px;
}

/*公告*/
/* line 184, ../../source/sass/partial/home/m2c.scss */
.home-notice {
  float: right;
  width: 380px;
  background-color: #EEEEEE;
  padding: 8px 10px;
  margin-top: 4px;
}

/* line 192, ../../source/sass/partial/home/m2c.scss */
.home-notice .item {
  float: left;
}

/* line 196, ../../source/sass/partial/home/m2c.scss */
.home-notice-con {
  width: 320px;
  overflow: hidden;
  height: 18px;
  overflow: hidden;
}

/* line 203, ../../source/sass/partial/home/m2c.scss */
.home-notice-con li {
  height: 18px;
  overflow: hidden;
}

/* line 208, ../../source/sass/partial/home/m2c.scss */
.home-notice .name {
  color: #666;
}

/* line 212, ../../source/sass/partial/home/m2c.scss */
.module {
  margin-bottom: 15px;
  clear: both;
  *zoom: 1;
}
/* line 24, ../../source/sass/partial/home/_basic215.scss */
.module:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*.home-mod1,.home-mod2,.home-mod3,.home-mod4,.home-mod5,.home-like,.home-recom,.home-category,.home-sharing{margin-bottom:20px;clear:both}*/
/* line 220, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .bd, .home-mod2, .home-mod3, .home-mod4 {
  border: 1px solid #eee;
  border-top: 3px solid #ddd;
}

/* line 225, ../../source/sass/partial/home/m2c.scss */
.home-mod2 {
  height: 490px;
}

/* line 229, ../../source/sass/partial/home/m2c.scss */
.home-mod1 {
  width: 589px;
}
/* line 231, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .hd {
  height: 55px;
}
/* line 233, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .hd .more {
  color: #7790C5;
  font-size: 12px;
  padding-left: 4px;
  border-left: 1px solid #eee;
  line-height: 1.2;
  float: right;
  margin: 32px 0 0;
}
/* line 241, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .hd .more a {
  color: #7790C5;
}
/* line 246, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .tuangou-item {
  display: none;
  overflow: hidden;
  float: left;
  width: 589px;
}
/* line 252, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .bd .current {
  display: block;
}
/* line 255, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .hidden {
  display: none;
}
/* line 258, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner {
  position: relative;
  float: left;
  width: 789px;
  border-right: 1px solid #eee;
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#eeeeee);
  -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(top, #ffffff, #eeeeee);
}
/* line 263, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner a {
  text-decoration: none;
}
/* line 267, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner:hover h3 a {
  color: #333;
  text-decoration: none;
}
/* line 271, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner:hover .btn {
  background-color: #882222;
}
/* line 276, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .banner .imgbox {
  float: left;
  width: 260px;
  height: 280px;
  overflow: hidden;
  margin: 10px 20px 10px 10px;
}
/* line 283, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .banner .img {
  width: 260px;
  height: 280px;
}
/* line 287, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .banner .info {
  float: left;
  padding: 40px 0 0;
  width: 490px;
}
/* line 292, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .banner h3 {
  font-size: 24px;
  line-height: 32px;
  height: 90px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/public/place1px.png,sizingMethod=crop);
  zoom: 1;
}
/* line 298, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .banner .infotitle, .home-mod1 .banner .banner .infodec {
  height: 32px;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
}
/* line 304, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .banner h3 a {
  color: #666;
  text-decoration: none;
}
/* line 308, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .banner .btn {
  height: 40px;
  font: bold 20px/40px "Microsoft yahei";
  text-align: center;
  background-color: #CC3333;
  color: #fff;
  padding: 0 30px;
  overflow: hidden;
  display: inline-block;
}
/* line 318, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .countdown {
  position: absolute;
  right: 30px;
  bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #555;
}
/* line 326, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .mg-t {
  margin-top: 20px;
}
/* line 329, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .mg-t span {
  display: inline-block;
  margin-right: 15px;
}
/* line 333, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner h5 {
  line-height: 22px;
  height: 43px;
  overflow: hidden;
  width: 220px;
}
/* line 339, ../../source/sass/partial/home/m2c.scss */
.home-mod1 .banner .info {
  width: 220px;
}

/* line 346, ../../source/sass/partial/home/m2c.scss */
.home-banner .images {
  height: 310px;
}
/* line 348, ../../source/sass/partial/home/m2c.scss */
.home-banner .images .item {
  height: 310px;
  background-position: bottom bottom;
}
/* line 352, ../../source/sass/partial/home/m2c.scss */
.home-banner .images .img {
  height: 310px;
}

/* line 360, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .hd .more {
  margin: 32px 10px 0 0;
}
/* line 364, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .imgbox {
  text-align: center;
}
/* line 366, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .imgbox img {
  width: 200px;
  height: 240px;
}
/* line 371, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .overseas {
  height: 271px;
}
/* line 373, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .overseas .tb-l .title, .home-mod-haiwai .overseas .tb-l .desc {
  line-height: 1.6;
}
/* line 385, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .overseas .info-wrap {
  margin-left: 235px;
}
/* line 389, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .overseas .info-wrap .info-wrap-hd {
  margin-top: 15px;
}
/* line 392, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .overseas .info-wrap .info-wrap-bd {
  height: 65px;
  margin-top: 10px;
}
/* line 393, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .overseas .info-wrap .info-wrap-bd sup {
  top: -18px;
}
/* line 398, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .overseas .info-wrap .info-wrap-bd .pb-price {
  line-height: 1.1;
}
/* line 402, ../../source/sass/partial/home/m2c.scss */
.home-mod-haiwai .overseas .info-wrap .info-wrap-ft .timeout-wrap {
  right: 0;
  bottom: -32px;
}

/* line 410, ../../source/sass/partial/home/m2c.scss */
.pricebox {
  margin: 0 0 25px;
}
/* line 412, ../../source/sass/partial/home/m2c.scss */
.pricebox .v {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}
/* line 417, ../../source/sass/partial/home/m2c.scss */
.pricebox .dec {
  font-size: 14px;
}
/* line 420, ../../source/sass/partial/home/m2c.scss */
.pricebox .f20 {
  font-size: 20px;
}
/* line 423, ../../source/sass/partial/home/m2c.scss */
.pricebox .price {
  font-size: 53px;
  font-weight: normal;
  margin-top: 10px;
  height: 53px;
  line-height: 53px;
  *line-height: normal;
}
/* line 431, ../../source/sass/partial/home/m2c.scss */
.pricebox sup {
  font-size: 20px;
  top: -26px;
  *top: 20px;
}

/* line 439, ../../source/sass/partial/home/m2c.scss */
.products .imgbox {
  overflow: hidden;
}
/* line 442, ../../source/sass/partial/home/m2c.scss */
.products .lr {
  padding: 10px;
}
/* line 445, ../../source/sass/partial/home/m2c.scss */
.products .lr .imgbox {
  float: left;
  margin-right: 15px;
}
/* line 449, ../../source/sass/partial/home/m2c.scss */
.products .lr .info {
  float: left;
}
/* line 452, ../../source/sass/partial/home/m2c.scss */
.products sup {
  font-size: 16px;
}
/* line 455, ../../source/sass/partial/home/m2c.scss */
.products a:hover, .products li:hover a, .products .tb:hover a, .products .banner:hover h3 a, .products .first:hover a {
  color: #1F7DD8;
  text-decoration: none;
}
/* line 459, ../../source/sass/partial/home/m2c.scss */
.products a .img {
  display: block;
}
/* line 462, ../../source/sass/partial/home/m2c.scss */
.products .tb {
  float: left;
}
/* line 465, ../../source/sass/partial/home/m2c.scss */
.products .tb .imgbox {
  text-align: center;
  display: block;
  height: 120px;
  width: 120px;
}
/* line 471, ../../source/sass/partial/home/m2c.scss */
.products .tb .img {
  width: auto;
  height: auto;
  _width: 120px;
  _height: 120px;
  max-width: 120px;
  max-height: 120px;
}
/* line 479, ../../source/sass/partial/home/m2c.scss */
.products .tb .info {
  margin-top: 5px;
}

/* line 484, ../../source/sass/partial/home/m2c.scss */
.comlun {
  float: left;
  height: 490px;
  width: 294px;
  border-left: 1px solid #eee;
  margin-left: -1px;
}
/* line 490, ../../source/sass/partial/home/m2c.scss */
.comlun .img {
  vertical-align: bottom;
}
/* line 493, ../../source/sass/partial/home/m2c.scss */
.comlun .products {
  border-top: 1px solid #eee;
}
/* line 496, ../../source/sass/partial/home/m2c.scss */
.comlun .products .tb {
  width: 121px;
  padding: 12px 13px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  margin: -1px 0 0 -1px;
  text-align: center;
}
/* line 504, ../../source/sass/partial/home/m2c.scss */
.comlun .products .title {
  height: 16px;
  overflow: hidden;
  display: block;
}

/* line 511, ../../source/sass/partial/home/m2c.scss */
.head-img-290, .head-img-list {
  overflow: initial;
}

/* line 515, ../../source/sass/partial/home/m2c.scss */
.head-img-list .onlyimg {
  padding: 3px 0 0;
}

/* line 519, ../../source/sass/partial/home/m2c.scss */
.head-img-290 .onlyimg {
  padding: 1px 0 0;
}

/* line 523, ../../source/sass/partial/home/m2c.scss */
.product-info .right {
  border-left: 1px solid #eee;
}

/* line 527, ../../source/sass/partial/home/m2c.scss */
.overseas .btn-detail {
  background-color: #a90000;
}
/* line 529, ../../source/sass/partial/home/m2c.scss */
.overseas .btn-detail:hover {
  background-color: #960000;
}

/* line 534, ../../source/sass/partial/home/m2c.scss */
.home-recom .bd {
  border: 1px solid #eee;
  border-top: 0;
  _height: 216px;
}
/* line 538, ../../source/sass/partial/home/m2c.scss */
.home-recom .bd .recomme-product {
  margin-top: 0px;
  padding-top: 14px;
}

/* line 544, ../../source/sass/partial/home/m2c.scss */
.place {
  position: relative;
  padding: 10px;
  background-color: #f6f6f6;
  height: 140px;
  z-index: 20;
  margin-left: -1px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* line 553, ../../source/sass/partial/home/m2c.scss */
.place .bluehengxian {
  border-top: 3px solid #1D398D;
  font-size: 0;
  line-height: 30px;
  position: absolute;
  top: -3px;
  width: 295px;
  left: -1px;
}
/* line 562, ../../source/sass/partial/home/m2c.scss */
.place a:hover {
  text-decoration: none;
}
/* line 565, ../../source/sass/partial/home/m2c.scss */
.place .bd {
  height: 110px;
  overflow: hidden;
}
/* line 569, ../../source/sass/partial/home/m2c.scss */
.place .hd {
  margin-top: 5px;
}
/* line 572, ../../source/sass/partial/home/m2c.scss */
.place .hd .dot {
  margin: 0 10px;
}
/* line 575, ../../source/sass/partial/home/m2c.scss */
.place .hd b, .place .hd small {
  display: inline-block;
  vertical-align: middle;
  color: #1D398D;
  font-weight: normal;
  *line-height: normal;
}
/* line 582, ../../source/sass/partial/home/m2c.scss */
.place .hd b {
  font-size: 24px;
}
/* line 585, ../../source/sass/partial/home/m2c.scss */
.place .hd small {
  font-family: "arial";
}
/* line 588, ../../source/sass/partial/home/m2c.scss */
.place .bd .item {
  margin: 8px 0 0;
  line-height: 1.5;
}
/* line 592, ../../source/sass/partial/home/m2c.scss */
.place .bd .dot, .place .bd a {
  display: inline-block;
  vertical-align: top;
}
/* line 596, ../../source/sass/partial/home/m2c.scss */
.place .bd .dot {
  margin-right: 10px;
}
/* line 599, ../../source/sass/partial/home/m2c.scss */
.place .bd a {
  width: 170px;
  color: #999;
}
/* line 602, ../../source/sass/partial/home/m2c.scss */
.place .bd a:hover {
  color: #1F7DD8;
}
/* line 606, ../../source/sass/partial/home/m2c.scss */
.place small {
  font-size: 16px;
  margin-top: 5px;
}

/* line 612, ../../source/sass/partial/home/m2c.scss */
.america {
  background: url(/images/home/icon-usa.png) no-repeat bottom right #f6f6f6;
}

/* line 616, ../../source/sass/partial/home/m2c.scss */
.europe {
  background: url(/images/home/icon-ou.png) no-repeat bottom right #f6f6f6;
}

/* line 620, ../../source/sass/partial/home/m2c.scss */
.aoxin {
  background: url(/images/home/icon-ao.png) no-repeat bottom right #f6f6f6;
}

/* line 624, ../../source/sass/partial/home/m2c.scss */
.naifenguan {
  background: url(/images/home/icon-baby.png) no-repeat bottom right #f6f6f6;
}

/* line 628, ../../source/sass/partial/home/m2c.scss */
.asia {
  background: url(/images/home/icon-asia.png) no-repeat bottom right #f6f6f6;
}

/* line 632, ../../source/sass/partial/home/m2c.scss */
.head-img-290 .img {
  width: 290px;
  height: 325px;
  margin-top: 3px;
  display: block;
}

/* line 639, ../../source/sass/partial/home/m2c.scss */
.img-list-160 .onlyimg .img {
  width: 290px;
  height: 160px;
}

/* line 644, ../../source/sass/partial/home/m2c.scss */
.img-two-240 {
  width: 395px;
  border-left: 1px solid #eee;
  margin-left: -1px;
}

/* line 650, ../../source/sass/partial/home/m2c.scss */
.img-two-240 .imgbox {
  display: block;
  height: 240px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding-top: 3px;
}

/* line 658, ../../source/sass/partial/home/m2c.scss */
.img-two-240 .second {
  border-bottom: 0;
  margin-top: 3px;
}

/* line 663, ../../source/sass/partial/home/m2c.scss */
.img-two-240 .second .img {
  margin-top: 2px;
}

/* line 667, ../../source/sass/partial/home/m2c.scss */
.img-two-240 .img {
  height: 240px;
  width: 395px;
}

/* line 672, ../../source/sass/partial/home/m2c.scss */
.brandlist {
  width: 205px;
  overflow: hidden;
  border-left: 1px solid #eee;
  margin-left: -1px;
}

/* line 679, ../../source/sass/partial/home/m2c.scss */
.brandlist .imgbox {
  padding: 6px 6px 5px 6px;
  float: left;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  margin-top: -1px;
  margin-left: -1px;
  width: 90px;
}

/* line 689, ../../source/sass/partial/home/m2c.scss */
.brandlist .img {
  width: 90px;
  height: 50px;
}

/* line 694, ../../source/sass/partial/home/m2c.scss */
.img-h160 {
  width: 290px;
  height: 160px;
}

/* line 699, ../../source/sass/partial/home/m2c.scss */
.img-h480 {
  width: 290px;
  height: 485px;
}

/* line 704, ../../source/sass/partial/home/m2c.scss */
.home-mod3, .home-mod4, .hottag, .hotlistbox {
  width: 588px;
  float: left;
  display: inline;
}

/* line 710, ../../source/sass/partial/home/m2c.scss */
.home-mod3 .comlun, .home-mod4 .comlun {
  height: 490px;
}

/* line 714, ../../source/sass/partial/home/m2c.scss */
.home-mod4, .hotlistbox {
  margin-left: 10px;
  display: inline;
}

/* line 720, ../../source/sass/partial/home/m2c.scss */
.home-mod .hd {
  border-bottom: 3px solid #ddd;
  font-size: 18px;
  padding-bottom: 2px;
  clear: both;
  height: 30px;
}
/* line 726, ../../source/sass/partial/home/m2c.scss */
.home-mod .hd .h4, .home-mod .hd .fc-dim {
  float: left;
}
/* line 729, ../../source/sass/partial/home/m2c.scss */
.home-mod .hd .fc-dim {
  line-height: 32px;
}
/* line 733, ../../source/sass/partial/home/m2c.scss */
.home-mod .hm-label {
  color: #1D398D;
  font: normal 16px/32px "Microsoft yahei";
  border-bottom: 3px solid #1D398D;
  margin-bottom: -6px;
  height: 32px;
  padding: 0 0 0 5px;
  font-weight: 700;
}
/* line 742, ../../source/sass/partial/home/m2c.scss */
.home-mod .dot {
  padding: 0 10px;
  color: #ccc;
}
/* line 746, ../../source/sass/partial/home/m2c.scss */
.home-mod .fc-dim {
  font-weight: normal;
  font-family: Arial;
}
/* line 751, ../../source/sass/partial/home/m2c.scss */
.home-mod .products .tb {
  width: 140px;
  margin: 10px 0 10px 10px;
  display: inline;
}
/* line 756, ../../source/sass/partial/home/m2c.scss */
.home-mod .products .imgbox {
  border: 1px solid #eee;
  padding: 9px;
  display: block;
  text-align: center;
}
/* line 762, ../../source/sass/partial/home/m2c.scss */
.home-mod .products .h6 {
  line-height: 1.5;
  margin: 5px 0;
  height: 36px;
  overflow: hidden;
}

/* line 771, ../../source/sass/partial/home/m2c.scss */
.hotlabel {
  border: 1px solid #eee;
  height: 198px;
  border-top: 0;
  overflow: hidden;
}
/* line 776, ../../source/sass/partial/home/m2c.scss */
.hotlabel h3, .hotlabel h4, .hotlabel h5 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 30px;
  margin: 15px 10px 0 10px;
  _margin: 15px 13px 0 13px;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 786, ../../source/sass/partial/home/m2c.scss */
.hotlabel h3 a:hover, .hotlabel h4 a:hover, .hotlabel h5 a:hover {
  text-decoration: none;
}
/* line 789, ../../source/sass/partial/home/m2c.scss */
.hotlabel h3 .fc-red:hover, .hotlabel h4 .fc-red:hover, .hotlabel h5 .fc-red:hover {
  color: #cc33333;
}
/* line 793, ../../source/sass/partial/home/m2c.scss */
.hotlabel h4 {
  line-height: 31px;
}
/* line 796, ../../source/sass/partial/home/m2c.scss */
.hotlabel h4 {
  line-height: 31px;
}
/* line 798, ../../source/sass/partial/home/m2c.scss */
.hotlabel h4 a {
  color: #999999;
  text-decoration: none;
}
/* line 802, ../../source/sass/partial/home/m2c.scss */
.hotlabel h4 a:hover {
  color: #1F7DD8;
  text-decoration: none;
}
/* line 807, ../../source/sass/partial/home/m2c.scss */
.hotlabel h5 {
  line-height: 32px;
}
/* line 810, ../../source/sass/partial/home/m2c.scss */
.hotlabel .fc-red:hover {
  color: #cc33333;
  text-decoration: none;
}

/* line 816, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products {
  border: 1px solid #eee;
  height: 198px;
  border-top: 0;
  overflow: hidden;
}
/* line 821, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .info {
  padding-top: 2px;
  height: 34px;
  overflow: hidden;
  font: normal 12px/1.5 "Microsoft yahei";
}
/* line 827, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotlist {
  float: left;
  border-right: 1px solid #eee;
  width: 204px;
}
/* line 831, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotlist .imgbox {
  border: 0;
  padding: 0;
  margin-right: 10px;
  position: relative;
  width: 80px;
  height: 80px;
}
/* line 838, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotlist .imgbox i {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #cc3333;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
}
/* line 851, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotlist .img {
  width: 80px;
  height: 80px;
}
/* line 855, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotlist .lr {
  height: 80px;
  border-bottom: 1px solid #eee;
}
/* line 859, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotlist .lr:hover .title {
  color: #1F7DD8;
}
/* line 864, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotlist .info {
  padding-top: 20px;
  width: 94px;
}
/* line 869, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotsmalllist {
  _width: 380px;
  _float: left;
}
/* line 872, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotsmalllist .imgbox {
  padding: 2px;
  _width: 36px;
  _height: 36px;
  margin-right: 6px;
}
/* line 878, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotsmalllist .img {
  width: 36px;
  height: 36px;
}
/* line 882, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotsmalllist .lr {
  height: 40px;
  float: left;
  width: 180px;
  padding: 8px 0 0 10px;
  _padding: 6px 0 0 10px;
}
/* line 889, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotsmalllist .lr:hover .title {
  color: #1F7DD8;
}
/* line 894, ../../source/sass/partial/home/m2c.scss */
.hotlistbox .products .hotsmalllist .info {
  width: 132px;
}

/* line 901, ../../source/sass/partial/home/m2c.scss */
.home-like .products {
  border: 1px solid #eee;
  border-top: 0;
  _height: 216px;
}
/* line 906, ../../source/sass/partial/home/m2c.scss */
.home-like .userlike-list {
  overflow: hidden;
  padding-top: 14px;
  margin: 0px 10px 7px;
  _margin: 0px 5px 7px;
}
/* line 911, ../../source/sass/partial/home/m2c.scss */
.home-like .userlike-list .tb {
  float: left;
  margin: 0;
  padding: 0 13px 10px;
  width: 120px;
  border-left: 1px #eee solid;
  margin-left: -1px;
  text-align: center;
}
/* line 919, ../../source/sass/partial/home/m2c.scss */
.home-like .userlike-list .tb .info {
  text-align: left;
}
/* line 923, ../../source/sass/partial/home/m2c.scss */
.home-like .userlike-list .fc-red {
  text-align: left;
}
/* line 926, ../../source/sass/partial/home/m2c.scss */
.home-like .userlike-list .price {
  font-size: 16px;
  margin-left: 2px;
  font-weight: 700;
}
/* line 931, ../../source/sass/partial/home/m2c.scss */
.home-like .userlike-list .imgbox {
  height: 120px;
  width: 120px;
  line-height: 120px;
  font-size: 0;
  border: 0;
  padding: 0;
}

/* line 942, ../../source/sass/partial/home/m2c.scss */
.img80 {
  width: 80px;
  height: 80px;
}

/* line 947, ../../source/sass/partial/home/m2c.scss */
.img-one .imgbox {
  margin-top: 5px;
}

/* line 951, ../../source/sass/partial/home/m2c.scss */
#ShoppingFocus .imagesbox .item, #SharingInfo .images .item {
  display: none;
}

/* line 955, ../../source/sass/partial/home/m2c.scss */
#ShoppingFocus .imagesbox .current, #SharingInfo .images .current {
  display: block;
}

/* line 959, ../../source/sass/partial/home/m2c.scss */
.appinfo {
  height: 220px;
  background: url(/images/home/loadiphone.jpg) no-repeat right bottom;
  width: 280px;
  padding-left: 10px;
}

/* line 966, ../../source/sass/partial/home/m2c.scss */
.appinfo h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 15px 0 0;
}

/* line 972, ../../source/sass/partial/home/m2c.scss */
.appinfo .h5 {
  line-height: 22px;
}

/* line 976, ../../source/sass/partial/home/m2c.scss */
.appinfo h3 span {
  font-size: 14px;
}

/* line 980, ../../source/sass/partial/home/m2c.scss */
.appinfo .btn-red {
  display: block;
  text-align: center;
  background-color: #CC3333;
  color: #fff;
  font: bold 14px/36px "Microsoft yahei";
  width: 100px;
  margin-top: 10px;
}

/* line 990, ../../source/sass/partial/home/m2c.scss */
.loadapp .bt {
  border-top: 1px solid #eee;
  padding-top: 15px;
  text-align: right;
}

/*home*/
/* line 998, ../../source/sass/partial/home/m2c.scss */
.fl-coupon {
  position: fixed;
  z-index: 9999;
  top: 488px;
  left: 0;
}

/* line 1006, ../../source/sass/partial/home/m2c.scss */
.blackFriday {
  padding-bottom: 10px;
}

/* line 1010, ../../source/sass/partial/home/m2c.scss */
.blackFriday img {
  float: left;
}

/* line 1014, ../../source/sass/partial/home/m2c.scss */
.product-info .imgbox {
  position: relative;
  padding-bottom: 21px;
}

/* line 1019, ../../source/sass/partial/home/m2c.scss */
.unStrat, .isEnd, .sold-out {
  position: absolute;
  width: 140px;
  line-height: 40px;
  height: 40px;
  left: 50%;
  margin-left: -70px;
  bottom: 7px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  font-size: 18px;
}

/* line 1033, ../../source/sass/partial/home/m2c.scss */
#nav-sidebar {
  visibility: visible !important;
  _top: 50px !important;
}

/* line 1039, ../../source/sass/partial/home/m2c.scss */
#TuangouTab .hd .more {
  position: absolute;
  left: 152px;
  bottom: 10px;
}

/* line 1046, ../../source/sass/partial/home/m2c.scss */
#HomePageContent a.fc-red:hover {
  color: #cc33333;
}
