/* line 3, ../../source/sass/home/overseas.scss */
.overseas {
  overflow: hidden;
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#eeeeee);
  -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(top, #ffffff, #eeeeee);
}
/* line 6, ../../source/sass/home/overseas.scss */
.overseas .tb-l {
  width: 567px;
  float: left;
  padding: 10px;
}
/* line 10, ../../source/sass/home/overseas.scss */
.overseas .tb-l:hover {
  cursor: pointer;
}
/* line 12, ../../source/sass/home/overseas.scss */
.overseas .tb-l:hover .info-wrap-hd a {
  color: #333;
}
/* line 16, ../../source/sass/home/overseas.scss */
.overseas .tb-l .imgbox {
  width: 200px;
  height: 240px;
  float: left;
}
/* line 21, ../../source/sass/home/overseas.scss */
.overseas .tb-l .title, .overseas .tb-l .desc {
  display: block;
  font-size: 18px;
}
/* line 25, ../../source/sass/home/overseas.scss */
.overseas .tb-l .key {
  color: #cc3333;
  font-size: 14px;
}
/* line 31, ../../source/sass/home/overseas.scss */
.overseas .info-wrap {
  margin-left: 212px;
}
/* line 33, ../../source/sass/home/overseas.scss */
.overseas .info-wrap .info-wrap-hd {
  height: 85px;
  margin-top: 10px;
  *margin-top: 20px;
}
/* line 37, ../../source/sass/home/overseas.scss */
.overseas .info-wrap .info-wrap-hd a:hover {
  color: #333;
  text-decoration: none;
}
/* line 42, ../../source/sass/home/overseas.scss */
.overseas .info-wrap .info-wrap-bd {
  height: 80px;
  font-size: 14px;
  margin-top: 10px;
}
/* line 46, ../../source/sass/home/overseas.scss */
.overseas .info-wrap .info-wrap-bd sup {
  font-size: 20px;
  top: -26px;
}
/* line 50, ../../source/sass/home/overseas.scss */
.overseas .info-wrap .info-wrap-bd .pb-txt {
  color: #cc3333;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 5px;
}
/* line 55, ../../source/sass/home/overseas.scss */
.overseas .info-wrap .info-wrap-bd .pb-price {
  font-size: 50px;
  font-weight: normal;
  margin-top: 10px;
  margin-right: 5px;
}
/* line 62, ../../source/sass/home/overseas.scss */
.overseas .info-wrap .info-wrap-ft {
  position: relative;
  bottom: 0;
  _height: 45px;
}
/* line 66, ../../source/sass/home/overseas.scss */
.overseas .info-wrap .info-wrap-ft .timeout-wrap {
  position: absolute;
  right: -4px;
  bottom: 3px;
}
/* line 73, ../../source/sass/home/overseas.scss */
.overseas .btn-detail {
  background-color: #a90000;
  width: 150px;
  height: 42px;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 42px;
  color: #fff;
  font-size: 18px;
  border-bottom: 3px #ddd solid;
}
/* line 83, ../../source/sass/home/overseas.scss */
.overseas .btn-detail:hover {
  color: #fff;
  background-color: #960000;
  text-decoration: none;
}
/* line 89, ../../source/sass/home/overseas.scss */
.overseas .tb-r {
  width: 162px;
  float: right;
  border-left: 1px #e5e5e5 solid;
  text-align: center;
}
/* line 95, ../../source/sass/home/overseas.scss */
.overseas .product-tbr {
  padding: 8px 15px;
  position: relative;
  border-top: 1px #e5e5e5 solid;
  margin-top: -1px;
  height: 114px;
  background-color: #fff;
}
/* line 104, ../../source/sass/home/overseas.scss */
.overseas .product-tbr:hover .title a {
  color: #1F7DD8;
}
/* line 107, ../../source/sass/home/overseas.scss */
.overseas .product-tbr .imgbox {
  width: 80px;
  height: 74px;
  overflow: hidden;
}
/* line 111, ../../source/sass/home/overseas.scss */
.overseas .product-tbr .imgbox img {
  width: 80px;
  height: 74px;
}
/* line 116, ../../source/sass/home/overseas.scss */
.overseas .product-tbr .title {
  margin-top: 4px;
  text-align: left;
}
/* line 120, ../../source/sass/home/overseas.scss */
.overseas .product-tbr .price {
  position: absolute;
  right: 5px;
  top: 3px;
  color: #cc3333;
  font-size: 16px;
  font-weight: 700;
}
/* line 127, ../../source/sass/home/overseas.scss */
.overseas .product-tbr .price em {
  font-size: 12px;
  margin-right: 2px;
  vertical-align: 2px;
}
