@font-face {
  font-family: 'shiconfont';
  src: url("http://at.alicdn.com/t/font_1423120503_706834.eot");
  /* IE9*/
  src: url("http://at.alicdn.com/t/font_1423120503_706834.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_1423120503_706834.woff") format("woff"), url("http://at.alicdn.com/t/font_1423120503_706834.ttf") format("truetype"), url("http://at.alicdn.com/t/font_1423120503_706834.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 11, ../../source/sass/home/sh-icon.scss */
.sh-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'shiconfont';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  *line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}

/* line 25, ../../source/sass/home/sh-icon.scss */
.icon-sortbeauty:before, .icon-3:before {
  content: "\e606";
}

/* line 26, ../../source/sass/home/sh-icon.scss */
.icon-sortcloth:before, .icon-2:before {
  content: "\e607";
}

/* line 27, ../../source/sass/home/sh-icon.scss */
.icon-sortelectronics:before, .icon-9:before {
  content: "\e608";
}

/* line 28, ../../source/sass/home/sh-icon.scss */
.icon-sortfood:before, .icon-12:before {
  content: "\e609";
}

/* line 29, ../../source/sass/home/sh-icon.scss */
.icon-sortglass:before, .icon-8:before {
  content: "\e60a";
}

/* line 30, ../../source/sass/home/sh-icon.scss */
.icon-sorthealth:before, .icon-4:before {
  content: "\e60b";
}

/* line 31, ../../source/sass/home/sh-icon.scss */
.icon-sortjewel:before, .icon-7:before {
  content: "\e60c";
}

/* line 32, ../../source/sass/home/sh-icon.scss */
.icon-sortlife:before, .icon-10:before {
  content: "\e60d";
}

/* line 33, ../../source/sass/home/sh-icon.scss */
.icon-sortmami:before, .icon-5:before {
  content: "\e60e";
}

/* line 34, ../../source/sass/home/sh-icon.scss */
.icon-sortman:before, .icon-11:before {
  content: "\e60f";
}

/* line 35, ../../source/sass/home/sh-icon.scss */
.icon-sortwatch:before, .icon-6:before {
  content: "\e610";
}

/* line 36, ../../source/sass/home/sh-icon.scss */
.icon-location:before {
  content: "\e618";
}
