/*=======================base.css===========================*/
HTML {
    BACKGROUND: #ffffff;
}
TABLE {
    TEXT-ALIGN: left;
    BORDER-SPACING: 0;
    BORDER-COLLAPSE: collapse;
    EMPTY-CELLS: show;
}
TH {
    BORDER-COLLAPSE: collapse;
}
TD {
    BORDER-COLLAPSE: collapse;
}
OL {
    LIST-STYLE-TYPE: none;
}
UL {
    LIST-STYLE-TYPE: none;
}
UL {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}
LI {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Tahoma;
    list-style-type: none;
}
OL {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}