/*=======================div_windows.css===========================*/
@charset "utf-8";

/* CSS Document */
#gary1_window {
    width: 440px;
    height: 260px;
    background-color: #e2e2e2;
    font-size: 14px;
}
#gary1_window a {
    text-decoration: none;
    color: #666;
}
#gary2_window {
    width: 440px;
    height: 280px;
    background-color: #e2e2e2;
    font-size: 14px;
}
#gary2_window a {
    text-decoration: none;
    color: #666;
}
#gary3_window {
    width: 440px;
    height: 170px;
    background-color: #e2e2e2;
    font-size: 14px;
}
#gary3_window a {
    text-decoration: none;
    color: #666;
}
#sq1_window {
    width: 430px;
    height: 250px;
    background-color: #FFF;
    margin: 5px;
}
#sq2_window {
    width: 430px;
    height: 270px;
    background-color: #FFF;
    margin: 5px;
}
#sq3_window {
    width: 430px;
    height: 160px;
    background-color: #FFF;
    margin: 5px;
}
.titie_1 {
    color: #EB5E00;
    font-weight: bold;
    font-size: 16px;
}
.suojin {
    padding: 0 20px 0 20px;
    line-height: 24px;
}
.zw_1 {
}
.f_color_or {
    color: #EB5E00;
}