/*=======================ymatou_07_06.css===========================*/
#top_1 {
	BACKGROUND-IMAGE: url(/content/images/all.gif);
	BORDER-BOTTOM: #0000ff 0px solid;
	BORDER-LEFT: #0000ff 0px solid;
	WIDTH: auto;
	BACKGROUND-POSITION: 0px -101px;
	FLOAT: none;
	HEIGHT: 70px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	BORDER-TOP: #0000ff 0px solid;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #0000ff 0px solid
}
#top_1 .logo {
	WIDTH: 284px;
	FLOAT: left;
	MARGIN-RIGHT: 185px
}
#top_1 .shoppingcart {
	FLOAT: right
}
.top_nav .nav_button2 {
	BACKGROUND-IMAGE: url(/content/images/all.gif);
	MARGIN-TOP: 10px;
	PADDING-LEFT: 25px;
	WIDTH: 86px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0px -35px;
	FLOAT: right;
	HEIGHT: 23px;
	CURSOR: hand;
	MARGIN-RIGHT: 20px;
	PADDING-TOP: 6px
}
#Layer1 {
	Z-INDEX: 1;
	POSITION: absolute;
	WIDTH: 64px;
	HEIGHT: 34px
}
#Layer2 {
	Z-INDEX: 1;
	POSITION: absolute;
	WIDTH: 173px;
	HEIGHT: 84px;
	TOP: -20px;
	LEFT: 128px
}
#top_1 .shoppingcart .cart {
	BACKGROUND-IMAGE: url(/content/images/all.gif);
	BORDER-BOTTOM: #d7d7d7 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #d7d7d7 1px solid;
	WIDTH: 100px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: -5px -6px;
	HEIGHT: 18px;
	COLOR: #ab0906;
	FONT-SIZE: 12px;
	BORDER-TOP: #d7d7d7 1px solid;
	BORDER-RIGHT: #d7d7d7 1px solid;
	padding-top: 2px;
}
#top_1 .shoppingcart .ico1 {
	BACKGROUND-IMAGE: url(/content/images/all.gif);
	PADDING-LEFT: 5px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0px -180px;
	HEIGHT: 20px;
	MARGIN-LEFT: 10px;
	MARGIN-RIGHT: 5px
}
#top_1 .shoppingcart LI {
	MARGIN-TOP: 20px;
	FLOAT: left
}
.area968 {
	WIDTH: 968px;
	FLOAT: none;
	HEIGHT: 58px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto
}
.font16 {
	COLOR: #666261;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}
.font16_2 {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: #666666;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}
.font16_2 A {
	COLOR: #666666
}
.font16_3 {
	TEXT-ALIGN: center;
	WIDTH: 110px;
	DISPLAY: block;
	FONT-FAMILY: "微软雅黑";
	HEIGHT: 48px;
	COLOR: #ffffff;
	FONT-SIZE: 16px;
	CURSOR: hand;
	FONT-WEIGHT: bold;
	PADDING-TOP: 10px
}
.font16_3 A {
	WIDTH: 110px;
	DISPLAY: block;
	HEIGHT: 48px;
	COLOR: #ffffff;
	PADDING-TOP: 10px
}
.font16_3 A:hover {
	BACKGROUND-IMAGE: url(/content/images/hover.jpg);
	WIDTH: 110px;
	DISPLAY: block;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0px -15px;
	HEIGHT: 48px;
	TEXT-DECORATION: none;
	PADDING-TOP: 10px
}
.font13 {
	COLOR: #9d9d9d;
	FONT-SIZE: 13px
}
.font13_2 {
	COLOR: #dc0000;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}
.font24 {
	TEXT-ALIGN: left;
	PADDING-LEFT: 15px;
	FONT-FAMILY: "微软雅黑";
	COLOR: #000000;
	FONT-SIZE: 20px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 10px
}
.font18 {
	TEXT-ALIGN: left;
	PADDING-LEFT: 15px;
	FONT-FAMILY: "微软雅黑";
	COLOR: #ffffff;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 10px
}
.fontred {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: #ba253b;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold
}
.top_nav {
	BACKGROUND-IMAGE: url(/content/images/menu_bg.jpg);
	BORDER-BOTTOM: #0000ff 0px solid;
	BORDER-LEFT: #0000ff 0px solid;
	BACKGROUND-COLOR: #ff6600;
	WIDTH: auto;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: center 50%;
	FLOAT: none;
	HEIGHT: 58px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	BORDER-TOP: #0000ff 0px solid;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #0000ff 0px solid
}
.top_nav LI {
	FLOAT: left
}
.keyword {
	BACKGROUND-IMAGE: url(/content/images/all.gif);
	BORDER-BOTTOM: #cfcfcf 1px solid;
	BORDER-LEFT: #cfcfcf 1px solid;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 20px;
	WIDTH: 948px;
	BACKGROUND-POSITION: 0px -197px;
	FLOAT: none;
	HEIGHT: 23px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	BORDER-TOP: #cfcfcf 1px solid;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #cfcfcf 1px solid;
	PADDING-TOP: 4px
}
.keyword A {
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px
}
.keyword .keyword1 {
	PADDING-LEFT: 10px;
	COLOR: #f7620e
}
.active_area {
	MARGIN-TOP: 10px;
	WIDTH: 968px;
	FLOAT: none;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto
}
.active_area .active1 {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #dadcd6;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	FLOAT: left;
	HEIGHT: 316px;
	PADDING-TOP: 5px
}
.active_area .active2 {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #dadcd6;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	FLOAT: left;
	HEIGHT: 316px;
	MARGIN-LEFT: 12px;
	MARGIN-RIGHT: 12px;
	PADDING-TOP: 5px
}
.active_area .active3 {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #dadcd6;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	FLOAT: left;
	HEIGHT: 316px;
	PADDING-TOP: 5px
}
.content2 {
	WIDTH: 968px;
	FLOAT: none;
	HEIGHT: 325px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto;
	PADDING-TOP: 10px
}
.content2 .discount {
	BORDER-BOTTOM: #ff0000 0px solid;
	BORDER-LEFT: #ff0000 0px solid;
	PADDING-BOTTOM: 10px;
	BACKGROUND-COLOR: #bfc6cc;
	WIDTH: 678px;
	FLOAT: left;
	BORDER-TOP: #ff0000 0px solid;
	MARGIN-RIGHT: 10px;
	BORDER-RIGHT: #ff0000 0px solid
}
.content2 .discount .dis_product {
	BACKGROUND-COLOR: #ffffff;
	MARGIN-TOP: 15px;
	PADDING-LEFT: 0px;
	WIDTH: 658px;
	FLOAT: left;
	HEIGHT: 276px;
	MARGIN-LEFT: 5px;
	MARGIN-RIGHT: 5px;
	PADDING-TOP: 0px
}
.content2 .discount .dis_product .price1 {
	COLOR: #9c9d95
}
.content2 .discount .dis_product UL {
	BORDER-BOTTOM: #993300 1px solid;
	BORDER-LEFT: #993300 1px solid;
	FLOAT: left;
	BORDER-TOP: #993300 1px solid;
	BORDER-RIGHT: #993300 1px solid
}
.content2 .discount .dis_product .arrow {
	WIDTH: 25px;
	FLOAT: left;
	PADDING-TOP: 100px
}
.content2 .discount .dis_product .dis_info {
	PADDING-LEFT: 5px
}
.content2 .discount .dis_product .dis_info P {
	WIDTH: 190px;
	DISPLAY: block;
	FLOAT: left;
	OVERFLOW: hidden
}
.content2 .bbs {
	BORDER-BOTTOM: #ff0000 0px solid;
	BORDER-LEFT: #ff0000 0px solid;
	PADDING-BOTTOM: 10px;
	BACKGROUND-COLOR: #bfc6cc;
	WIDTH: 270px;
	FLOAT: left;
	BORDER-TOP: #ff0000 0px solid;
	BORDER-RIGHT: #ff0000 0px solid
}
.content2 .bbs LI {
	BORDER-BOTTOM: #cccccc 1px solid;
	WIDTH: 260px;
	FLOAT: left;
	HEIGHT: 68px
}
.content2 .bbs .bbscontent IMG {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
.content2 .bbs SPAN {
	FLOAT: left
}
.content2 .bbs .bbscontent .bbsimg {
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 5px;
	WIDTH: 60px;
	PADDING-RIGHT: 5px;
	FLOAT: left;
	HEIGHT: 60px;
	PADDING-TOP: 5px
}
.content2 .bbs .bbscontent .bbstxt {
	WIDTH: 176px;
	FLOAT: left;
	HEIGHT: 60px
}
.content2 .bbs .bbscontent {
	BACKGROUND-COLOR: #ffffff;
	MARGIN-TOP: 15px;
	WIDTH: 250px;
	FLOAT: left;
	MARGIN-LEFT: 5px;
	MARGIN-RIGHT: 5px
}
.content2 .bbs .bbscontent H3 {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 12px;
	PADDING-TOP: 0px
}
.i_title {
	BACKGROUND-IMAGE: url(/content/images/all.gif);
	BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-POSITION: 0px -287px;
	HEIGHT: 36px
}
.i_title .titlebg {
	BACKGROUND-IMAGE: url(/content/images/all.gif);
	PADDING-LEFT: 20px;
	WIDTH: 128px;
	BACKGROUND-REPEAT: no-repeat;
	FONT-FAMILY: "微软雅黑";
	BACKGROUND-POSITION: 0px -234px;
	FLOAT: left;
	HEIGHT: 30px;
	COLOR: #ffffff;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 6px
}
.i_title .title_more {
	BACKGROUND-IMAGE: url(/content/images/all.gif);
	TEXT-ALIGN: center;
	MARGIN-TOP: 10px;
	WIDTH: 46px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0px -68px;
	FLOAT: right;
	HEIGHT: 18px;
	COLOR: #ffffff;
	FONT-SIZE: 12px;
	CURSOR: hand;
	MARGIN-RIGHT: 30px
}
.product .i_title .title_more A {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}
.product {
	WIDTH: 968px;
	FLOAT: none;
	HEIGHT: auto;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto;
	PADDING-TOP: 10px
}
.product .product1 {
	BORDER-LEFT: #d9d9d9 1px solid;
	WIDTH: 960px;
	HEIGHT: 185px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #d9d9d9 1px solid;
	PADDING-TOP: 10px
}
.product .product1 SPAN {
	BORDER-BOTTOM: #cccccc 1px solid;
	PADDING-BOTTOM: 10px;
	WIDTH: 308px;
	FLOAT: left;
	HEIGHT: 173px;
	MARGIN-LEFT: 10px
}
.product .product2 {
	BORDER-BOTTOM-COLOR: #d9d9d9;
	BORDER-LEFT: #d9d9d9 1px solid;
	PADDING-BOTTOM: 10px;
	BORDER-TOP-COLOR: #d9d9d9;
	PADDING-LEFT: 30px;
	WIDTH: 930px;
	HEIGHT: 186px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #d9d9d9 1px solid;
	PADDING-TOP: 15px
}
.product .product2 UL {
	WIDTH: 155px;
	FLOAT: left
}
.product .product2 IMG {
	BORDER-BOTTOM: #d9d9d9 1px solid;
	BORDER-LEFT: #d9d9d9 1px solid;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #d9d9d9 1px solid;
	BORDER-RIGHT: #d9d9d9 1px solid;
	PADDING-TOP: 2px
}
.product .product3 {
	BORDER-BOTTOM: #d9d9d9 1px solid;
	BORDER-LEFT: #d9d9d9 1px solid;
	PADDING-LEFT: 0px;
	WIDTH: 960px;
	HEIGHT: 352px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	BORDER-TOP: #d9d9d9 1px dotted;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #d9d9d9 1px solid;
	PADDING-TOP: 15px
}
.product .product3 UL {
	FLOAT: left
}
.product .product3 LI {
	BORDER-BOTTOM: #d9d9d9 1px solid;
	BORDER-TOP-COLOR: #d9d9d9;
	WIDTH: 215px;
	MARGIN-BOTTOM: 1px;
	FLOAT: left;
	HEIGHT: 175px;
	BORDER-LEFT-COLOR: #d9d9d9;
	MARGIN-RIGHT: 0px;
	BORDER-RIGHT: #d9d9d9 1px solid
}
.product .product3 P {
	WIDTH: 100px
}
.product .product3 SPAN {
	FLOAT: left
}
.product .product3 .info1 {
	PADDING-LEFT: 10px;
	WIDTH: 100px;
	FLOAT: left;
	PADDING-TOP: 10px
}
.product .product3 .porduct5 {
	WIDTH: 650px;
	FLOAT: right
}
.buyer {
	WIDTH: 968px;
	FLOAT: none;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto;
	PADDING-TOP: 10px
}
.buyer .buyer_area {
	BORDER-BOTTOM: #d9d9d9 1px solid;
	BORDER-LEFT: #d9d9d9 1px solid;
	BORDER-TOP-COLOR: #d9d9d9;
	PADDING-LEFT: 0px;
	WIDTH: 960px;
	HEIGHT: 182px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #d9d9d9 1px solid
}
.buyer .buyer_area UL {
	FLOAT: left
}
.buyer .buyer_area LI {
	BORDER-BOTTOM: #d9d9d9 1px solid;
	BORDER-LEFT: #d9d9d9 1px solid;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-TOP-COLOR: #d9d9d9;
	WIDTH: 255px;
	FLOAT: left;
	BORDER-TOP-WIDTH: 1px;
	HEIGHT: 60px;
	BORDER-RIGHT-COLOR: #d9d9d9
}
.buyer .buyer_area .buyer_pic {
	WIDTH: 255px;
	FLOAT: left
}
.buyer .buyer_area SPAN {
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	FLOAT: left;
	PADDING-TOP: 5px
}
.Brand {
	BORDER-BOTTOM: #990000 0px solid;
	BORDER-LEFT: #990000 0px solid;
	WIDTH: 968px;
	FLOAT: none;
	HEIGHT: 320px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	BORDER-TOP: #990000 0px solid;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #990000 0px solid;
	PADDING-TOP: 10px;
	margin-bottom: 10px;
}
.brand_area SPAN {
	PADDING-LEFT: 7px;
	FLOAT: left;
	PADDING-TOP: 10px
}
.Brand .brand_area {
	BORDER-BOTTOM: #d9d9d9 1px solid;
	BORDER-LEFT: #d9d9d9 1px solid;
	PADDING-BOTTOM: 10px;
	BORDER-TOP-COLOR: #d9d9d9;
	PADDING-LEFT: 0px;
	WIDTH: 960px;
	HEIGHT: 280px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #d9d9d9 1px solid
}
.brand_area .mall SPAN {
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	PADDING-TOP: 10px
}
.brand_area .brand_pic {
	WIDTH: 966px;
	FLOAT: none;
	HEIGHT: 220px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto
}
.brand_area .mall {
	BORDER-BOTTOM: #ff0000 0px solid;
	BORDER-LEFT: #ff0000 0px solid;
	WIDTH: 966px;
	FLOAT: left;
	HEIGHT: 30px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	BORDER-TOP: #ff0000 0px solid;
	MARGIN-RIGHT: auto;
	BORDER-RIGHT: #ff0000 0px solid;
	PADDING-TOP: 10px
}
.service {
	MARGIN-TOP: 0px;
	WIDTH: 968px;
	FLOAT: none;
	HEIGHT: 95px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto;
	margin-bottom: 10px;
}
#footer {
	BACKGROUND-IMAGE: url(/content/images/footer_bg.jpg);
	MARGIN-TOP: 0px;
	WIDTH: auto;
	FLOAT: none;
	HEIGHT: 150px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto;
	line-height: 22px;
}
#footer UL {
	BORDER-BOTTOM: #ff0000 0px solid;
	BORDER-LEFT: #ff0000 0px solid;
	MARGIN-TOP: 10px;
	WIDTH: 130px;
	FLOAT: left;
	COLOR: #c9c9c9;
	MARGIN-LEFT: 100px;
	BORDER-TOP: #ff0000 0px solid;
	MARGIN-RIGHT: 20px;
	BORDER-RIGHT: #ff0000 0px solid
}
#footer .footer968 {
	PADDING-LEFT: 68px;
	WIDTH: 900px;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto
}
#footer .footer968 A {
	COLOR: #c9c9c9;
	TEXT-DECORATION: none
}
#footer .footer968 A:hover {
	COLOR: #ff6600;
	TEXT-DECORATION: underline
}
#footer .footer9682 {
	TEXT-ALIGN: center;
	WIDTH: 968px;
	COLOR: #f2f2f2;
	MARGIN-LEFT: auto;
	CLEAR: both;
	MARGIN-RIGHT: auto
}