/*=======================AddProduct.css===========================*/
.LTd {
	text-align: right;
}
.RTd {
	padding: 5px;
}
.msgSpan {
	height: 25px;
	padding: 5px 12px;
	background-color: #EFEFEF;
}
.textSpan {
	margin-right: 15px;
}