/*=======================login.css===========================*/
@charset "utf-8";

/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, i {
    margin: 0;
    padding: 0;
}
abbr, article, aside, bb, datagrid, datalist, details, dialog, eventsource, figure, footer, header, mark, menu, meter, nav, output, progress, section, time {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/1.5 "Arial", "\5B8B\4F53", sans-serif;
    color: #666;
    word-wrap: break-word;
    word-break: break-all;
    background: #fff;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table caption {
    display: none;
}
ol, ul {
    list-style: none outside;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover {
    color: #F04E00;
}
.area {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.page_mod {
    width: 900px;
    margin: auto;
}
.div_900 {
    width: 900px;
    margin: 50px auto 0;
    height: 450px;
}
#logo {
    width: 900px;
    height: 55px;
    margin-bottom: 20px;
    text-align: left;
}
#img_login {
    width: 452px;
    height: 260px;
    margin-top: 30px;
    float: left;
}
.input_div {
    width: 360px;
    float: right;
}
.input_div li {
}
.gary_f1 {
    font-size: 14px;
    color: #666;
    text-align: left;
}
.gary_f2 {
    font-size: 14px;
    color: #333;
}
.gary_f3 {
    font-size: 12px;
    color: #666;
}
#input_login {
    width: 360px;
    border: 1px solid #ccc;
    background-color: #efefef;
    margin: 5px 0 1px;
}
#input_login_bk {
    width: 350px;
    margin: 5px;
    padding: 30px 0;
    background-image: url(/content/images/login/login_input_bk.png);
    padding-top: 20px;
    text-align: center;
}
.input_style {
    width: 200px;
    height: 26px;
    border: 1px solid #dadada;
    border-top: 1px solid #bababa;
}
.jinggao {
    height: 26px;
    background-color: #F04E00;
    font-size: 12px;
    color: #fff;
    line-height: 26px;
    padding-left: 7px;
    width: 200px;
}
.jinggao a, .jinggao a:hover {
    color: #fff;
    text-decoration: none;
}
#checkbox_login {
}
#checkbox_login li {
    float: left;
    display: inline;
    margin-right: 5px;
    line-height: 18px;
}
#line_line {
    margin: 0px auto 15px;
    font-size: 0px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #fff;
    width: 280px;
}
.left_ul_li {
    width: 300px;
    height: 28px;
    margin: 0 auto;
    text-align: center;
}
.left_ul_li li {
    margin-right: 6px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
}
.left_ul_li li {
    display: inline;
}
.div_input {
    height: 28px;
    width: 300px;
    margin: 0px auto 15px auto;
}
#bottom_bk {
    width: 900px;
    height: 6px;
    background-image: url(/content/images/login/login_gary_bk.png);
    margin: 0 auto;
}
.bottom_bk {
    width: 100%;
    height: 6px;
    background: url(img/login_gary_bk.png) repeat-x;
    margin: 0 auto;
}

/*#bottom_list {width:905px;margin-right:auto;margin-left:auto;font-size:0px;text-align:center;}
#bottom_list div {float:left;width:301px;height:120px; font-size:12px;}
#bottom_list li {margin-top:10px;}
#bottom_list span {font-weight:bold;font-size:14px;}*/

/*alert_box*/
.alert_box, .double_box {
    border: 1px solid #CCCCCC;
    padding: 5px;
    background-color: #EFEFEF;
    display: none;
}
.alert_box .alert_box_inner, .double_box .double_box_inner {
    background-color: #FFFFFF;
}
.shut_alert_box {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    height: 10px;
    background: url(img/sprites/icon.png) no-repeat -162px -125px;
}
.btn_0 a {
    text-decoration: none;
}
#activation {
    position: absolute;
    overflow: auto;
    _height: 1%;
    text-align: center;
}
#activation .alert_box_inner {
    width: 400px;
    height: 170px;
}
.alert_box_content {
    width: 300px;
    height: 92px;
    padding: 40px 0;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.8;
}
#activation .subtn {
    padding: 30px 0 0;
}
.sina_login {
    display: inline-block;
    width: 80px;
}
.sina_login i {
    width: 20px;
    background: url(img/sprites/icon.png) no-repeat -86px -236px;
    height: 18px;
    float: left;
}
#reActivation {
    width: 770px;
    margin: 0 auto;
    padding: 0px 0 30px;
    text-align: left;
}
#reActivation .fill_left {
    width: 555px;
    padding-top: 20px;
    text-align: left;
}
#reActivation .fill_right {
    padding: 0 0 0 30px;
    margin-left: 30px;
    background: url(/content/images/login/login_fill_split.png) no-repeat;
    height: 204px;
}
.wid900 {
    width: 900px;
}
#reActivation h3, .h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
#reActivation .h4 {
    margin: 20px 0 8px;
}
.h4 {
    font: bold 14px/1.5 '\5b8b\4f53';
}
#reActivation .form_info .item {
    float: none;
    padding: 5px 0;
}
.resetpd_btn {
    padding: 20px 0;
}
.regetmail {
    margin-right: 20px;
}
.resendmail {
    display: none;
}
.reActivation_des {

    /* line-height: 26px;*/
    padding: 0px 0;
    font-size: 14px;
}
.reActivation_des .span1 {
    color: #000000;
    font-size: 16px;
}
.reActivation_des .span2 {
    color: #F04D00;
    font-size: 14px;
}
.reActivation_des strong {
    color: #F04C00;
}
.reActivation_des .span3 {
    color: #666666;
    font-size: 14px;
}
.reActivation_des .spangrey {
    color: #666666;
}
.getInfo .getInfoitem {
    font-size: 14px;
}
.getInfo .getInfoitem .name {
    color: #666666;
}
.getInfo .getInfoitem .data {
    color: #000000;
}
.weibo_wel {
    width: 290px;
    height: 54px;
    padding-top: 50px;
}
.weibo_wel .pro_list_img {
    border: 1px solid #E2E2E2;
    width: 54px;
    margin: 10px 0 0 0;
    height: 54px;
}
.weibo_wel .pro_list_img img {
    width: 54px;
    height: 54px;
}
.weibo_wel .pro_list_right {
}

/***product list***/
.pro_list .pro_list_left, .pro_list .pro_list_img, .pro_list .pro_list_img a, .pro_list .pro_list_img img {
    display: block;
}
.pro_list .pro_list_left {
    float: left;
    margin-right: 10px;
}
.pro_list .pro_list_right {
    margin-left: -3px;
}
.pro_list .pro_list_dec {
    line-height: 22px;
}
.pro_list .pro_list_tit {
    height: 30px;
    line-height: 30px;
}
.verifymail .node {
    margin: 20px 0;
}
.verifymail label.l {
    width: 100px;
    text-align: right;
}
.successlogin {
    line-height: 30px;
    padding: 40px 0 30px 110px;
}
.successlogin .mail {
    font: bold 20px / 1.5 "arial";
}
.successlogin .dashed {
    width: 750px;
}
.dashed {
    border-bottom: 1px dashed #ccc;
    margin: 10px 0;
}
.rect {
    border: 1px solid #efefef;
    padding: 10px;
}
.modifymail {
    width: 520px;
    margin: 10px 0;
}
.modifymail .h4 {
    color: #000;
    margin-bottom: 8px;
}
.modifymail .space label.l {
    width: 54px;
    text-align: right;
}
.modifymail .node {
    margin: 10px 0;
}
.modifymail .text {
    width: 166px;
}

/*new RegistrationSuccess 20140522*/
.successlogin .icon-font {
    font-size: 54px;
    float: left;
    -webkit-font-smoothing: antialiased;
    height: 60px;
    padding: 0 9px;
    vertical-align: middle;
    line-height: 54px;
    color: #629C02;
}
.successlogin h3 .btn-0 {
    font-size: 12px;
    font-weight: normal;
}
.successlogin, .successlogin b {
    font-size: 14px;
    font-weight: normal;
}
.successlogin .pleft {
    padding-left: 70px;
    color: #333;
}
.successlogin .pleft a {
    color: blue;
}
#msgCode {
    width: 90px;
}
#reActivation .getCode {
    background: #8FA0AB;
    border: 0;
    color: #fff;
    line-height: 30px;
    height: 30px;
    margin-left: 2px;
}
#reActivation .getCode:hover {
    background: #7cA0AB;
    color: #fff;
}
#reActivation .getCodeStop, #reActivation .getCodeStop:hover {
    background: #CCD4D9;
    color: #8E9FAB;
    cursor: default;
}

/*活动券*/
.voucher {
    width: 600px;
    height: 140px;
    background: #eee;
    text-align: left;
    overflow: hidden;
    margin: 10px 0;
}
.voucher-main {
    margin: 15px;
}
.voucher-hd {
    font-size: 14px;
    color: #666;
    margin: 5px 10px;
}
.voucher-bd {
}
.voucher-left {
    float: left;
    margin: 0 10px;
}
.voucher-bg {
    background: url(../images/sprites/voucher.png?v=201408290101);
    display: block;
    width: 194px;
    height: 80px;
}
.voucher-explain {
    color: #999;
    font-size: 12px;
    margin-top: -30px;
    white-space: nowrap;
    white-space: nowrap;
}
.voucher-explain ul {
    list-style: initial;
    margin-left: 10px;
    list-style-position: inside;
    display: block;
    line-height: 20px;
}
.voucher-name {
    width: 24px;
    font-size: 18px;
    color: #fff;
    word-break: break-all;
    display: inline-block;
    margin: 10px;
    float: left;
}
.voucher-name-more {
    line-height: 20px;
}
.voucher-cont {
    float: left;
    width: 150px;
    height: 80px;
    text-align: center;
    font-size: 32px;
    color: #fff;
    line-height: 35px;
}
.voucher-small {
    margin-top: 5px;
    font-size: 20px;
    display: block;
}
.voucher-unit {
    font-size: 20px;
}
.voucher-red-bag {
    font-size: 48px;
    line-height: normal;
    line-height: 80px;
}
.voucher-warn {
    color: #ee550b;
}

/* 微信登录 */
.weixin {
    margin-right: 5px;
}
.weixin_a {
    text-decoration: none;
}
.weixin_a:hover {
    color: #666;
    text-decoration: none;
}