/*=======================MsgItem.css===========================*/
h1 {
	padding-left: 40px;
	padding-top: 3px;
	background: transparent url(http://img.ymatou.com/portal/images/Mailitem.png) no-repeat scroll left top;
}
.msgcon {
	width: 674px;
}