/*=======================pay.css===========================*/
.ABC {
	background-position: -5px -6px;
}
.CCB {
	background-position: -5px -46px;
}
.CEBBANK {
	background-position: -5px -86px;
}
.CEB {
	background-position: -5px -86px;
}
.CMBC {
	background-position: -5px -126px;
}
.COMM {
	background-position: -5px -166px;
}
.GDB {
	background-position: -5px -206px;
}
.CITIC {
	background-position: -5px -246px;
}
.SDB {
	background-position: -5px -286px;
}
.SPDB {
	background-position: -5px -326px;
}
.ICBC {
	background-position: -5px -366px;
}
.CMB {
	background-position: -5px -406px;
}
.CIB {
	background-position: -5px -446px;
}
.POSTGC {
	background-position: -5px -486px;
}
.PSBC {
	background-position: -5px -486px;
}
.ICBCPub {
	background-position: -5px -531px;
}
.ICBCPer {
	background-position: -5px -576px;
}
.SPDBPub {
	background-position: -5px -621px;
}
.SPDBPer {
	background-position: -5px -661px;
}
.VISA {
	background-position: -5px -696px;
}
.ABC-VISA {
	background-position: -5px -696px;
}
.ABCPer {
	background-position: -5px -741px;
}
.ABCPub {
	background-position: -5px -780px;
}
.BOCB2C {
	background-position: -5px -820px;
}
.BOC {
	background-position: -5px -820px;
}
.BOCCCL {
	background-position: -5px -820px;
}
.BJRCBB2C {
	background-position: -5px -895px;
}
.BJRCB {
	background-position: -5px -895px;
}
.HZCBB2C {
	background-position: -5px -862px;
}
.HZCB {
	background-position: -5px -862px;
}
.SHBANK {
	background-position: -5px -926px;
}
.NBBANK {
	background-position: -5px -962px;
}
.SPABANK {
	background-position: -5px -1000px;
}