/*=======================reviewSub.css===========================*/
.sub_table {
	width: 585px;
}
.sub_table .ass {
	width: 50px;
}
.sub_text {
	width: 448px;
}
.sub_textarea {
	width: 448px;
	height: 337px;
	overflow: auto;
}
.errortips {
	display: none;
}
.sub_r img {
	height: 240px;
	margin-bottom: 10px;
	max-width: 320px;
}
.subr_prop {
	margin-bottom: 10px;
}