/*=======================SellerProducts.css===========================*/
.n0 {
	left: 365px;
}
.item_area .right .font_title2 {
	border-bottom: #dcdcdc 3px solid;
	text-align: left;
	margin: -2px auto 10px;
	padding-left: 10px;
	width: 208px;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	float: none;
	height: 28px;
	color: #760002;
	clear: both;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
}
.breadcrumb {
	background: url(/content/item/images/ico_dot.gif) no-repeat 2px 50%;
	padding-left: 20px;
	width: 960px;
	font-family: "Arial, Helvetica, sans-serif";
	margin: 0 auto 10px;
	float: none;
	clear: both;
	font-size: 12px;
}
.item_area .main_wrap .item_info2 {
	line-height: 24px;
	font-size: 14px;
}
.p_box {
	border: #d3ad5a 1px solid;
	padding: 10px;
	background-color: #fff8e9;
	width: 368px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 7px;
}
.p_box_off {
	border: #ededed 1px solid;
	padding: 10px;
	background-color: #f8f8f8;
	width: 368px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 7px;
	line-height: 190%;
}
.p_box_off .note_title {
	font-size: 14px;
	font-weight: bolder;
	font-family: 宋体;
}
.p_box_off .node .blue {
	display: inline-block;
	vertical-align: middle;
}
.p_info {
	line-height: 26px;
	height: 26px;
}
.item_area .item_info3 {
	border: #e3e3e3 1px solid;
	font-size: 12px;
	line-height: 24px;
	padding: 10px;
	background-color: #efefef;
	margin-bottom: 20px;
	float: left;
	overflow: hidden;
}
.item_area .item_info3 li {
	width: 230px;
	float: left;
	overflow: hidden;
}
.item_area .right {
	width: 230px;
	float: right;
}
.item_area .right .info .mallico {
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 10px;
}
.item_area .right li {
	line-height: 26px;
	float: none;
	margin: 0 auto;
	clear: both;
	padding: 0 5px;
}
.item_area .right .honor {
	background: url(/content/img/sprites/icon.png) no-repeat -80px -91px;
	width: 13px;
	height: 16px;
	display: inline-block;
	margin: 5px 4px 0;
}
.item_area .right .ltxt1 {
	width: 70px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
}
.item_area .right .buyerName {
	font-size: 16px;
	font-weight: bold;
	color: #F04D00;
	padding-left: 10px;
	display: inline-block;
	width: 140px;
	vertical-align: top;
}
.item_area .right .ltxt2 {
	text-align: center;
	width: 218px;
	font-family: Georgia, "Times New Roman", Times, serif;
	float: left;
	color: #333333;
	font-size: 18px;
	font-weight: bold;
}
.item_area .right .ltxtlong {
	text-align: right;
	display: inline-block;
	margin-left: 10px;
}
.item_area .right .textimg {
	height: 25px;
}
.item_area .right .textimg span {
	padding-right: 5px;
}
.item_area .right .timeout {
	color: #EB5E00;
}
.item_area .right .left2 {
	border: #e3dab7 1px solid;
	padding-bottom: 10px;
	width: 230px;
	text-align: center;
	background-repeat: repeat-x;
	background-position: 0px -395px;
	margin-bottom: 10px;
	float: left;
	height: auto;
}
.item_area .right .address {
	display: inline-block;
	width: 145px;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.item_area .right .sendmail {
	background: url(/content/item/images/all_buyer.gif) no-repeat 0px -273px;
	text-align: center;
	margin: 15px auto 10px;
	line-height: 23px;
	width: 146px;
	display: block;
	float: none;
	height: 23px;
	color: #ffffff;
	clear: both;
	font-size: 12px;
	cursor: pointer;
}
.item_area .right .sendmail A {
	color: #ffffff;
	text-decoration: none;
}
.item_area .right .sendmail A:hover {
	color: #fff;
	text-decoration: underline;
}
.item_area .right .rbox {
	border: #c8c8c8 1px solid;
	padding-bottom: 10px;
	background-color: #ffffff;
	width: 228px;
	background-repeat: repeat-x;
	margin-bottom: 12px;
	float: left;
	height: auto;
}
.item_area .right .showbanner {
	margin-bottom: 10px;
}
.item_area .right .link .link1 {
	padding-left: 30px;
	width: 80%;
	display: block;
	background: url(/content/item/images/ico_dot.gif) no-repeat 20px 5px;
	float: none;
	height: 20px;
	clear: both;
	margin: 0 auto;
}
.item_area .right .menu1 {
	text-align: center;
	border: #c6c6c6 1px solid;
	background-color: #eeeeee;
	width: 168px;
	display: block;
	margin: 0 auto 10px;
	float: none;
	height: 20px;
	clear: both;
	cursor: pointer;
	padding-top: 3px;
}
.item_area .right .menu1 A {
	display: block;
}
.item_area .main_wrap {
	width: 740px;
	float: left;
}
.item_area .item_area5 {
	width: 730px;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	float: left;
}
.item_area .item_record {
	border-bottom: #cccccc 3px solid;
	background-color: #fff8e9;
	width: 740px;
	height: 30px;
	color: #333333;
	margin-left: -10px;
	font-size: 12px;
	font-weight: bold;
}
.item_area .record1 {
	width: 200px;
	float: left;
}
.item_area .record2 {
	text-align: center;
	width: 80px;
	float: left;
}
.item_area .record3 {
	text-align: center;
	width: 300px;
	float: left;
}
.item_area .record4 {
	text-align: center;
	width: 100px;
	float: left;
}
.item_area .item_record2 {
	width: 740px;
	float: left;
}
.item_area .item_record2 LI {
	border-bottom: #f4e8d0 1px solid;
	float: left;
	height: 30px;
	padding-top: 5px;
}
.item_area .item_comment {
	border-bottom: #cccccc 3px solid;
	background-color: #fff8e9;
	width: 740px;
	height: 30px;
	color: #333333;
	margin-left: -10px;
	font-size: 12px;
	font-weight: bold;
}
.item_area {
	border-bottom: #cccccc 1px solid;
	padding-bottom: 10px;
	width: 980px;
	margin-bottom: 10px;
	float: none;
	height: auto;
	margin-left: auto;
	clear: both;
	overflow: hidden;
	margin-right: auto;
}
.item_area .right .product {
	border: #c8c8c8 1px solid;
	background-color: #ffffff;
	width: 738px;
	margin-bottom: 10px;
	float: left;
	height: auto;
}
.item_comment2 {
	width: 730px;
	float: left;
}
.item_comment2 .loading {
	text-align: center;
	line-height: 200px;
	height: 200px;
}
.item_comment2 .loading .img {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(/content/img/loading_32_32.gif) no-repeat;
}
.item_comment2 li {
	padding-bottom: 10px;
	line-height: 20px;
	height: auto;
	padding-top: 10px;
}
.item_comment2 .commenthd {
	line-height: 28px;
	padding: 10px 0;
	background: #e2e2e2;
}
.item_comment2 .commenthd .title {
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.item_comment2 .hd {
	border-bottom: 1px dashed #e2e2e2;
}
.item_comment2 .item {
	display: inline-block;
	text-align: center;
	line-height: 30px;
}
.item_comment2 .item1 {
	width: 15%;
}
.item_comment2 .item2 {
	width: 30%;
}
.item_comment2 .item3 {
	width: 35%;
}
.item_comment2 .item4 {
	width: 15%;
}
.item_comment2 .line {
	line-height: 30px;
	padding: 0 10px;
}
.product .p_list {
	width: 738px;
	float: left;
}
.p_show {
	padding-bottom: 20px;
	padding-left: 17px;
	width: 162px;
	float: left;
}
.new1 {
	margin-left: 15px;
}
.p_show P {
	padding-bottom: 5px;
}
.p_show .p_pic {
	border: 0;
	margin-bottom: 8px;
	text-align: center;
	width: 164px;
	height: 164px;
	overflow: hidden;
}
.p_show .p_pic img {
	border: #cccccc 1px solid;
	max-height: 162px;
	max-width: 162px;
	width: auto !important;
	height: auto !important;
	_width: 162px;
	_height: 162px;
}
.p_show A {
	color: #3366cc;
	text-decoration: none;
	line-height: 20px;
}
.p_show A:hover {
	text-decoration: underline;
}
.p_show .p_price {
	font-family: Arial, Helvetica, sans-serif;
	color: #cc0000;
	line-height: 22px;
	font-size: 14px;
	font-weight: bold;
}
.lright {
	float: right;
}
.lleft {
	float: left;
}
#tags {
	border-bottom: #ff7200 3px solid;
	padding: 0px;
	margin: 0px;
	width: 730px;
	height: 32px;
}
#tags LI {
	text-align: center;
	LIST-style-TYPE: none;
	width: 149px;
	background-repeat: no-repeat;
	_margin-bottom: -5px;
	background-position: left bottom;
	float: left;
	height: 32px;
	margin-right: 5px;
	line-height: 32px;
}
#tags LI A {
	background-image: url(/content/item/images/item_sel.jpg);
	padding: 5px 10px 0;
	line-height: 23px;
	width: 129px;
	background-repeat: no-repeat;
	background-position: right bottom;
	float: left;
	height: 27px;
	color: #777777;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
#tags LI.emptyTag {
	width: 4px;
	background: none transparent scroll repeat 0% 0%;
}
#tags LI.selectTag {
	position: relative;
	background-position: left top;
	height: 32px;
}
#tags LI.selectTag A {
	background-image: url(/content/item/images/item_sel_on.jpg);
	line-height: 25px;
	background-position: right top;
	height: 32px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}
#tagContent {
	padding: 1px;
	background-color: #fff;
}
.bgbuyer {
	width: 730px;
	height: 50px;
	background: url(/content/images/prodec.png) 0 0 no-repeat;
}
.bgbusiness {
	width: 730px;
	height: 50px;
	background: url(/content/images/prodec.png) 0 -51px no-repeat;
}
.alignright {
	width: 120px;
	text-align: right;
	height: 30px;
}
.alignright span {
	float: left;
}
.tagContent {
	padding: 0 0 10px;
	line-height: 24px;
	width: 730px;
	display: none;
	height: auto;
	color: #474747;
	font-size: 14px;
	overflow: hidden;
}
.item_area5 .selectTag {
	display: block;
}
.page_no {
	text-align: center;
	padding: 3px;
	margin: 3px;
	width: 550px;
	float: right;
	font-size: 12px;
}
.page_no A {
	border: #dedfde 1px solid;
	padding: 2px 6px;
	background-position: 50% bottom;
	color: #99210b;
	text-decoration: none;
}
.page_no A:hover {
	background-image: none;
	border: #000 1px solid;
	background-color: #940000;
	color: #fff;
}
.page_no A:active {
	background-image: none;
	border: #000 1px solid;
	background-color: #940000;
	color: #fff;
}
.page_no SPAN.thisclass {
	color: #99210b;
	font-weight: bold;
	margin-right: 3px;
	padding: 2px 6px;
}
.page_no SPAN.disabled {
	color: #adaaad;
	margin-right: 3px;
	padding: 2px 6px;
}
.safe_box {
	padding: 5px;
	background-color: #FEF8E6;
	font-size: 14px;
	height: 20px;
	color: #505050;
}
.propwapper .p_help {
	float: right;
	width: 350px;
	height: 20px;
	text-align: right;
	padding-top: 10px;
}
.propwapper .p_help IMG {
	margin-bottom: -4px;
	margin-right: 5px;
}
.propwapper .chinaArea .areaMod {
	position: relative;
}
.propwapper .chinaArea {
	line-height: 20px;
	width: 378px;
	position: absolute;
	z-index: 2;
	display: none;
}
.propwapper .chinaArea .item {
	margin: 8px 0 8px 10px;
}
.propwapper .chinaArea .item a {
	cursor: pointer;
}
.propwapper .flightdetail {
	display: none;
	border: 1px solid #FF8A3C;
	padding: 2px 5px;
	background-color: #FFF9DD;
	position: absolute;
	font-size: 0;
}
.propwapper .flightdetail .inner {
	background-color: #fff;
	padding: 3px 5px;
	font-size: 12px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}
.propwapper .flightdetail .arrow {
	display: inline-block;
	width: 7px;
	height: 14px;
	background: url(/content/img/sprites/singleproduct.png) no-repeat -24px -54px;
	position: absolute;
	left: -7px;
	top: 8px;
}
.propwapper .padlt {
	padding-left: 10px;
}
.propwapper .mt10 {
	margin-top: 10px;
}
.propwapper .showAreaHandle {
	padding: 0 3px;
	margin: 1px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}
.propwapper .showAreaHandle .arrow {
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 2px;
	margin-left: 5px;
	font-size: 0;
	background: url(/content/img/sprites/singleproduct.png) no-repeat -40px -53px;
}
.propwapper .showAreaHandle:hover {
	background-color: #FFFFE5;
	margin: 0;
	border: 1px solid #F29722;
	text-decoration: none;
}
h1 {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 10px;
}

/***2012-1-5***/
.sprites, .icoBox .layout, .collect em, .collectTemps .right, .collectTemps .error, .gray_bg, .s-zfb, .s-kjzf, .s-wsyh {
	background: url(/content/img/sprites/singleproduct.png) no-repeat;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.s-zfb, .s-kjzf, .s-wsyh {
	cursor: auto;
}
.contmod {
	text-align: right;
	margin-top: 10px;
	overflow: hidden;
}
.gray_bg {
	background-position: 0 -215px;
	cursor: text;
	width: 200px;
	height: 22px;
	padding-left: 10px;
}
.relative {
	position: relative;
	line-height: 0;
}
.icoBox {
	font-size: 0;
	letter-spacing: -4px;
}
.icoBox .span {
	font-size: 12px;
	letter-spacing: 0;
}
.icoBox .layout {
	width: 16px;
	height: 16px;
	margin: 0 2px;
}
.icoBox .ico_qzone {
	background-position: 0 -17px;
}
.icoBox .ico_weibo {
	background-position: 0 -34px;
}
.icoBox .ico_renren {
	background-position: 0 -51px;
}
.icoBox .ico_kaixin {
	background-position: 0 -68px;
}
.icoBox .ico_zhifubao {
	width: 62px;
	height: 20px;
	background-position: -138px -192px;
	margin: 2px 5px 0 0;
}
.icoBox .ico_safe {
	width: 14px;
	height: 14px;
	background-position: -23px -17px;
	margin: 3px 5px 0 0;
}
.icoBox .ico_matou {
	background-position: -1px -133px;
	width: 48px;
	height: 48px;
}
.absolute {
	position: absolute;
}
.absolute .ico_matou {
	position: absolute;
	top: 0px;
	right: -210px;
}
.sizeToConversion {
	width: 16px;
	height: 16px;
	background-position: 0 0;
}
.helpTobuy {
	width: 16px;
	height: 16px;
	background-position: -23px 0;
}
.buynow {
	margin-left: 10px;
	width: 149px;
	height: 47px;
	background-position: -51px 0;
}
.buyreturn {
	margin-left: 10px;
	width: 146px;
	height: 46px;
	background-position: -54px -97px;
}
.buynow_gray {
	margin-left: 10px;
	background-position: -51px -48px;
	width: 149px;
	height: 47px;
}
.buyreturn_gray {
	margin-left: 10px;
	background-position: -54px -144px;
	width: 146px;
	height: 46px;
}
.shopCollect {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-top: 10px;
}
.collectTemps .right {
	width: 24px;
	height: 20px;
	background-position: 0 -85px;
	margin-right: 10px;
}
.collectTemps .error {
	width: 24px;
	height: 24px;
	background-position: 0 -106px;
	margin-right: 10px;
}
.collect {
	position: absolute;
	width: 115px;
	height: 30px;
	vertical-align: middle;
	top: -20px;
}
.collect span {
	width: 115px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}
.collect span:hover {
	border: 1px solid #CBE9F8;
	color: #3369FF;
}
.collect span b {
	display: inline-block;
}
.collect span em {
	width: 20px;
	height: 18px;
	background-position: -24px -32px;
	margin: 2px 5px 0 10px;
	vertical-align: middle;
}

/***2012-1-5 end***/
.item_area .right .grayservice {
	text-align: left;
	line-height: 20px;
	margin: -6px 5px 10px;
	background: #EFEFEF;
}
.simg_box {
	float: left;
	width: 320px;
}
#simg_slider {
	width: 320px;
	height: 320px;
	line-height: 320px;
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
}
#simg_slider .vertical {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	width: 0;
}
#simg_slider li {
	float: left;
	width: 100%;
}
#simg_slider a {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 320px;
}
#simg_slider img {
	max-width: 330px;
	max-height: 330px;
}
#simg_PN {
	font-size: 12px;
}
#simg_PN #Next, #simg_PN #Prev {
	cursor: pointer;
}
#simg_slider div.middle {
	width: 320px;
	height: 320px;
	line-height: 320px;
	border: 1px solid #ddd;
	padding: 5px;
}

/**V账户返利**/
.v-fanli {
	position: relative;
	padding: 0 10px;
	background-color: #F04E00;
	color: #fff;
	height: 18px;
	line-height: 14px;
	cursor: pointer;
}
.v-fanli .tooltip-1 {
	width: 300px;
	color: #666;
	cursor: auto;
}
.v-fanli:hover .triangle {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-bottom: 6px;
	*margin-bottom: 0;
	margin-bottom: 0\9;
}
.triangle {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	font-size: 0;
	border: 4px solid #F04E00;
	border-top-color: #fff;
	margin-top: 3px;
}
.tooltip-2 {
	display: none;
	width: 300px;
	background-color: #f2f2f2;
	border: 1px solid #e2e2e2;
	line-height: 24px;
	padding: 5px 10px;
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 20;
	color: #666;
}
.zin {
	z-index: 5;
}
.propwapper {
	width: 390px;
	float: right;
	font-size: 13px;
	border-radius: 3px;
}
.prop {
	margin-bottom: 5px;
}
.prop_lbb {
	position: relative;
	height: 40px;
}
.p_star {
	position: absolute;
	top: 0;
	left: 0;
}
.p_mancout {
	position: absolute;
	top: 0;
	left: 140px;
	font-size: 14px;
}
.odtable td, .potable th {
	border-bottom: none 0;
}
table.odtable td.comm {
	border-bottom: 1px dashed #ddd;
}
.ttpic_seller {
	margin: 10px 0;
	padding: 10px;
	background-color: #efefef;
	line-height: 24px;
}
.span_security {
	background: transparent url(/ContentSrc/images/Security3.png) no-repeat scroll 0 1px;
	margin-bottom: 10px;
	padding-left: 16px;
	height: 16px;
	color: #88A825;
	font-size: 14px;
	font-weight: bold;
}
.spec_selected, .ui-state-active {
	background: url(/content/images/select.png) no-repeat bottom right;
}
.spec_not_available {
	border: 1px dotted gray;
	background-color: #EEEEEE;
}
.helpIcon {
	display: inline-block;
	cursor: pointer;
	width: 14px;
	height: 15px;
	margin-bottom: -3px;
	background: url(/content/img/sprites/icon.png) no-repeat -142px -269px;
}
.tipIcon {
	display: none;
	background: url(/content/img/sprites/tip.png) no-repeat 0 0;
	width: 220px;
	height: 65px;
	position: absolute;
}
.tipIcon .con {
	width: 180px;
	height: 46px;
	margin: 15px 0 0 14px;
}
.tipIcon .tit {
	color: #EB5E00;
}
.tipShut {
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	right: 8px;
	top: 12px;
}
.yellow {
	color: #EB5E00;
}
.ruiliLayerBox {
	border: 6px solid #F04F01;
	width: 350px;
	_width: 380px;
	padding: 30px;
	background: #fff;
}
.ruiliLayerBox .hd {
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.ruiliLayerBox .bd {
	height: 32px;
	line-height: 32px;
	background: #F04F01;
	padding: 0 10px;
	color: #fff;
	text-align: right;
	margin: 10px 0;
}
.ruiliLayerBox .bd a, .ruiliLayerBox .bd a:hover {
	color: #fff;
}
.ruiliLayerBox .bd .tit {
	float: left;
}
.ruiliLayerBox .text {
	width: 190px;
}
.ruiliLayerBox .imglogo {
	float: left;
	width: 71px;
	height: 48px;
	background: url(/content/img/sprites/active.png) no-repeat -124px 0;
	margin-right: 10px;
}
.ruiliLayerBox .imgerror {
	float: left;
	width: 41px;
	height: 36px;
	background: url(/content/img/sprites/active.png) no-repeat -197px 0;
	margin-right: 10px;
}
.ruiliLayerBox .item {
	display: inline-block;
	width: 100%;
}
.ruiliLayerBox .btn_2 {
	display: inline-block;
	height: 32px;
	background: url(/content/img/sprites/bg_x.png) no-repeat 0 0;
	padding: 0 0 0 10px;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	text-align: center;
	line-height: 32px;
	min-width: 50px;
	max-width: 300px;
}
.ruiliLayerBox .btn_2:hover {
	color: #fff;
}
.ruiliLayerBox .btn_2 i {
	background: url(/content/img/sprites/bg_x.png) no-repeat -298px 0;
	width: 2px;
	float: right;
	height: 32px;
	margin-left: 8px;
	font-size: 0;
}
.ruiliLayerBox .alert_box_dec {
	line-height: 24px;
}
.ruiliLayerBox .verifi {
	padding: 0 10px;
	margin: 0;
	display: none;
}
.ruiliLayerBox .fill .btn {
	padding-top: 10px;
	clear: both;
}
.ruiliLayerBox .alert_box_dec h3 {
	font-size: 14px;
}
.ruiliLayerBox .deco {
	text-align: center;
	padding: 10px 0 0;
}

/****规格选择****/
.Specification p {
	display: inline;
	padding: 0 5px;
}
.specontent dl {
	padding: 0;
	margin: 10px 0;
	clear: both;
	overflow: hidden;
}
.specontent .dt, .specontent .dd {
	float: left;
	position: relative;
	height: 26px;
}
.specontent dt {
	vertical-align: middle;
	text-align: right;
	height: 24px;
	line-height: 24px;
	margin: 2px 5px 0 0;
}
.specontent dd {
	margin: 2px 3px;
}
.specontent dd a {
	border: 1px solid #ccc;
	color: #000;
	background: #fff;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 0 5px;
	line-height: 24px;
	white-space: nowrap;
}
.specontent dd a:hover, .specontent dd a.hover {
	cursor: pointer;
	border: 1px solid red;
}
.specontent dd i {
	width: 12px;
	height: 12px;
	position: absolute;
	bottom: 0;
	_bottom: -4px;
	right: 0;
	background: url(/content/img/selete.gif) no-repeat 0 0;
	display: none;
}
.specontent dd a.hover i {
	display: block;
}
.specontent dd a.disabled {
	color: #ccc;
}
.specontent dd a.disabled img {
	opacity: 0.5;
	filter: Alpha(opacity = 50);
}
.specontent dd a.disabled:hover {
	border: 1px solid #ccc;
}
.buybtndisplay {
	display: none;
}

/**公告**/
.notice {
	clear: both;
	padding: 5px 10px;
	margin: 10px 0;
	line-height: 24px;
	border: 1px solid #EDCF76;
	background: -moz-linear-gradient(top, #FEF8E6, rgba(255, 255, 255, 1));
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEF8E6), to(rgba(255, 255, 255, 1)));
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#FEF8E6, endColorStr=#ffffff);
	background: gradient(linear, 0 0, 0 bottom, from(#FEF8E6), to(rgba(255, 255, 255, 1)));
}
.notice .l, .notice .r {
	display: inline-block;
	vertical-align: middle;
}
.notice .l {
	font: bold 14px/32px "\5b8b\4f53";
	color: #C79319;
	margin-right: 5px;
}
.notice .r {
	color: #000;
	font-size: 12px;
	width: 614px;
}

/**public**/
.webmessage {
	background: url(/content/img/sprites/shop.2014112500.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.webmessage {
	height: 24px;
	width: 77px;
	background-position: -123px -33px;
	cursor: pointer;
}
.item_area .right .padL {
	padding-left: 10px;
}
.center {
	text-align: center;
}
.node .l, .node .r {
	display: inline-block;
	vertical-align: middle;
}
.node .t {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}
.node .l {
	margin-right: 5px;
}
.tooltip-3 {
	border: 1px solid #FAC97A;
	background-color: #FFFFE5;
	padding: 8px;
	position: relative;
	line-height: 22px;
}
.tooltip-3 .arrow {
	width: 15px;
	height: 12px;
	background: url(/content/img/sprites/mymatouicon.gif) no-repeat -134px 0;
	line-height: 0;
	font-size: 0;
	left: 60px;
	bottom: -12px;
	position: absolute;
}
.tooltip-3 .close {
	width: 10px;
	height: 11px;
	background: url(/content/img/sprites/mymatouicon.gif) no-repeat -122px -21px;
	line-height: 0;
	font-size: 0;
	right: 10px;
	top: 10px;
	position: absolute;
}
.tooltip-1 {
	display: none;
	background-color: #E5F5FF;
	border: 1px solid #C9D5E2;
	line-height: 24px;
	padding: 5px 10px;
	position: absolute;
}
.help {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 15px;
	background: url(/content/img/sprites/mymatouicon.gif) no-repeat -136px -21px;
	margin: 0 0 3px 5px;
}
.payment {
	padding: 15px 0 10px;
}
.split {
	padding: 0 10px;
	height: 14px;
	line-height: 14px;
}
.s-zfb {
	background-position: -12px -196px;
	width: 37px;
	height: 14px;
}
.s-kjzf {
	background-position: -55px -196px;
	width: 50px;
	height: 14px;
}
.s-wsyh {
	background-position: -111px -195px;
	width: 21px;
	height: 16px;
}

/**spring**/
.blue-up .ic, .blue-down .ic {
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 9px;
	background: url(/content/img/sprites/mymatouicon.gif) no-repeat -193px -32px;
	font-size: 0;
}
.blue-up .txt, .blue-down .txt {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}
.blue-up .ic {
	background-position: -193px -21px;
}