<%=include global/header.html%>
<div class="protocol">
	<div>
	当您注册洋码头网站时，即表示您同意本用户协议。
	当本协议有变更时，如若您没有明确明示不接受新协议，洋码头将默认您同意新协议。
	</div>

	<div>
		<h3>一、	协议范围</h3>
		<p>本协议由您与洋码头网站的经营者共同缔结，本协议具有合同效力。</p>
		<p>洋码头网站的经营者是指法律认可的经营洋码头网站的责任主体，洋码头网站包括但不限于洋码头官网（域名为www.ymatou.com）、m.ymatou.com、sq.ymatou.com、洋码头扫货神器、洋码头官网App、洋码头App（买手版），本协议项下各洋码头网站的经营者可单称或合称为“洋码头”。</p>
	</div>
	<div>
		<h3>二、	注册主体</h3>
		<p>您注册或使用洋码头网站时，您必须确保您已经具有完全民事行为能力，如若您不具备此主体条件，则由您和您的监护人承担因此产生的后果及经济损失，并且洋码头有权暂停或终止您继续使用洋码头的权限。</p>
	</div>
	<div>
		<h3>三、	用户信息</h3>
		<p>您在注册或使用洋码头网站时，请您确保您所提供的信息正确性、准确性，并请您在资料或信息有变更时及时更新。</p>
	</div>
	<div>
		<h3>四、	账户安全</h3>
		<p>1.	您的洋码头账户、密码、邮箱及其他信息不得以任何方式或途径进行买卖、转让、赠与、继承。</p>
		<p>2.	您必须对您的洋码头账户、密码、邮箱及其他信息承担保密责任，并且您需要对您在洋码头账户、密码、邮箱下发生的所有行为承担责任。</p>
	</div>
	<div>
		<h3>五、	洋码头网站</h3>
		<p>1.	您可以通过洋码头网站查询或购买商品，对卖家进行如实的评价。</p>
		<p>2.	当您在洋码头网站进行的交易，与卖家发生交易纠纷时，双方无法协商一致可申请洋码头作为第三方进行处理，洋码头有权根据单方面判断作出处理结果，同时也默认您同意此处理结果。</p>
		<p>3.	洋码头网站有权应政府部门的要求，向其提供您在洋码头的用户信息和交易信息等资料。</p>
	</div>
	<div>
		<h3>六、	使用洋码头网站的规范</h3>
		<p>1.	您必须确保您在洋码头网站上的交易与行为都符合国家法律法规。如若您违反相关法律法规或本协议，导致洋码头网站遭受任何损失或索赔或行政部门的处罚，您应当赔偿洋码头网站因此造成的所有损失或费用。</p>
		<p>2.	在洋码头网站进行交易时，您必须遵守诚实守信的原则，不能以任何形式或行为（如：恶意购买商品、辱骂等）扰乱平台的正常交易环境和秩序。</p>
	</div>
	<div>
		<h3>七、	责任范围和限制</h3>
		<p>1.	洋码头网站将按现有的状态向您提供平台服务，但洋码头不保证平台服务与技术信息的适用性、准确性、正确性、可靠性等。</p>
		<p>2.	洋码头网站上的商品都是由卖家自行发布，可能存在风险或瑕疵，洋码头仅作为交易平台，应当由您自行断判商品的质量、安全及合法性，并由您承担因此产生的责任和损失。</p>
		<p>3.	洋码头网站没有义务对所有用户的信息、商品、交易等其他事项进行事先核实，除非法律法规有明确地要求。</p>
		<p>4.	任何情况下，洋码头网站均不承担因以下原因产生的不能服务或延迟服务的责任，包括但不限于：由信息网络正常的设备维护，信息网络连接故障，电脑，通讯，其他系统故障，火灾、洪水和其他不可抗力造成。
	</div>
	<div>
		<h3>八、	终止协议</h3>
	<p>1.	洋码头有权以任何理由限制或暂停或终止您使用平台，并有权不事先通知您，也无须向您承担任何责任或损失。</p>
	<p>2.	当您被限制或暂停或终止使用洋码头网站时，洋码头将继续享有您在使用期间存在的违法违规行为的权利主张。</p>
	<p>3.	当您被限制或暂停或终止使用洋码头网站时，您在使用洋码头网站期间产生的投诉、纠纷等行为，仍应当由您来承担相关的责任与损失。</p>
	</div>
</div>
<%=include global/footer.html%>