
.ico-caution,.icon-red-caution,.ico-success,.ico-qzone,.ico-weibo,.ico-renren,.ico-kaixin,.ico-doubt,.ico-weibo-png {background-image:url(/images/sprites/ico-small.2014112623.png)}

.ico-success,.ico-qzone,.ico-weibo,.ico-renren,.ico-kaixin,.ico-doubt,.icon-red-caution,.ico-weibo-png{display:inline-block;vertical-align:middle;background-repeat:no-repeat;}
.ico-success {width:20px; height:18px;background-position:0 0;}
.ico-qzone,.ico-weibo,.ico-renren,.ico-kaixin{width:16px;height:16px;}
.ico-qzone{background-position:-26px -20px}
.ico-weibo{background-position:-26px -41px}
.ico-weibo-png{background-position:-26px -131px;width:22px;height:20px}
.ico-renren{background-position:-26px -63px}
.ico-kaixin{background-position:-26px -85px}
.ico-doubt {width:18px;height:18px;background-position:0 -162px;}
.ico-new {display:inline-block;width:23px;height:11px;background:url(/content/images/new.2014112623.gif) 0 0}
.icon-red-caution {width:16px;height:16px;background-position:0 -254px;}

/*checkin from layout.css*/
.topbar .tooltip-3 .arrow {position:absolute;top:-8px;left:18px;background-position:-105px -233px;width:15px;height:8px;}
.topbar .tooltip-3 .close{width:10px;height:11px;background-position:-0px -63px;font-size:0;cursor:pointer;right:10px;top:10px;position:absolute;}
.topbar .tooltip-3 .arrow,.topbar .tooltip-3 .close{background-image:url(/images/sprites/ico-small.2014112623.png)}

.icon-phone{background:url(/images/sprites/phone.2014112623.png) no-repeat 0 0;width:9px;height:16px;display:inline-block;}
.icon-close{display:inline-block;width:12px;height:12px;background:url(/images/sprites/close.2014112623.png) no-repeat;vertical-align:middle}



