<%=include commons/header.html%>

<body class="body_niaobu" >
	<!-- 头部 -->
	<div class="banner">
		<div class="bannerCont">
			<a href="/forYmatouApp/redirect?url=s%3F__biz%3DMjM5OTMwODQyMA%3D%3D%26mid%3D205868163%26idx%3D1%26sn%3Dc1559c3533f2c581d1ad9648dca0f8fb%23rd&needJumpFlag=1&title=洋码头&hostname=mp.weixin.qq.com">
				<!-- <img src="http://staticontent.ymatou.com/ymtapp/activitys/milk/d08afde987894835832be2c1e769ccd7.jpg" alt="商品信息"> -->
				<img src="<%=staticfileurl('/images/activitys/milk/product-info-banner.jpg')%>" alt="商品信息">
			</a>
		</div>
	</div>

	<!-- 中间区域 -->
	<div class="k1_center">
		<figure class="k1_tugouBg"> 
			<img src="<%=staticfileurl('/images/activitys/milk/product-info.jpg')%>" alt="商品信息">
		</figure>
		<div class="canHeJian">
			<dl class="twoButton" >
				<dt class="towBtn_dt" >
					<em class="img img-baby"></em>
					已有<span class="J-profile">x</span>人参与团购
					<em class="img img-mom"></em>
				</dt>
				<dd class="towBtn_dd clear" >
					<div class="publicBtn fl J-join-group">
						<em>我有口令</em><strong>我要参团</strong>
					</div>
					<div class="publicBtn fr J-create-group">
						<em>我没有口令</em><strong>我要组团</strong>
					</div>
				</dd>
			</dl>
		</div>
	</div>

<%=include commons/bottom.html%>	
<%=include commons/footer.html%>