.wrapper, .area, .kinds {
	width: 1000px;
}
.allkinds .pubtab_1 {
	padding: 15px 0 15px 15px;
}
.pdClsTab .pubtab_1 {
	padding: 15px 0 15px 10px;
}
.pubtab_1 ul {
	padding: 5px;
}
.pubtab_1 .item {
	margin: 0 4px;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
.kinds dl {
	width: 286px;
	padding: 10px;
}
.kinds dl dd {
	width: 270px;
}
.kinds dl dt {
	text-align: left;
	margin-left: 10px;
}

/*BrandList style100*/
#productClass {
	width: 1000px;
}
.pdClsLetters {
	width: 980px;
	padding: 5px 10px;
}
.pdClsBrands .padlist {
	margin-left: 0px;
}
.site-nav {
	margin-left: 10px;
}
.site-nav a {
	margin-left: 3px;
}
.tab-bd .panel {
	width: 1000px;
}