/*=======================buyer.css===========================*/
body {
    background-repeat: repeat-x;
    background-position: 0px -22px;
}
.font_title1 {
    font-size: 14px;
    font-weight: bold;
    color: #2a2a2a;
    clear: both;
    float: none;
    height: 25px;
    width: 218px;
    margin-right: auto;
    margin-left: auto;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #CCCCCC;
    padding-top: 5px;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: repeat-x;
    background-position: 0px -395px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.font_title2 {
    font-size: 14px;
    font-weight: bold;
    color: #2a2a2a;
    clear: both;
    float: none;
    height: 28px;
    width: 218px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2px;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: 0px -164px;
    margin-top: -2px;
    padding-left: 10px;
}
.font_title3 {
    font-size: 14px;
    font-weight: bold;
    color: #2a2a2a;
    clear: both;
    float: none;
    height: 25px;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #CCCCCC;
    padding-top: 5px;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: repeat-x;
    background-position: 0px -395px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.shoppingcart {
    float: right;
    padding-top: 8px;
}
.shoppingcart li {
    float: left;
}
.nav_button2 {
    background-repeat: no-repeat;
    background-position: 0px -35px;
    background-image: url(/content/shop/images/all.gif);
    padding-left: 25px;
    float: right;
    height: 23px;
    width: 86px;
    padding-top: 6px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: hand;
}
.cart {
    height: 18px;
    width: 100px;
    border: 1px solid #D7D7D7;
    text-align: center;
    font-size: 12px;
    color: #AB0906;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: 0px -121px;
    padding-top: 2px;
}
.header {
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: repeat-x;
    background-position: 0px -22px;
    height: 38px;
    clear: both;
    float: none;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.area980 {
    clear: both;
    float: none;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.ico1 {
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: 0px -438px;
    height: 20px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.url_nav {
    clear: both;
    float: none;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #d8d8d8;
    height: 22px;
    margin-bottom: 10px;
    padding-top: 2px;
    font-size: 12px;
}
.url_nav span {
    padding-top: 5px;
}
.url_nav .url_now {
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: 0px -79px;
    height: 24px;
    width: 70px;
    float: left;
    margin-top: -2px;
    padding-left: 20px;
}
.url_nav img {
    margin-bottom: -5px;
    padding-left: 5px;
}
.main1 {
    background-image: url(/content/shop/images/dianpu_bg.jpg);
    background-repeat: no-repeat;
    clear: both;
    float: none;
    height: 150px;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.main1 .main2 {
    float: left;
    height: 107px;
    width: 900px;
    padding-top: 15px;
    padding-left: 80px;
}
.main1 .main2 li {
    float: left;
}
.main1 .main2 .buyer {
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    height: 40px;
    padding-left: 40px;
    float: left;
    width: 700px;
    display: block;
    margin-top: 20px;
}
#share2 .share {
    float: left;
    width: 240px;
    height: 20px;
    margin-left: 30px;
    font-family: "宋体";
    font-size: 12px;
    padding-left: 10px;
    filter: Alpha(Opacity=70);
}
#share2 .share input {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-family: "宋体";
    font-size: 12px;
    width: 50px;
    float: left;
    height: 18px;
    background-color: transparent;
    margin-top: -3px;
}
#share2 .share img {
    height: 16px;
    width: 16px;
    padding-right: 5px;
    float: left;
    margin-top: -2px;
}
#share2 .share span {
    float: left;
    padding-top: 5px;
}
#share2 .share .share span {
    float: left;
}
.main1 .main_nav {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ff4100;
    height: 28px;
    float: left;
    width: 980px;
}
.main1 .main_nav .click_on {
    font-size: 14px;
    color: #FFFFFF;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: 0px -195px;
    font-weight: bold;
    text-align: center;
    display: block;
}
.main1 .main_nav .click_on a {
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    display: block;
}
.main1 .main_nav .click {
    font-size: 14px;
    font-weight: bold;
    color: #970000;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: 0px -232px;
    text-align: center;
    height: 28px;
    width: 89px;
}
.main1 .main_nav .click a {
    color: #970000;
    text-decoration: none;
    display: block;
    padding-top: 5px;
}
.main1 .main_nav .click a:hover {
    color: #FFFFFF;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: 0px -195px;
    display: block;
    height: 28px;
    width: 89px;
}
.main1 .main_nav li {
    float: left;
    height: 28px;
    width: 89px;
    margin-left: 15px;
    display: block;
    cursor: hand;
}
.content .left {
    float: left;
    width: 230px;
}
.content .left li {
    clear: both;
    float: none;
    margin-right: auto;
    margin-left: auto;
    line-height: 24px;
}
.content .left span {
    float: left;
}
.content .left .ltxt1 {
    width: 90px;
    float: left;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.content .left .left2 {
    background-repeat: repeat-x;
    background-position: 0px -395px;
    border: 1px solid #e3dab7;
    margin-bottom: 10px;
    float: left;
    height: auto;
    width: 230px;
    padding-bottom: 10px;
}
.content .left .left2 .sendmail {
    background-image: url(/content/shop/images/all_buyer.gif);
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: 0px -273px;
    text-align: center;
    height: 23px;
    width: 146px;
    color: #FFFFFF;
    display: block;
    cursor: hand;
    clear: both;
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.content .left .left2 .sendmail a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}
.content .left .left2 .sendmail a:hover {
    color: #990000;
    text-decoration: underline;
    display: block;
}
.content .left .left3 {
    border: 1px solid #e3dab7;
    margin-bottom: 12px;
    background-repeat: repeat-x;
    width: 228px;
    float: left;
    height: auto;
    padding-bottom: 10px;
}
.content .left .showbanner {
    margin-bottom: 10px;
}
.content .left .link .link1 {
    background-repeat: no-repeat;
    background-position: 20px 5px;
    padding-left: 30px;
    display: block;
    clear: both;
    float: none;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-image: url(/content/shop/images/ico_dot.gif);
    height: 20px;
}
.content .left .menu1 {
    clear: both;
    float: none;
    height: 20px;
    line-height: 18px;
    width: 168px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3px;
    background-color: #eeeeee;
    border: 1px solid #c6c6c6;
    margin-bottom: 10px;
    text-align: center;
    cursor: hand;
    display: block;
}
.content .left .menu1 a {
    display: block;
}
.content .right {
    float: right;
    width: 740px;
}
.content {
    clear: both;
    float: none;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.content .right .product {
    border: 1px solid #e3dab7;
    height: auto;
    float: left;
    width: 738px;
    margin-bottom: 10px;
}
.product .p_list {
    float: left;
    width: 738px;
}
.p_show {
    width: 162px;
    padding-left: 17px;
    float: left;
    height: 240px;
    padding-bottom: 20px;
}
.new1 {
    margin-left: 15px;
}
.p_show p {
    padding-bottom: 5px;
    WORD-WRAP: break-word;
    WORD-BREAK: break-all
}
.p_pic {
    border: 1px solid #DDD;
    width: 160px;
    height: 160px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.p_show a {
    color: #3366cc;
    text-decoration: none;
}
.p_show a:hover {
    text-decoration: underline;
}
.p_price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #cc0000;
}
.lright {
    float: right;
}
.lleft {
    float: left;
}
.content1 .board {
    float: left;
    width: 738px;
    border: 1px solid #e3dab7;
    margin-bottom: 10px;
    background-image: url(/content/shop/images/ico_bgg.gif);
    background-repeat: repeat-x;
}
.content1 .board .msg1 {
    font-size: 14px;
    padding-left: 10px;
}
.content1 .tax .msg2 {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
    width: 430px;
}
.content1 .tax {
    border: 1px solid #e3dab7;
    float: left;
    height: 80px;
    width: 490px;
    margin-bottom: 10px;
    background-image: url(/content/shop/images/ico_bgg.gif);
    background-repeat: repeat-x;
}
.content1 .tax .tax_title {
    font-size: 14px;
    font-weight: bold;
    height: 80px;
    width: 25px;
    float: left;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-position: 0px -302px;
    padding-left: 10px;
}
.content1 .pay {
    float: right;
    height: 80px;
    width: 230px;
    border: 1px solid #e3dab7;
    text-align: center;
    background-image: url(/content/shop/images/ico_bgg.gif);
    background-repeat: repeat-x;
}
.product .p_title {
    height: 28px;
    width: 693px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ff4100;
    background-repeat: no-repeat;
    padding-left: 45px;
    margin-top: 20px;
    float: left;
}
.product .p_title li {
    float: left;
    margin-right: 1px;
    list-style-type: none;
    height: 28px;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: left -608px;
}
.product .p_title li A {
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    padding-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    height: 28px;
    text-decoration: none;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: right -640px;
    font-size: 14px;
}
.product .p_sort {
    background-color: #f2f2f2;
    clear: both;
    float: left;
    height: auto;
    width: 700px;
    border: 1px solid #e4e4e4;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product .p_sort a {
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: no-repeat;
    background-position: 0px -438px;
    float: left;
    height: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 7px;
}
.service {
    margin-top: 0px;
    width: 968px;
    float: none;
    height: 95px;
    margin-left: auto;
    clear: both;
    margin-right: auto;
    margin-bottom: 10px;
}
#footer {
    background-image: url(/content/shop/images/footer_bg.jpg);
    margin-top: 0px;
    width: auto;
    float: none;
    height: 150px;
    margin-left: auto;
    clear: both;
    margin-right: auto;
    line-height: 22px;
}
#footer UL {
    border-bottom: #ff0000 0px solid;
    border-left: #ff0000 0px solid;
    margin-top: 10px;
    width: 130px;
    float: left;
    color: #c9c9c9;
    margin-left: 100px;
    border-top: #ff0000 0px solid;
    margin-right: 20px;
    border-right: #ff0000 0px solid;
}
#footer .footer968 {
    padding-left: 68px;
    width: 900px;
    margin-left: auto;
    clear: both;
    margin-right: auto;
}
#footer .footer968 A {
    color: #c9c9c9;
    text-decoration: none;
}
#footer .footer968 A:hover {
    color: #ff6600;
    text-decoration: underline;
}
#footer .footer9682 {
    text-align: center;
    width: 968px;
    color: #f2f2f2;
    margin-left: auto;
    clear: both;
    margin-right: auto;
}

/*CSS 页码*/
.page_no {
    margin: 3px;
    text-align: center;
    padding: 3px;
    float: right;
    font-size: 12px;
}
.page_no A {
    border-right: #dedfde 1px solid;
    padding-right: 6px;
    background-position: 50% bottom;
    border-top: #dedfde 1px solid;
    padding-left: 6px;
    padding-bottom: 2px;
    border-left: #dedfde 1px solid;
    color: #99210b;
    margin-right: 3px;
    padding-top: 2px;
    border-bottom: #dedfde 1px solid;
    text-decoration: none;
}
.page_no A:hover {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    background-image: none;
    border-left: #000 1px solid;
    color: #fff;
    border-bottom: #000 1px solid;
    background-color: #940000;
}
.page_no A:active {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    background-image: none;
    border-left: #000 1px solid;
    color: #fff;
    border-bottom: #000 1px solid;
    background-color: #940000;
}
.page_no SPAN.thisclass {
    padding-right: 6px;
    padding-left: 6px;
    font-weight: bold;
    padding-bottom: 2px;
    color: #99210b;
    margin-right: 3px;
    padding-top: 2px;
}
.thisclass {
    padding-right: 6px;
    padding-left: 6px;
    font-weight: bold;
    padding-bottom: 2px;
    color: #99210b;
    margin-right: 3px;
    padding-top: 2px;
}
.page_no SPAN.disabled {
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    color: #adaaad;
    margin-right: 3px;
    padding-top: 2px;
}
.disabled {
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    color: #adaaad;
    margin-right: 3px;
    padding-top: 2px;
}
.content .about .about1 {
    width: 980px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: auto;
    float: none;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.about1 .P_price2 {
    margin-left: 30px;
    margin-right: 30px;
}
.about1 .P_price2 p {
    margin-top: 10px;
    height: 25px;
}
.left20 {
    padding-left: 20px;
}
.content .about .about1 li {
    line-height: 24px;
    padding-bottom: 6px;
}
.content .about .about1 .title_about {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    padding-left: 30px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-bottom-style: inset;
    border-top-color: #ff6000;
    border-right-color: #ff6000;
    border-bottom-color: #ff6000;
    border-left-color: #ff6000;
    background-image: url(/content/shop/images/all_buyer.gif);
    background-repeat: repeat-x;
    background-position: 0px -395px;
}
.content .about .about1 .a_product {
    float: left;
    width: 195px;
    height: auto;
    margin-left: 30px;
}
.content .about .about1 .a_product img {
    padding: 2px;
    border: 1px solid #CCCCCC;
}
.content .about .about2 {
    background-color: #f2f2f2;
    float: left;
    width: 920px;
    margin-left: 20px;
    border: 1px solid #CCCCCC;
    height: auto;
    margin-bottom: 10px;
    clear: both;
    margin-right: auto;
    padding-left: 10px;
    display: block;
}
.content .about .about3 {
    float: left;
    width: 880px;
}
.content .about .about3 a {
    background-color: #ffffe5;
    padding: 4px;
    border: 1px solid #ffcc7f;
    display: block;
    margin-right: -1px;
    float: left;
    width: auto;
    text-align: center;
    height: 18px;
}
.content .about .about3 a:hover {
    background-color: #990000;
    padding: 4px;
    border: 1px solid #FF6600;
    display: block;
    margin-right: -1px;
    float: left;
    text-align: center;
    color: #FFFFFF;
}
.content .about .about3 a:visited {
    background-color: #990000;
    padding: 4px;
    border: 1px solid #FF6600;
    display: block;
    margin-right: -1px;
    float: left;
    text-align: center;
    color: #FFFFFF;
}
.content .about .about4 {
    padding-bottom: 5px;
    padding-top: 5px;
    height: auto;
    float: left;
    width: 900px;
    display: block;
}
.content .about .about4 span {
    float: left;
    width: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.content .about .about4 input {
    padding-right: 6px;
}
.content .about .about5 {
    color: #333333;
    background-color: #ffffe5;
    height: 20px;
    width: 150px;
    border: 1px solid #FF9900;
    padding: 3px;
    font-size: 12px;
    font-weight: normal;
}
.content .about .about6 {
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCCCCC;
    width: 900px;
    float: left;
    padding-top: 10px;
}
.content .about .about6 span {
    float: left;
    margin-left: 10px;
}
.content .about .about6 img {
    padding: 2px;
    border: 1px solid #CCCCCC;
    height: 60px;
    width: 60px;
}
.content .about .about6 .username {
    width: 80px;
}
.content .about .about6 .productname {
    width: 400px;
    overflow: hidden;
    display: block;
}
.pay1 {
    margin-top: -20px;
    text-align: center;
}
.pay1 a {
    color: #FF0000;
}
.content .about .ico_matou span {
    float: left;
    padding-right: 30px;
}
.info_user {
    text-align: center;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d9d9d9;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.info_user span {
    padding-right: 10px;
}
.info_user img {
    margin-bottom: -5px;
    padding-right: 10px;
    padding-left: 10px;
}
.ico_matou {
    padding-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
}
.ico_matou img {
    padding-top: 0px;
    padding-right: 10px;
    margin-bottom: -5px;
}
#commentx {
    background-color: #CCCCCC;
    float: left;
    height: 25px;
    width: 980px;
}
.comment a {
    color: #0066FF;
}
.comment a:hover {
    color: #FF3300;
    text-decoration: underline;
}
.comment {
    float: left;
    width: 980px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}
.comment .comment1 {
    width: 80px;
    float: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FFFFFF;
    padding-left: 20px;
}
.comment .comment2 {
    width: 50px;
    float: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FFFFFF;
}
.comment .comment3 {
    width: 400px;
    float: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FFFFFF;
    padding-right: 10px;
    padding-left: 10px;
}
.comment .comment4 {
    width: 300px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.article {
    width: 980px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: auto;
    float: none;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.article li {
    float: left;
    width: 980px;
    height: 30px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCCCCC;
    padding: 10px 0;
}
.article1 {
    float: left;
    width: 600px;
}
.article1 img {
    padding-right: 5px;
}
.article2 {
    float: left;
    width: 100px;
}
.article3 {
    float: left;
    width: 100px;
    text-align: center;
}
.article4 {
    float: left;
}
.article5 {
    background-color: #ebebeb;
    padding-top: 10px;
    height: 20px;
}
.txtcenter {
    text-align: center;
}
.font14 {
    font-size: 12px;
    padding-top: 5px;
    padding-left: 10px;
}
.txtcenter {
    text-align: center;
}
.rate {
    border: 1px solid #CCCCCC;
    width: 240px;
    margin-left: 20px;
    float: left;
}
.point {
    border: 1px solid #CCCCCC;
    width: 650px;
    margin-left: 20px;
}
.rate2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    float: left;
    border-bottom-color: #CCCCCC;
    width: 240px;
    display: block;
}
.rate2 img {
    padding-left: 5px;
    padding-top: 3px;
}
.rate2 span {
    float: left;
}
.rate3 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    float: left;
    border-bottom-color: #CCCCCC;
    width: 650px;
    display: block;
}
.rate3 img {
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 5px;
}
.rate3 span {
    float: left;
}
.rate p {
    padding-left: 0px;
}
.rate1 {
    width: 60px;
    float: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
}
.rate4 {
    width: 140px;
    float: left;
    height: 25px;
    border-right-color: #CCC;
    border-right-width: 1px;
    border-right-style: solid;
    text-align: right;
    padding-right: 10px;
}
.rate5 {
    width: 91px;
    float: left;
    height: 25px;
}
#ajaxload {
    z-index: 9990;
    position: fixed;
    filter: alpha(opacity=75);
    width: 100%;
    display: none;
    background: url(http://img.ymatou.com/portal/images/ajaxload5.gif) #222 no-repeat 50% 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.75;
}

/*-添加的css*/
#share1 {
    position: relative;
    width: 74px;
    z-index: 1;
}
#share2 {
    position: absolute;
    width: 200px;
    height: 34px;
    z-index: 1;
    left: 678px;
    top: 111px;
}
ul {
    font-size: 12px;
}
.main1 .main2 .shop_search_box {
    float: right;
    margin-right: 5px;
    width: 382px;
    _width: 395px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    text-align: right;
    padding-right: 20px
}
.main1 .main2 .shop_search_box .btn_1 {
    float: right
}
.main1 .main2 .shop_search {
    width: 280px;
    height: 26px;
    line-height: 26px;
    float: left;
    border: 1px solid #DADADA;
    box-shadow: 2px 2px 4px #F0F0F0 inset;
    border-top: 1px solid #bababa;
    padding: 2px 5px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px
}
.customphoto {
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.customphoto img {
    max-height: 80px;
    max-width: 80px;
    _width: 80px;
    _height: 80px;
}