@charset "UTF-8";

//首要颜色
$primary-color: #ff534b;
$normal-color: #666;
$major-color: #333;
$minor-color: #999;
$operate-color: #3369ff;

$docbg-color: #fbfbfb;
$title-color: #383838;
$icon-color: #868686;
$border-color: #cecece;

//图片路径
$imgage-path: "";

$version: "2015042601";

$basepath: "";
$ymtWapIconpath: $basepath + "/assets/font";